.calculating-cost-stretch-ceiling {
  background-color: #F7F7F7;
}

.calculating-cost-stretch-ceiling .title {
  max-width: 12em;
  margin-bottom: 0.95em;
  line-height: 1.2;
}

.calculating-cost-stretch-ceiling .title, .calculating-cost-stretch-ceiling__inner {
  margin-left: auto;
  margin-right: auto;
}

.calculating-cost-stretch-ceiling .text {
  margin-bottom: 1.263em;
  text-align: left;
}

.calculating-cost-stretch-ceiling__inner {
  max-width: 21.6em;
}

.calculating-cost-stretch-ceiling__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.calculating-cost-stretch-ceiling__value {
  font-size: 1.5em;
  font-weight: 700;
  white-space: nowrap;
}

.calculating-cost-stretch-ceiling__value sup {
  font-size: 0.4em;
  font-weight: 900;
}

.calculating-cost-stretch-ceiling__value-small {
  font-size: 1.6rem;
}

.calculating-cost-stretch-ceiling__slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 100%;
  height: 0.250em;
  margin-bottom: 1.813em;
  background: #C4C4C4;
  outline: none;
  border-radius: 0.313em;
}

.calculating-cost-stretch-ceiling__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.313em;
  height: 1.313em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0.25em solid #F26422;
  cursor: pointer;
}

.calculating-cost-stretch-ceiling__slider::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  width: 1.313em;
  height: 1.313em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0.25em solid #F26422;
  cursor: pointer;
}

.calculating-cost-stretch-ceiling__slider:before, .calculating-cost-stretch-ceiling__slider:after {
  position: absolute;
  top: -0.5em;
  font-size: 0.625em;
  color: #C4C4C4;
}

.calculating-cost-stretch-ceiling__slider:before {
  content: '5';
  left: -2.1em;
}

.calculating-cost-stretch-ceiling__slider:after {
  content: '50';
  right: -2.1em;
}

.calculating-cost-stretch-ceiling__slider-box {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.calculating-cost-stretch-ceiling .button {
  width: 100%;
  min-height: 2.500em;
  letter-spacing: 0;
}

@media (min-width: 600px) {
  .calculating-cost-stretch-ceiling .title {
    max-width: none;
  }
  .calculating-cost-stretch-ceiling__inner {
    max-width: 42.6em;
  }
  .calculating-cost-stretch-ceiling__button-box {
    max-width: 29.188em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .calculating-cost-stretch-ceiling {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .calculating-cost-stretch-ceiling .title {
    margin-bottom: 0.65em;
  }
  .calculating-cost-stretch-ceiling__inner {
    max-width: 44.3em;
  }
  .calculating-cost-stretch-ceiling .text {
    margin-bottom: 1.063em;
  }
  .calculating-cost-stretch-ceiling__value {
    font-size: 1.875em;
  }
  .calculating-cost-stretch-ceiling__value-small {
    font-size: 2.4rem;
  }
  .calculating-cost-stretch-ceiling__slider {
    margin-bottom: 2.213em;
  }
  .calculating-cost-stretch-ceiling__slider:before, .calculating-cost-stretch-ceiling__slider:after {
    font-size: 0.938em;
  }
  .calculating-cost-stretch-ceiling__slider:before {
    left: -1.9em;
  }
  .calculating-cost-stretch-ceiling__slider:after {
    right: -1.9em;
  }
  .calculating-cost-stretch-ceiling__slider::-webkit-slider-thumb {
    width: 1.7em;
    height: 1.7em;
    border-width: 0.150em;
  }
  .calculating-cost-stretch-ceiling__slider::-moz-range-thumb {
    width: 1.7em;
    height: 1.7em;
    border-width: 0.150em;
  }
  .calculating-cost-stretch-ceiling__slider-box {
    max-width: 92%;
  }
}

@media (min-width: 1200px) {
  .calculating-cost-stretch-ceiling {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .calculating-cost-stretch-ceiling .title {
    margin-bottom: 0.75em;
  }
  .calculating-cost-stretch-ceiling__inner {
    max-width: 71.3em;
  }
  .calculating-cost-stretch-ceiling__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2em;
  }
  .calculating-cost-stretch-ceiling__values {
    width: 17.5em;
    margin-bottom: 0;
    -webkit-transform: translateX(0.5em);
            transform: translateX(0.5em);
  }
  .calculating-cost-stretch-ceiling__slider {
    margin-bottom: 0;
  }
  .calculating-cost-stretch-ceiling__slider-box {
    width: 36.6%;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .calculating-cost-stretch-ceiling__slider::-webkit-slider-thumb {
    width: 2.1em;
    height: 2.1em;
  }
  .calculating-cost-stretch-ceiling__slider::-moz-range-thumb {
    width: 2.1em;
    height: 2.1em;
  }
  .calculating-cost-stretch-ceiling__button-box {
    max-width: 16.938em;
    margin-left: 0;
    margin-right: 0;
  }
  .calculating-cost-stretch-ceiling .button {
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
}
/*# sourceMappingURL=calculating-cost-stretch-ceiling.css.map */