.ceilings-table {
  /* .ceilings-table__wrapper */
  /* .ceilings-table__title */
  /* .ceilings-table__inner */
  /* .ceilings-table__first-column */
  /* .ceilings-table__first-text-title */
  /* .ceilings-table__first-text */
  /* .ceilings-table__column */
  /* .ceilings-table__item */
  /* .ceilings-table__item-title */
  /* .ceilings-table__item-text */
}

.ceilings-table *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ceilings-table *::-webkit-scrollbar-track {
  background: #e8e8e8;
  border-radius: 2em;
}

.ceilings-table *::-webkit-scrollbar-thumb {
  background-color: #ffe600;
  border-radius: 2em;
  border: 0 solid #e8e8e8;
}

@media (max-width: 767px) {
  .ceilings-table .container {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .ceilings-table__wrapper {
    max-width: 100%;
    margin-left: 1em;
  }
}

.ceilings-table__title {
  padding: 0 2em;
  line-height: 1.2;
  margin-bottom: 1.35em;
}

@media (min-width: 768px) {
  .ceilings-table__title {
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 0.95em;
  }
}

@media (min-width: 1200px) {
  .ceilings-table__title {
    line-height: 1.2;
    margin-bottom: 0.8em;
  }
}

.ceilings-table__inner {
  position: relative;
}

.ceilings-table__inner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3em;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  pointer-events: none;
}

@media (min-width: 768px) {
  .ceilings-table__inner::after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(246, 246, 246, 0)), to(#f6f6f6));
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
  }
}

@media (min-width: 1200px) {
  .ceilings-table__inner::after {
    content: none;
  }
}

.ceilings-table__first-column {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  position: absolute;
  z-index: 1;
}

.ceilings-table__first-text-title, .ceilings-table__first-text, .ceilings-table__item-title, .ceilings-table__item-text {
  width: 15.2rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .ceilings-table__first-text-title, .ceilings-table__first-text, .ceilings-table__item-title, .ceilings-table__item-text {
    height: 4.3rem;
    width: 22.6rem;
  }
}

@media (max-width: 767px) {
  .ceilings-table__item-title, .ceilings-table__item-text {
    width: 10.2rem;
  }
}

@media (min-width: 768px) {
  .ceilings-table__item-title, .ceilings-table__item-text {
    width: auto;
    white-space: nowrap;
  }
}

.ceilings-table__first-text-title, .ceilings-table__item-title {
  font-weight: 700;
  height: 3.7rem;
}

@media (min-width: 768px) {
  .ceilings-table__first-text-title, .ceilings-table__item-title {
    font-weight: 900;
    height: 5rem;
  }
}

.ceilings-table__first-text, .ceilings-table__item-text {
  border-bottom: 1px solid #e8e8e8;
}

.ceilings-table__first-text:last-child, .ceilings-table__item-text:last-child {
  border-bottom: none;
}

.ceilings-table__first-text-title {
  background-color: #FFE600;
  border-radius: 0.5em 0.5em 0 0;
  letter-spacing: 0.03em;
}

.ceilings-table__first-text span {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .ceilings-table__first-text span {
    font-size: 1.6rem;
    text-transform: initial;
  }
}

@media (min-width: 768px) {
  .ceilings-table__first-text {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.ceilings-table__column {
  margin-left: 15.2rem;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ffe600 #ccc;
}

@media (min-width: 768px) {
  .ceilings-table__column {
    margin-left: 22rem;
  }
}

@media (min-width: 1200px) {
  .ceilings-table__column {
    overflow-x: visible;
  }
}

.ceilings-table__item {
  border-right: 1px solid #e8e8e8;
}

.ceilings-table__item:last-child {
  border-right: none;
}

.ceilings-table__item-title {
  background: #9a9a9a;
  color: #fff;
  font-size: 1rem;
  padding: 0 2.4rem;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .ceilings-table__item-title {
    font-size: 1.6rem;
  }
}

.ceilings-table__item-text:last-child {
  height: 3.6rem;
}

@media (min-width: 768px) {
  .ceilings-table__item-text:last-child {
    height: 3.9rem;
  }
}

@media (min-width: 1200px) {
  .ceilings-table__item-text:last-child {
    height: 5rem;
  }
}

@media (min-width: 768px) {
  .ceilings-table__item-text {
    font-size: 1.8rem;
  }
}
/*# sourceMappingURL=ceilings-table.css.map */