@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.installation-ceiling-video {
    /* .installation-ceiling-video__title */

    &__title {
        line-height: 1.2em;
        margin-bottom: 1em;

        @include _768 {
            margin-bottom: 1.1em;
        }

        @include _1200 {
            margin-bottom: 1.35em;
        }
    }

    /* .installation-ceiling-video__block-video */

    &__block-video {
        height: 19rem;
        margin-bottom: 1.6em;
        position: relative;

        @include _768 {
            height: 40rem;
            margin-bottom: 2.1em;
        }

        @include _1200 {
            height: 64.8rem;
            margin-bottom: 3.5em;
        }
    }

    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    /* .installation-ceiling-video__btn */

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 4rem;
        text-decoration: none;
        max-width: 16.5rem;
        margin: 0 auto;

        @include _768 {
            max-width: 22.6rem;
        }

        @include _1200 {
            min-height: 5rem;
            max-width: 37rem;
        }
    }
}
