@import '../../base/all/var';

.types-stretch-ceilings {
    .title {
        margin-bottom: 3.8rem;
        line-height: 1.2;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 34.5rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__item {
        position: relative;
        min-width: 16.5rem;
        margin-bottom: 2.5rem;

        &:nth-child(7),
        &:nth-child(8) {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            top: -1.1rem;
            right: 0;
            width: 15.4rem;
            height: 20.4rem;
            background-color: #F1F0F0;
            z-index: -1;
        }
    }

    &__title {
        margin-bottom: 0.6rem;
        text-transform: uppercase;
    }

    &__image {
        margin-bottom: 0.6rem;
        max-width: 15.4rem;
    }

    &__price,
    &__link {
        border: 0.1rem solid $orange;
    }

    &__price {
        margin-bottom: 2.3rem;
        max-width: 9.5rem;
        min-height: 2.4rem;
        padding: 0.4rem 0.5rem;
        font-size: 1.4rem;
        border-radius: 0.3rem;
        background-color: $white;
        text-align: center;

        sup {
            font-size: 0.8rem;
        }
    }

    &__link {
        display: block;
        padding: 0.6rem 0;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        border-radius: 0.6rem;
        font-size: 1.4rem;
        transition: background-color 0.3s, 
                    color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    @media (min-width: 768px) {
        .title {
            margin-bottom: 4.6rem;
        }

        &__list {
            max-width: 70.7rem;
            justify-content: start;
            column-gap: 1.5rem;
        }

        &__item {
            min-width: 22.5rem;
            margin-bottom: 3.3rem;

            &:before {
                top: -1.5rem;
                width: 21rem;
                height: 28rem;
            }
        }

        &__title {
            margin-bottom: 1.1rem;
            font-size: 1.8rem;
        }

        &__image {
            margin-bottom: 1.1rem;
            max-width: 21.1rem;
        }

        &__price,
        &__link {
            font-size: 2rem;
        }

        &__price {
            margin-bottom: 3rem;
            max-width: 13rem;
            min-height: 3.4rem;

            sup {
                font-size: 1rem;
            }
        }
        
        &__link {
            padding: 0.7rem 0;
        }
    }

    @media (min-width: 1200px) {
        &__list {
            max-width: 96rem;
            column-gap: 2rem;
        }

        &__item {
            margin-bottom: 4.8rem;

            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
                margin-bottom: 0;
            }
        }
    }
}