.types-stretch-ceilings .title {
  margin-bottom: 3.8rem;
  line-height: 1.2;
}

.types-stretch-ceilings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 34.5rem;
  margin-right: auto;
  margin-left: auto;
}

.types-stretch-ceilings__item {
  position: relative;
  min-width: 16.5rem;
  margin-bottom: 2.5rem;
}

.types-stretch-ceilings__item:nth-child(7), .types-stretch-ceilings__item:nth-child(8) {
  margin-bottom: 0;
}

.types-stretch-ceilings__item:before {
  content: '';
  position: absolute;
  top: -1.1rem;
  right: 0;
  width: 15.4rem;
  height: 20.4rem;
  background-color: #F1F0F0;
  z-index: -1;
}

.types-stretch-ceilings__title {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

.types-stretch-ceilings__image {
  margin-bottom: 0.6rem;
  max-width: 15.4rem;
}

.types-stretch-ceilings__price, .types-stretch-ceilings__link {
  border: 0.1rem solid #F26422;
}

.types-stretch-ceilings__price {
  margin-bottom: 2.3rem;
  max-width: 9.5rem;
  min-height: 2.4rem;
  padding: 0.4rem 0.5rem;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  background-color: #ffffff;
  text-align: center;
}

.types-stretch-ceilings__price sup {
  font-size: 0.8rem;
}

.types-stretch-ceilings__link {
  display: block;
  padding: 0.6rem 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  -webkit-transition: background-color 0.3s,  color 0.3s;
  transition: background-color 0.3s,  color 0.3s;
  cursor: pointer;
}

.types-stretch-ceilings__link:hover {
  background-color: #F26422;
  color: #ffffff;
}

@media (min-width: 768px) {
  .types-stretch-ceilings .title {
    margin-bottom: 4.6rem;
  }
  .types-stretch-ceilings__list {
    max-width: 70.7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
  .types-stretch-ceilings__item {
    min-width: 22.5rem;
    margin-bottom: 3.3rem;
  }
  .types-stretch-ceilings__item:before {
    top: -1.5rem;
    width: 21rem;
    height: 28rem;
  }
  .types-stretch-ceilings__title {
    margin-bottom: 1.1rem;
    font-size: 1.8rem;
  }
  .types-stretch-ceilings__image {
    margin-bottom: 1.1rem;
    max-width: 21.1rem;
  }
  .types-stretch-ceilings__price, .types-stretch-ceilings__link {
    font-size: 2rem;
  }
  .types-stretch-ceilings__price {
    margin-bottom: 3rem;
    max-width: 13rem;
    min-height: 3.4rem;
  }
  .types-stretch-ceilings__price sup {
    font-size: 1rem;
  }
  .types-stretch-ceilings__link {
    padding: 0.7rem 0;
  }
}

@media (min-width: 1200px) {
  .types-stretch-ceilings__list {
    max-width: 96rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .types-stretch-ceilings__item {
    margin-bottom: 4.8rem;
  }
  .types-stretch-ceilings__item:nth-child(5), .types-stretch-ceilings__item:nth-child(6), .types-stretch-ceilings__item:nth-child(7), .types-stretch-ceilings__item:nth-child(8) {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=types-stretch-ceilings.css.map */