@import '../../base/all/var';

.types-stretch-ceilings {
    .title {
        margin-bottom: 1.163em;

        .orange {
            display: block;
        }

        &--favorable-stretch {
            max-width: 15em;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.2;
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 21.6em;
        margin-right: auto;
        margin-left: auto;
    }

    &__item {
        display: inline-block;
        max-width: 10.313em;
        margin-bottom: 0.825em;
        padding-bottom: 0.888em;
        border-radius: 0.325em;
        border: 0.063em solid #E6E6E6;
        transition: 0.2s box-shadow ease,
                    0.2s transform ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            border: none;
            transform: scale(1.03);

            .types-stretch-ceilings {
                &__image-box:before,
                &__link {
                    opacity: 1;
                }

            }
        }
    }

    &__image-box:before,
    &__link {
        opacity: 0;
        transition: 0.2s opacity ease;
        position: absolute;
    }
    

    &__image {
        display: block;
        width: 100%;
        border-top-left-radius: 0.325em;
        border-top-right-radius: 0.325em;

        &-box {
            position: relative;

            &:before {
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.7);
                border-top-left-radius: 0.325em;
                border-top-right-radius: 0.325em;
            }
        }
    }

    &__link {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: inherit;
        font-size: 1.125em;
    }

    &__title {
        position: relative;
        margin-top: 0.688em;
        margin-bottom: 0.763em;
        padding-bottom: 0.788em;
        font-size: 1em;
        text-align: center;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 4.875em;
            height: 0.063em;
            background-color: $darkGray;
        }
    }

    &__price,
    &__price:before,
    &__price:after {
        color: $orange;
    }

    &__price {
        font-size: 1.5em; 
        font-weight: 900;
        text-align: center;
    }

    &__price:before {
        font-size: 0.5em;
    }

    @media (min-width: 768px) {
        .title {
            margin-bottom: 0.963em;

            .orange {
                display: inline;
            }

            &--favorable-stretch {
                max-width: 22em;
            }
        }

        &__list {
            display: block;
            max-width: 44.1em;
        }

        &__item {
            max-width: 14.063em;
            margin-bottom: 0.825em;

            &:first-child,
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(7) {
                margin-right: 0.663em;
            }
        }

        &__title {
            margin-top: 1.288em;
            margin-bottom: 0.963em;
            padding-bottom: 1.188em;
            font-size: 1.125em;

            &:after {
                width: 3.675em;
            }
        }

        &__price {
            font-size: 2em;
        }
    }

    @media (min-width: 1200px) {
        .title {
            margin-bottom: 0.763em;

            &--favorable-stretch {
                max-width: 27em;
            }
        }

        &__list {
            max-width: 71.4em;
        }

        &__item {
            margin-bottom: 1.225em;

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
                margin-right: 0.963em;
            }

            &:nth-child(4) {
                margin-right: 0;
            }
        }

        &__title {
            margin-top: 1.388em;
        }
    }
}