.we-create-windows {
  position: relative;
  /* .we-create-windows__box-img */
  /* .we-create-windows__img-bg */
  /* .we-create-windows__img-men */
  /* .we-create-windows__img */
  /* .we-create-windows__inner */
  /* .we-create-windows__title */
  /* .we-create-windows__text */
  /* .we-create-windows__item */
  /* .we-create-windows__icon */
}

@media (max-width: 767px) {
  .we-create-windows .container-wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 24.7rem;
  }
}

.we-create-windows__box-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.we-create-windows__img-bg {
  width: 100%;
  height: 100%;
}

.we-create-windows__img-bg::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.66);
}

.we-create-windows__img-men {
  position: absolute;
  top: 0;
  left: 0;
  height: 24.7rem;
  width: 37.5rem;
}

@media (min-width: 768px) {
  .we-create-windows__img-men {
    height: 26.7rem;
    width: 35.8rem;
    top: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(1.8rem);
            transform: translateX(1.8rem);
  }
}

@media (min-width: 1200px) {
  .we-create-windows__img-men {
    height: 42.3rem;
    width: 66.8rem;
    -webkit-transform: translateX(2.8rem);
            transform: translateX(2.8rem);
  }
}

.we-create-windows__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.we-create-windows__inner {
  position: relative;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.28);
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.28);
  padding: 0 1.9rem;
}

@media (min-width: 768px) {
  .we-create-windows__inner {
    max-width: 37.2rem;
    padding: 0 1.8rem;
  }
}

@media (min-width: 1200px) {
  .we-create-windows__inner {
    max-width: 50.8rem;
    padding: 0 4.4rem;
  }
}

.we-create-windows__title {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

@media (min-width: 768px) {
  .we-create-windows__title {
    margin-bottom: 1.9rem;
  }
}

@media (min-width: 1200px) {
  .we-create-windows__title {
    font-size: 3rem;
    margin-bottom: 2.9rem;
  }
}

.we-create-windows__text {
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.we-create-windows__text span {
  margin-top: 1.5rem;
}

@media (min-width: 1200px) {
  .we-create-windows__text {
    margin-bottom: 3rem;
  }
}

.we-create-windows__item {
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .we-create-windows__item {
    max-width: 9.5rem;
  }
}

.we-create-windows__icon {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #fff;
  border: 0.2rem solid #F26422;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0.5rem;
}

.we-create-windows__icon .icon {
  height: 1em;
  width: 1em;
  font-size: 0.6em;
}
/*# sourceMappingURL=we-create-windows.css.map */