.buy-right {
  display: none;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 1200px) {
  .buy-right {
    display: block;
  }
  .buy-right .title {
    margin-bottom: 0.775em;
  }
  .buy-right .text, .buy-right__bold, .buy-right__icon:before, .buy-right__delivery, .buy-right__at-our-expense {
    font-weight: 700;
  }
  .buy-right .text {
    margin-bottom: 2.675em;
    text-align: center;
    font-size: 1.125em;
  }
  .buy-right__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.438em;
  }
  .buy-right__item {
    max-width: 19.125em;
    position: relative;
  }
  .buy-right__image {
    margin-bottom: 0.813em;
    max-width: 19.188em;
  }
  .buy-right__title {
    margin-bottom: 0.375em;
  }
  .buy-right__title, .buy-right__text,
  .buy-right .buy-right__video-text, .buy-right__icon:before {
    font-size: 1.8rem;
  }
  .buy-right__text {
    line-height: 1.2;
  }
  .buy-right__icon, .buy-right__delivery, .buy-right__at-our-expense,
  .buy-right .logo-factory-windows {
    position: absolute;
  }
  .buy-right__icon, .buy-right__delivery, .buy-right__at-our-expense {
    text-align: center;
  }
  .buy-right__icon {
    width: 3.3rem;
    height: 3.3rem;
    line-height: 3.3rem;
    background-color: #FFE600;
    border-radius: 50%;
    top: -1.1em;
    left: 1em;
  }
  .buy-right__icon--1:before {
    content: '1';
  }
  .buy-right__icon--2:before {
    content: '2';
  }
  .buy-right__icon--3:before {
    content: '3';
  }
  .buy-right__delivery, .buy-right__at-our-expense {
    font-size: 0.9rem;
    background-color: #FFE600;
    width: 8rem;
    height: 1.6rem;
    line-height: 1.6rem;
  }
  .buy-right__delivery {
    top: 4em;
    left: 2em;
  }
  .buy-right__at-our-expense {
    top: 7em;
    left: 3em;
  }
  .buy-right .logo-factory-windows:nth-of-type(1) {
    top: 7.3em;
    left: 10.9em;
    -webkit-transform: skewY(-7deg);
            transform: skewY(-7deg);
  }
  .buy-right .logo-factory-windows:nth-of-type(2) {
    top: 4em;
    right: 3.6em;
  }
  .buy-right .logo-factory-windows:nth-of-type(2) .logo-factory-windows__box {
    margin-bottom: 0;
  }
  .buy-right .logo-factory-windows:nth-of-type(2) .logo-factory-windows__image {
    width: 7px;
    height: 9px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='9' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='16.2188' y1='8.93462' x2='0.995939' y2='8.93462' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='2.74609' y1='7.67828' x2='2.74609' y2='25.4489' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='20.1484' y1='25.2243' x2='0.997156' y2='25.2243' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='18.9492' y1='21.0062' x2='18.9492' y2='26.9298' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='10.5391' y1='6.19736' x2='10.5391' y2='0.767436' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='8.85156' y1='2.47289' x2='28.4939' y2='2.47289' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='26.8047' y1='0.767464' x2='26.8047' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='9.34375' y1='18.269' x2='28.004' y2='18.269' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='10.6016' y1='11.6273' x2='10.6016' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='18.9492' y1='1.26113' x2='18.9492' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3C/svg%3E%0A");
  }
  .buy-right .logo-factory-windows:nth-of-type(2) .logo-factory-windows__text-small {
    font-size: 1.9px;
    margin-bottom: 0.3px;
  }
  .buy-right .logo-factory-windows:nth-of-type(2) .logo-factory-windows__text-big {
    font-size: 4px;
  }
  .buy-right .logo-factory-windows:nth-of-type(2) .logo-factory-windows__title {
    font-size: 1.5px;
  }
  .buy-right .logo-factory-windows__image {
    width: 11px;
    height: 11px;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='12' viewBox='0 0 29 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='16.2188' y1='8.93462' x2='0.995939' y2='8.93462' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='2.74609' y1='7.67828' x2='2.74609' y2='25.4489' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='20.1484' y1='25.2243' x2='0.997156' y2='25.2243' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='18.9492' y1='21.0062' x2='18.9492' y2='26.9298' stroke='%23969593' stroke-width='3.5'/%3E%3Cline x1='10.5391' y1='6.19736' x2='10.5391' y2='0.767436' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='8.85156' y1='2.47289' x2='28.4939' y2='2.47289' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='26.8047' y1='0.767464' x2='26.8047' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='9.34375' y1='18.269' x2='28.004' y2='18.269' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='10.6016' y1='11.6273' x2='10.6016' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3Cline x1='18.9492' y1='1.26113' x2='18.9492' y2='20.019' stroke='%23F26422' stroke-width='3.5'/%3E%3C/svg%3E%0A");
  }
  .buy-right .logo-factory-windows__text-small {
    font-size: 3.1px;
  }
  .buy-right .logo-factory-windows__text-big {
    font-size: 7px;
  }
  .buy-right .logo-factory-windows__title {
    font-size: 2.7px;
  }
  .buy-right__video {
    max-width: 47.188em;
  }
  .buy-right__video-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buy-right__video-content {
    max-width: 22.813em;
  }
  .buy-right__video-title {
    margin-bottom: 1.513em;
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: 700;
  }
  .buy-right__video-text {
    max-width: 15em;
    line-height: 1.4;
  }
}
/*# sourceMappingURL=buy-right.css.map */