.footer {
  background-color: #F6F6F6;
  /* .footer__top */
  /* .footer__top-btn */
  /* .footer__main */
  /* .footer__main-box */
  /* .footer__main-title */
  /* .footer__main-list */
  /* .footer__main-item */
  /* .footer__main-link */
  /* .footer__main-map */
  /* .footer__bottom */
  /* .footer__bottom-item */
  /* .footer__bottom-tel */
  /* .footer__bottom-mail */
  /* .footer__bottom-schedule */
  /* .footer__bottom-link */
}

.footer__top {
  border-bottom: 0.1rem solid #969693;
  min-height: 8.7rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .footer__top {
    min-height: 9.4rem;
    padding-top: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .footer__top {
    min-height: 11rem;
    padding-top: 4rem;
  }
}

.footer__top-btn {
  max-width: 27.2rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer__top-btn {
    max-width: 22.6rem;
    margin-left: 0.6em;
  }
}

@media (min-width: 1200px) {
  .footer__top-btn {
    max-width: 27.2rem;
    margin-left: 0;
  }
}

.footer__main .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
  gap: 0px 0px;
      grid-template-areas: "map" "four";
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .footer__main .grid-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1.13fr 0.1fr;
        grid-template-rows: 1.13fr 0.1fr;
    gap: 0px 0px;
        grid-template-areas: "one two three" "map map four";
    margin-top: 1.3em;
    padding-bottom: 1.1em;
  }
}

@media (min-width: 1200px) {
  .footer__main .grid-container {
    -ms-grid-columns: 1.29fr 1fr 1fr 1fr;
        grid-template-columns: 1.29fr 1fr 1fr 1fr;
    -ms-grid-rows: 1.08fr 1fr;
        grid-template-rows: 1.08fr 1fr;
    gap: 0px 0px;
        grid-template-areas: "one three map map" "two four map map";
    margin-top: 2em;
    padding-bottom: 0.6em;
  }
}

.footer__main-box {
  /* .footer__main-box--one */
  /* .footer__main-box--two */
  /* .footer__main-box--three */
  /* .footer__main-box--four */
  /* .footer__main-box--map */
}

@media (min-width: 768px) {
  .footer__main-box {
    padding-left: 0.6em;
  }
}

@media (min-width: 1200px) {
  .footer__main-box {
    padding-left: 0;
  }
}

.footer__main-box--one {
  display: none;
}

@media (min-width: 768px) {
  .footer__main-box--one {
    display: block;
    grid-area: one;
  }
}

.footer__main-box--two {
  display: none;
}

@media (min-width: 768px) {
  .footer__main-box--two {
    display: block;
    grid-area: two;
  }
}

.footer__main-box--three {
  display: none;
}

@media (min-width: 768px) {
  .footer__main-box--three {
    display: block;
    grid-area: three;
  }
}

.footer__main-box--four {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: four;
  margin-bottom: 0.7em;
}

@media (min-width: 768px) {
  .footer__main-box--four {
    margin-bottom: 0;
  }
  .footer__main-box--four .footer__main-list {
    text-align: right;
    color: #F26422;
    margin-top: 5em;
    padding-right: 0.7em;
  }
  .footer__main-box--four .footer__main-item {
    margin-bottom: 0.7em;
  }
  .footer__main-box--four .footer__main-link {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  .footer__main-box--four .footer__main-list {
    text-align: left;
    margin-top: 2.7em;
    padding-right: 0.7em;
  }
  .footer__main-box--four .footer__main-item {
    margin-bottom: 1.2em;
  }
  .footer__main-box--four .footer__main-link {
    font-size: 1.8rem;
  }
}

.footer__main-box--map {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: map;
}

@media (min-width: 768px) {
  .footer__main-box--map .footer__main-title {
    font-size: 2rem;
    margin-bottom: 0.9em;
  }
}

@media (min-width: 1200px) {
  .footer__main-box--map .footer__main-title {
    text-align: right;
    margin-right: .1em;
    font-size: 1.8rem;
    margin-bottom: 2em;
  }
}

.footer__main-title {
  text-align: center;
  margin-bottom: 1.4em;
  color: #969693;
}

@media (min-width: 768px) {
  .footer__main-title {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 1.55em;
  }
}

.footer__main-list {
  text-align: center;
  margin-top: 1.4em;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .footer__main-list {
    text-align: left;
    margin-top: 0;
  }
}

.footer__main-item {
  margin-bottom: 0.7em;
}

@media (min-width: 768px) {
  .footer__main-item {
    margin-bottom: 1.1em;
  }
}

@media (min-width: 768px) {
  .footer__main-link {
    font-size: 1.8rem;
    color: inherit;
  }
}

.footer__main-map {
  height: 17.3rem;
}

.footer__main-map img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .footer__main-map {
    width: 28.6rem;
    height: 14.2rem;
  }
}

@media (min-width: 1200px) {
  .footer__main-map {
    width: 36.9rem;
    height: 32.4rem;
    margin-left: auto;
  }
}

.footer__bottom {
  border-top: 0.1rem solid #969693;
  padding: 1.2em 0 0;
}

.footer__bottom .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .footer__bottom .container {
    padding: 0 0.7em;
  }
}

@media (min-width: 1200px) {
  .footer__bottom .container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .footer__bottom {
    padding-top: 1.45em;
  }
}

@media (min-width: 1200px) {
  .footer__bottom {
    padding-bottom: 0.75em;
  }
}

.footer__bottom-item {
  width: 100%;
  margin-bottom: 1.6em;
}

@media (max-width: 767px) {
  .footer__bottom-item {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .footer__bottom-item {
    width: 33.33%;
  }
}

.footer__bottom-tel {
  text-decoration: none;
  font-size: 2.8rem;
  color: #3a3a3a;
  line-height: 1.4em;
}

@media (min-width: 768px) {
  .footer__bottom-tel {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-tel {
    font-size: 2.4rem;
  }
}

.footer__bottom-mail {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .footer__bottom-mail {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-mail {
    font-size: 1.8rem;
  }
}

.footer__bottom-schedule {
  color: #3a3a3a;
  font-size: 1.4rem;
  line-height: 1.4em;
}

.footer__bottom-schedule span {
  font-size: 2rem;
  line-height: 1.7em;
}

@media (min-width: 768px) {
  .footer__bottom-schedule span {
    line-height: 1.4em;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-schedule span {
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) {
  .footer__bottom-schedule {
    font-size: 1.5rem;
    line-height: 1.7;
    padding-left: 3.4em;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-schedule {
    font-size: 2rem;
    font-size: 1.4rem;
    line-height: 1.4;
    padding-left: 3.7em;
    margin-top: 0.9em;
  }
}

.footer__bottom-link {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer__bottom-link + span {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2em;
}

@media (min-width: 768px) {
  .footer__bottom-link + span {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-link + span {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .footer__bottom-link {
    font-size: 1.5rem;
    line-height: 1.9em;
  }
}

@media (min-width: 1200px) {
  .footer__bottom-link {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .text-right {
    text-align: right;
  }
}

footer.header-footer-group {
  display: none;
}
/*# sourceMappingURL=new-footer.css.map */