@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.want-to-save-text {
    background-color: #f9f9f9;

    /* .want-to-save-text__wrapper */

    &__wrapper {
        text-align: center;
        padding: 4.5rem 0;

        @include _768 {
            padding: 5.5rem 0;
        }

        @include _1200 {
            padding: 7.5rem 0;
        }
    }

    /* .want-to-save-text__title */

    &__title {
        line-height: 1.5em;
        margin-bottom: 0.3em;

        @include _768 {
            margin-bottom: 0.4em;
        }

        @include _1200 {
            margin-bottom: 0.5em;
        }
    }

    /* .want-to-save-text__text */

    &__text {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4em;

        @include _768 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.1em;
        }

        @include _1200 {
            max-width: 51em;
            margin: 0 auto;
        }
    }
}
