@import "../css/base/all/mixin";
@import "../css/base/all/var";

//  ОТСТУПЫ ВЕРХ/НИЗ

.indent {
    padding: 4.5rem 0;

    @include _768 {
        padding: 5.5rem 0;
    }

    @include _1200 {
        padding: 6rem 0;
    }
}

// Контейнеры

.container {
    max-width: 96rem;
}

.container-wrapper {
    max-width: 34.5rem;
    margin: 0 auto;

    @include _768 {
        max-width: 72.8rem;
    }

    @include _1200 {
        max-width: 96rem;
    }
}

// TEXT

.t-14-16-16 {
    font-size: 1.4rem;
    @include _768 {
        font-size: 1.6rem;
    }
}

.t-16-18-18 {
    font-size: 1.6rem;
    @include _768 {
        font-size: 1.8rem;
    }
}

.t-16-18-16 {
    font-size: 1.6rem;
    @include _768 {
        font-size: 1.8rem;
    }
    @include _1200 {
        font-size: 1.6rem;
    }
}

// Кнопка

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    padding: 0.3em;
    min-height: 3.5rem;
    border: none;
    cursor: pointer;
    background-color: $orange;
    color: $white;
    border-radius: 0.375em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: 0.04em;

    @media (min-width: 768px) {
        font-size: 1.6rem;
        min-height: 4rem;
    }

    @media (min-width: 960px) {
        font-size: 1.6rem;
    }
}
