@import "../css/base/all/mixin";
@import "../css/base/all/var";

//  ОТСТУПЫ ВЕРХ/НИЗ



// Контейнеры

.container {
    max-width: 96rem;
}



// Кнопка

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    padding: 0.3em;
    min-height: 3.5rem; 
    border: none;
    cursor: pointer;
    background-color: $orange;
    color: $white;
    border-radius: 0.375em;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    letter-spacing: 0.04em;

    @media (min-width: 768px) {
        font-size: 1.6rem;
        min-height: 4rem;
    }

    @media (min-width: 960px) {
        font-size: 1.6rem;
    }
}
