.apartment-renovation {
  /* .apartment-renovation__title */
  /* .apartment-renovation__inner */
  /* .apartment-renovation__box-img */
  /* .apartment-renovation__img-text */
  /* .apartment-renovation__box-info */
  /* .apartment-renovation__info-item */
  /* .apartment-renovation__info-day */
  /* .apartment-renovation__info-btn */
}

.apartment-renovation img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.apartment-renovation__title {
  line-height: 1.2;
  margin-bottom: 2.8rem;
}

@media (min-width: 768px) {
  .apartment-renovation__title {
    line-height: 1.35;
    margin-bottom: 3.5rem;
  }
  .apartment-renovation__title span {
    display: block;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__title {
    line-height: 1.25;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .apartment-renovation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.apartment-renovation__box-img {
  position: relative;
  width: 100%;
  height: 25.9rem;
  margin-bottom: 2.4rem;
}

.apartment-renovation__box-img:nth-child(2) {
  margin-bottom: 3.5rem;
}

@media (min-width: 768px) {
  .apartment-renovation__box-img {
    max-width: 34.6rem;
    height: 25.6rem;
    margin-bottom: 3.1rem;
  }
  .apartment-renovation__box-img:nth-child(2) {
    margin-bottom: auto;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__box-img {
    max-width: 30.6rem;
    height: 22.9rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
  .apartment-renovation__box-img:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.apartment-renovation__img-text {
  position: absolute;
  bottom: 2rem;
  left: 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0.5rem 0.5rem 0px;
  display: block;
  min-width: 9rem;
  text-align: center;
  line-height: 2.5rem;
}

@media (min-width: 1200px) {
  .apartment-renovation__img-text {
    min-width: 9.7rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 768px) {
  .apartment-renovation__box-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__box-info {
    max-width: 30.6rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.apartment-renovation__info-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 31.6rem;
  font-size: 1.4rem;
  min-height: 3.5rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.5rem;
  padding-right: 2.7rem;
  letter-spacing: 0.03em;
}

.apartment-renovation__info-item:nth-child(even) {
  margin-left: auto;
  padding-left: 5.3rem;
}

.apartment-renovation__info-item:nth-child(even) .apartment-renovation__info-day {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .apartment-renovation__info-item:nth-child(even) {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__info-item:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
    padding-left: 3.5rem;
  }
}

@media (min-width: 768px) {
  .apartment-renovation__info-item {
    margin-bottom: 0;
    margin-left: 3rem;
    padding: 0;
  }
  .apartment-renovation__info-item:nth-child(-n + 2) {
    margin-bottom: 3.9rem;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__info-item {
    margin: 0;
    max-width: 27.8rem;
    margin-right: auto;
    padding-right: 2.5rem;
  }
  .apartment-renovation__info-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

.apartment-renovation__info-day {
  position: absolute;
  right: 0;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #F26422;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-align: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 768px) {
  .apartment-renovation__info-day {
    left: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__info-day {
    max-width: 28.7rem;
    left: auto;
    right: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  .apartment-renovation__info-btn {
    max-width: 34.7rem;
    margin-right: 0;
    min-height: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .apartment-renovation__info-btn {
    height: 4rem;
  }
}
/*# sourceMappingURL=apartment-renovation-in-15-days.css.map */