// общий скелет


html {
	font-size: 62.5%; /* 1rem = 10px */
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body{
    font-family: 'ALS Schlange sans', sans-serif;
    line-height: 1.1;
    min-height: 100vh;
    min-width: 37.5rem;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

// контейнер сайта
.header-inner, .container {
    max-width: 114rem;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
}

// отступы
.section-padding{
    padding-bottom: 2em;
}

// классы цветов
.orange {
    color: $orange;
}

// позиционирование
.text-center {
    text-align: center;
}