// общий скелет
html {
	font-size: 62.5%; /* 1rem = 10px */
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body{
    font-family: 'ALS Schlange sans', sans-serif;
    line-height: 1.1;
    min-height: 100vh;
    min-width: 37.5rem;
    font-size: 1.6rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

// контейнер сайта
.header-inner, .container {
    max-width: 114rem;
    width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
}

// заголовки
.title {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width: 960px) {
        font-size: 4rem;
    }
}

// классы цветов
.orange {
    color: $orange;
}

.yellow {
    color: $yellow;
}

.white {
    color: $white;
}

// позиционирование
.center {
    text-align: center;
}

.flex-row {
    display: flex;
}

// сбросы стилей
.reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

// внутренние отсупы для секций
.padding {
    padding-top: 2.500em;
    padding-bottom: 2.500em;
}

// кнопка
.button {
    padding: 0.5em 0.3em;
    min-height: 2.250em;
    border: none;
    cursor: pointer;
    background-color: $orange;
    color: $white;
    border-radius: 0.375em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 900;

    @media (min-width: 768px) {
        min-height: 2.4em;
        letter-spacing: 0.04em;
        font-size: 1.7rem;
    }

    @media (min-width: 960px) {
        font-size: 1.9rem;
    }
}

// Стили для плейсхолдера
::-webkit-input-placeholder {
    color: #CCCCCC;
}

::-moz-placeholder {
    color: #CCCCCC;
}

:-moz-placeholder {
    color: #CCCCCC;
}

:-ms-input-placeholder {
    color: #CCCCCC;
}

// Жирность
.bold {
    font-weight: 700;
}