.advantages-plastic-windows .title {
  margin-bottom: 1.25em;
}

.advantages-plastic-windows .orange {
  font-weight: 700;
}

.advantages-plastic-windows .advantages-list {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.500em;
}

.advantages-plastic-windows .advantages-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.advantages-plastic-windows .advantages-list img {
  width: 4em;
  position: absolute;
  top: 0.4em;
  right: -0.3em;
}

.advantages-plastic-windows .advantages-list__circle {
  width: 5.056em;
  height: 5.056em;
  margin-right: 1.278em;
  background-color: #FFE600;
  border-radius: 50%;
  position: relative;
}

.advantages-plastic-windows .advantages-list__circle::before {
  position: absolute;
  top: 0;
  left: -0.6em;
  display: block;
  width: 1.778em;
  height: 1.778em;
  border-radius: 50%;
  background-color: #F26422;
  color: #ffffff;
  text-align: center;
  line-height: 1.778em;
  font-size: 1.033em;
  font-weight: 700;
}

.advantages-plastic-windows .advantages-list__circle--1::before {
  content: '1';
}

.advantages-plastic-windows .advantages-list__circle--2::before {
  content: '2';
}

.advantages-plastic-windows .advantages-list__circle--3::before {
  content: '3';
}

.advantages-plastic-windows .advantages-list__circle--4::before {
  content: '4';
}

.advantages-plastic-windows .advantages-list__circle--5::before {
  content: '5';
}

.advantages-plastic-windows .advantages-list p {
  max-width: 13.267em;
}

.advantages-plastic-windows .block {
  display: block;
}

.advantages-plastic-windows__text {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.advantages-plastic-windows__text--mb-27 {
  margin-bottom: 1.3em;
}

.advantages-plastic-windows .form-contacts__box {
  margin-bottom: 0.875em;
}

.advantages-plastic-windows .form-contacts__input {
  padding-left: 0;
  padding-right: 0;
  min-height: 2.50em;
  text-align: center;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.188em solid #C9C9C9;
  font-size: 0.875em;
  font-weight: 700;
}

@media (min-width: 768px) {
  .advantages-plastic-windows {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
  .advantages-plastic-windows .container {
    width: calc(100% - 8rem);
  }
  .advantages-plastic-windows .title {
    max-width: 16.9em;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-plastic-windows .advantages-list {
    max-width: 38em;
  }
  .advantages-plastic-windows .advantages-list__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.875em;
  }
  .advantages-plastic-windows .advantages-list__circle {
    margin-right: 1.875em;
  }
  .advantages-plastic-windows .advantages-list__block {
    display: block;
  }
  .advantages-plastic-windows .advantages-list p {
    max-width: 27.367em;
    font-size: 1.125em;
    line-height: 1.22;
  }
  .advantages-plastic-windows .advantages-list .block {
    display: inline;
  }
  .advantages-plastic-windows__text {
    max-width: 32em;
    font-size: 1.125em;
    line-height: 1.2;
  }
  .advantages-plastic-windows .form-contacts {
    max-width: 59rem;
  }
  .advantages-plastic-windows .form-contacts__box, .advantages-plastic-windows .form-contacts__button {
    max-width: none;
    width: 18em;
  }
  .advantages-plastic-windows .form-contacts__box {
    margin-bottom: 0;
  }
  .advantages-plastic-windows .form-contacts__input {
    min-height: 2.50em;
    font-size: 1em;
  }
  .advantages-plastic-windows .form-contacts__button {
    margin: 0;
  }
}

@media (min-width: 960px) {
  .advantages-plastic-windows .form-contacts__box {
    min-width: 0;
  }
}

@media (min-width: 1200px) {
  .advantages-plastic-windows {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .advantages-plastic-windows .title {
    max-width: none;
  }
  .advantages-plastic-windows .advantages-list, .advantages-plastic-windows__text {
    margin-bottom: 1.875em;
  }
  .advantages-plastic-windows .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 70em;
  }
  .advantages-plastic-windows .advantages-list__item {
    display: block;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin-bottom: 2.3125em;
    text-align: center;
  }
  .advantages-plastic-windows .advantages-list__item:nth-child(4) p .block,
  .advantages-plastic-windows .advantages-list__item:last-child .block,
  .advantages-plastic-windows .advantages-list__item:last-child .block-helper {
    display: block;
  }
  .advantages-plastic-windows .advantages-list__item:nth-child(4), .advantages-plastic-windows .advantages-list__item:last-child {
    margin-bottom: 0;
  }
  .advantages-plastic-windows .advantages-list__circle {
    width: 9.1875em;
    height: 9.1875em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;
  }
  .advantages-plastic-windows .advantages-list__circle:before {
    top: 0.2em;
    left: -0.2em;
    width: 1.77em;
    height: 1.77em;
    line-height: 1.77em;
    font-size: 1.875em;
  }
  .advantages-plastic-windows .advantages-list p {
    max-width: 17em;
  }
  .advantages-plastic-windows .advantages-list img {
    width: 8.1em;
    right: -0.6em;
    top: 2em;
    font-size: 1.3rem;
  }
  .advantages-plastic-windows__text--mb-27 {
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages-plastic-windows .form-contacts {
    max-width: 64rem;
  }
  .advantages-plastic-windows .form-contacts__input,
  .advantages-plastic-windows .form-contacts .button {
    width: 19.0625em;
  }
}
/*# sourceMappingURL=advantages-plastic-windows.css.map */