.beware-of-fakes {
  /* .beware-of-fakes__title */
  /* .beware-of-fakes__subtitle */
  /* .beware-of-fakes__list */
  /* .beware-of-fakes__list-title */
  /* .beware-of-fakes__item */
  /* .beware-of-fakes__box-img */
  /* .beware-of-fakes__box-text */
  /* .beware-of-fakes__text */
}

.beware-of-fakes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.beware-of-fakes__title, .beware-of-fakes__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 2.8rem;
}

.beware-of-fakes__title {
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .beware-of-fakes__title {
    margin-bottom: 3.3rem;
  }
}

@media (min-width: 768px) {
  .beware-of-fakes__subtitle {
    margin-bottom: 3.6rem;
  }
}

.beware-of-fakes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .beware-of-fakes__list {
    display: block;
  }
}

.beware-of-fakes__list-title {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .beware-of-fakes__list-title {
    margin-bottom: 1.7rem;
  }
}

.beware-of-fakes__item {
  padding-left: 2.7rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  position: relative;
}

.beware-of-fakes__item span {
  margin-bottom: .6rem;
}

.beware-of-fakes__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.95em;
  height: 0.95em;
  border: 0.063em solid #F26422;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='9' height='8' viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00961 7.00225L0.368983 4.27834C0.210339 4.11469 0.210339 3.84936 0.368983 3.6857L0.943494 3.09305C1.10214 2.92939 1.35938 2.92939 1.51802 3.09305L3.29687 4.92799L7.10698 0.997735C7.26562 0.834088 7.52286 0.834088 7.68151 0.997735L8.25602 1.59038C8.41466 1.75403 8.41466 2.01936 8.25602 2.18303L3.58414 7.00227C3.42548 7.16591 3.16825 7.16591 3.00961 7.00225Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5em;
  border-radius: 50%;
}

.beware-of-fakes__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .beware-of-fakes__item {
    margin-bottom: 1.8rem;
    padding-left: 3.8rem;
  }
  .beware-of-fakes__item:before {
    font-size: 1.2em;
  }
}

.beware-of-fakes__list-img {
  width: 100%;
  height: 16.7rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 2.5rem 0;
}

@media (min-width: 768px) {
  .beware-of-fakes__list-img {
    max-width: 28.6rem;
    height: 13.9rem;
    float: right;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .beware-of-fakes__list-img {
    max-width: 38.8rem;
    height: 28rem;
  }
}

.beware-of-fakes__box-text {
  border: 0.1rem solid #F26422;
  border-radius: 0.6rem;
  padding: 1.5rem 0.6rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .beware-of-fakes__box-text {
    margin: 3rem 0;
    padding: 2.1rem 2.7rem;
  }
}

@media (min-width: 1200px) {
  .beware-of-fakes__box-text {
    padding: 2.1rem 3.7rem;
  }
}

.beware-of-fakes__text {
  line-height: 1.2;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .beware-of-fakes__text {
    line-height: 1.25;
    margin-bottom: 2.2rem;
  }
}
/*# sourceMappingURL=beware-of-fakes.css.map */