.choose-color .container {
  width: calc(100% - 3.5rem);
}

.choose-color .title {
  margin-bottom: 0.825em;
}

.choose-color .text {
  margin-bottom: 1.763em;
}

.choose-color__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 19.7em;
  margin-right: auto;
  margin-left: auto;
}

.choose-color__item {
  width: 3.125em;
  height: 3.125em;
  margin-bottom: 0.875em;
  border-radius: 50%;
}

.choose-color__item--1, .choose-color__item--2, .choose-color__item--3, .choose-color__item--4, .choose-color__item--6, .choose-color__item--7, .choose-color__item--8, .choose-color__item--9, .choose-color__item--11, .choose-color__item--12, .choose-color__item--13, .choose-color__item--14, .choose-color__item--16, .choose-color__item--17, .choose-color__item--18, .choose-color__item--19 {
  margin-right: 1em;
}

.choose-color__item--1 {
  background-color: #D0B58A;
}

.choose-color__item--2 {
  background-color: #F2AD23;
}

.choose-color__item--3 {
  background-color: #DE971F;
}

.choose-color__item--4 {
  background-color: #AE8A5D;
}

.choose-color__item--5 {
  background-color: #F8CE9A;
}

.choose-color__item--6 {
  background-color: #FEE9C1;
}

.choose-color__item--7 {
  background-color: #F7CB3C;
}

.choose-color__item--8 {
  background-color: #D8772D;
}

.choose-color__item--9 {
  background-color: #F18042;
}

.choose-color__item--10 {
  background-color: #DE5F33;
}

.choose-color__item--11 {
  background-color: #8F000C;
}

.choose-color__item--12 {
  background-color: #6D001B;
}

.choose-color__item--13 {
  background-color: #571216;
}

.choose-color__item--14 {
  background-color: #000064;
}

.choose-color__item--15 {
  background-color: #3B4A60;
}

.choose-color__item--16 {
  background-color: #2C5D8E;
}

.choose-color__item--17 {
  background-color: #507291;
}

.choose-color__item--18 {
  background-color: #2A5A81;
}

.choose-color__item--19 {
  background-color: #428FB9;
}

.choose-color__item--20 {
  background: #03A6A8;
}

@media (min-width: 768px) {
  .choose-color .title {
    margin-bottom: 0.925em;
  }
  .choose-color .text {
    max-width: 39.1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8rem;
  }
  .choose-color__list {
    max-width: 33.7em;
  }
  .choose-color__item {
    width: 5.250em;
    height: 5.250em;
    margin-bottom: 1.475em;
  }
  .choose-color__item--1, .choose-color__item--2, .choose-color__item--3, .choose-color__item--4, .choose-color__item--6, .choose-color__item--7, .choose-color__item--8, .choose-color__item--9, .choose-color__item--11, .choose-color__item--12, .choose-color__item--13, .choose-color__item--14, .choose-color__item--16, .choose-color__item--17, .choose-color__item--18, .choose-color__item--19 {
    margin-right: 1.813em;
  }
}

@media (min-width: 960px) {
  .choose-color .container {
    width: calc(100% - 7rem);
  }
  .choose-color .title {
    margin-bottom: 0.625em;
  }
  .choose-color .text {
    line-height: 1.14;
  }
  .choose-color__list {
    max-width: 30.2em;
  }
  .choose-color__item {
    width: 4.5775em;
    height: 4.5775em;
  }
}

@media (min-width: 1200px) {
  .choose-color {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .choose-color .text {
    max-width: 52.7em;
    margin-bottom: 1.363em;
  }
  .choose-color__list {
    max-width: 68.9em;
  }
  .choose-color__item--1, .choose-color__item--2, .choose-color__item--3, .choose-color__item--4, .choose-color__item--5, .choose-color__item--6, .choose-color__item--7, .choose-color__item--8, .choose-color__item--9, .choose-color__item--11, .choose-color__item--12, .choose-color__item--13, .choose-color__item--14, .choose-color__item--15, .choose-color__item--16, .choose-color__item--17, .choose-color__item--18, .choose-color__item--19 {
    margin-right: 1.513em;
  }
}
/*# sourceMappingURL=choose-color.css.map */