@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.glazing-options {
    /* .glazing-options__wrapper */

    &__wrapper {
        padding: 4.5rem 0;

        @include _768 {
            padding: 5.5rem 0;
        }

        @include _1200 {
            padding: 7.5rem 0;
        }
    }

    /* .glazing-options__inner */

    &__inner {
        flex-wrap: wrap;

        @include _768 {
            justify-content: space-around;
        }
    }

    /* .glazing-options__info */

    &__info {
        position: relative;

        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='271' height='24' viewBox='0 0 271 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M270.061 13.0607C270.646 12.4749 270.646 11.5251 270.061 10.9393L260.515 1.3934C259.929 0.807611 258.979 0.807611 258.393 1.3934C257.808 1.97919 257.808 2.92893 258.393 3.51472L266.879 12L258.393 20.4853C257.808 21.0711 257.808 22.0208 258.393 22.6066C258.979 23.1924 259.929 23.1924 260.515 22.6066L270.061 13.0607ZM0 13.5H269V10.5H0V13.5Z' fill='white'/%3E%3C/svg%3E%0A");
            display: inline-block;
            width: 2.25em;
            height: 1em;
            background-size: cover;
            margin-left: 0.5em;
            margin-top: -0.5em;
            background-position: right;
            -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);

            @include _768 {
                display: block;
                height: 1em;
                width: 95%;
                margin-right: 0.5em;
                margin-left: 0;
                margin-top: 0.7em;
                -webkit-transform: none;
                transform: none;
            }
        }

        @include _1200 {
            font-size: 2.4rem;
            line-height: 1.5em;
        }
    }

    /* .glazing-options__number */

    &__number {
        margin-right: 0.5em;

        @include _768 {
            margin-right: 0.2em;
            font-size: 3rem;
        }

        @include _1200 {
            font-size: 4rem;
        }
    }

    /* .glazing-options__name */

    &__name {
        margin-bottom: 0.5em;

        @include _768 {
            font-size: 2rem;
        }

        @include _1200 {
            font-size: 3rem;
        }
    }

    /* .glazing-options__text */

    &__text {
        font-size: 1rem;

        @include _768 {
            font-size: 1.2rem;
        }

        @include _1200 {
            font-size: 1.4rem;
        }
    }

    /* .glazing-options__item */

    &__item {
        max-width: 16rem;
        width: 100%;
        min-height: 16rem;
        flex-direction: column;
        padding: 0.7em;
        justify-content: flex-end;
        border-radius: 0.8em;
        color: #fff;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 1.2em;

        @include _768 {
            padding: 1em;
            margin-bottom: 1.7em;
            max-width: 22.6rem;
            min-height: 22.6rem;
        }

        @include _1200 {
            padding: 1.2em;
            margin-bottom: 3em;
            max-width: 34.4rem;
            min-height: 34.4rem;
        }
    }

    /* .glazing-options__item--1 */

    &__item--1 {
        background-color: $orange;

        @include _768 {
            justify-content: center;
        }

        @include _1200 {}
    }

    /* .glazing-options__item--2 */

    &__item--2 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
            url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-1-s.webp);

        @include _768 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-1-m.webp);
        }

        @include _1200 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-1-l.webp);
        }
    }

    /* .glazing-options__item--3 */

    &__item--3 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
            url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-2-s.webp);

        @include _768 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-2-m.webp);
        }

        @include _1200 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-2-l.webp);
        }
    }

    /* .glazing-options__item--4 */

    &__item--4 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
            url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-3-s.webp);

        @include _768 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-3-m.webp);
        }

        @include _1200 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-3-l.webp);
        }
    }

    /* .glazing-options__item--5 */

    &__item--5 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
            url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-4-s.webp);

        @include _768 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-4-m.webp);
        }

        @include _1200 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-4-l.webp);
        }
    }

    /* .glazing-options__item--6 */

    &__item--6 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
            url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-5-s.webp);

        @include _768 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 15%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-5-m.webp);
        }

        @include _1200 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000000 100%),
                url(/wp-content/themes/twentytwenty-child/img/glazing-options-item-5-l.webp);
        }
    }
}