.glazing-balcony-under-key .title {
  margin-bottom: 1.188em;
}

.glazing-balcony-under-key .text {
  text-align: left;
}

.glazing-balcony-under-key__item {
  margin-bottom: 0.938em;
  -webkit-box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
  border-radius: 0.375em;
}

.glazing-balcony-under-key__item:first-child .glazing-balcony-under-key__question-description:nth-of-type(1) {
  padding-bottom: 0;
}

.glazing-balcony-under-key__input:checked + .glazing-balcony-under-key__question .glazing-balcony-under-key__question-icon:before {
  -webkit-transform: translateX(0.35em) translateY(0.225em) rotate(45deg);
          transform: translateX(0.35em) translateY(0.225em) rotate(45deg);
}

.glazing-balcony-under-key__input:checked + .glazing-balcony-under-key__question .glazing-balcony-under-key__question-icon:after {
  -webkit-transform: translateX(0.342em) translateY(-0.362em) rotate(135deg);
          transform: translateX(0.342em) translateY(-0.362em) rotate(135deg);
}

.glazing-balcony-under-key__input:checked ~ .glazing-balcony-under-key__question-description {
  display: block;
}

.glazing-balcony-under-key__link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
}

.glazing-balcony-under-key__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.063em solid #F26422;
}

.glazing-balcony-under-key__input {
  display: none;
}

.glazing-balcony-under-key__question {
  padding-top: 0.938em;
  padding-bottom: 0.938em;
  padding-left: 0.688em;
  padding-right: 0.688em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.glazing-balcony-under-key__question-text, .glazing-balcony-under-key__question-description {
  color: #3A3A3A;
}

.glazing-balcony-under-key__question-text {
  max-width: 15.4em;
}

.glazing-balcony-under-key__question-icon {
  display: block;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  position: relative;
}

.glazing-balcony-under-key__question-icon:before, .glazing-balcony-under-key__question-icon:after {
  content: '';
  display: block;
  width: 0.15em;
  height: 0.6em;
  background-color: #F26422;
}

.glazing-balcony-under-key__question-icon:before {
  -webkit-transform: translateX(0.34em) translateY(0.24em) rotate(90deg);
          transform: translateX(0.34em) translateY(0.24em) rotate(90deg);
}

.glazing-balcony-under-key__question-icon:after {
  -webkit-transform: translateX(0.331em) translateY(-0.362em);
          transform: translateX(0.331em) translateY(-0.362em);
}

.glazing-balcony-under-key__question-description {
  padding-left: 0.688em;
  padding-right: 0.688em;
  padding-bottom: 0.938em;
  display: none;
  line-height: 1.2;
}

.glazing-balcony-under-key__about {
  margin-bottom: 1em;
}

.glazing-balcony-under-key__choose-text {
  margin-bottom: 1em;
}

.glazing-balcony-under-key .list__item:first-child {
  max-width: 20em;
  padding-left: 0;
}

.glazing-balcony-under-key .list__icon {
  background-color: transparent;
  border: 0.5px solid #F26422;
}

.glazing-balcony-under-key .list__icon:before, .glazing-balcony-under-key .list__icon:after {
  height: 0.025em;
}

.glazing-balcony-under-key .list__icon:before {
  width: 0.21em;
  top: 0.375em;
  left: 0.158em;
}

.glazing-balcony-under-key .list__icon:after {
  width: 0.275em;
  left: 0.277em;
  top: 0.306em;
}

.glazing-balcony-under-key .list__word {
  padding-left: 1.2em;
}

@media (min-width: 768px) {
  .glazing-balcony-under-key {
    background-color: #F6F6F6;
  }
  .glazing-balcony-under-key .text, .glazing-balcony-under-key__about, .glazing-balcony-under-key__choose-text,
  .glazing-balcony-under-key .list {
    margin-left: 2em;
  }
  .glazing-balcony-under-key .title {
    margin-right: auto;
    margin-left: auto;
  }
  .glazing-balcony-under-key .title {
    max-width: 20em;
  }
  .glazing-balcony-under-key .text {
    margin-bottom: 2.188em;
    max-width: 35em;
  }
  .glazing-balcony-under-key__item {
    margin-bottom: 1.538em;
  }
  .glazing-balcony-under-key__question {
    padding-left: 1.813em;
  }
  .glazing-balcony-under-key__question-description {
    padding-left: 1.813em;
    padding-right: 4.813em;
  }
  .glazing-balcony-under-key__question-text {
    max-width: none;
  }
  .glazing-balcony-under-key .list__item,
  .glazing-balcony-under-key .list__item:first-child {
    padding-left: 1.5em;
  }
  .glazing-balcony-under-key .list__item:first-child {
    max-width: none;
  }
  .glazing-balcony-under-key .list__word {
    padding-left: 0;
  }
  .glazing-balcony-under-key .list__icon {
    top: 0.4em;
  }
  .glazing-balcony-under-key .list__icon:after {
    left: 0.28em;
    top: 0.316em;
  }
  .glazing-balcony-under-key__about {
    max-width: 34em;
  }
}

@media (min-width: 1200px) {
  .glazing-balcony-under-key .title {
    max-width: 18em;
  }
  .glazing-balcony-under-key .text {
    max-width: 49em;
  }
  .glazing-balcony-under-key__question-description {
    padding-right: 4.413em;
  }
  .glazing-balcony-under-key__about {
    max-width: 46em;
  }
}
/*# sourceMappingURL=glazing-balcony-under-key.css.map */