@import "../../base/all/var";

.high-quality-windows {
    background-color: #F6F6F6;

    .title {
        margin-bottom: 1.438em;
    }

    &__list {
        max-width: 21em;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        margin-bottom: 1.563em;
    }

    &__title {
        display: flex;
        font-size: 1.125em;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 1em;

        &:before {
            content: '';
            display: inline-block;
            width: 1.375em;
            height: 1.375em;
            flex-shrink: 0;
            margin-right: 0.5em;
            border-radius: 50%;
            background: $yellow url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.91057 7.32103L1.00588 4.32473C0.831373 4.14472 0.831373 3.85285 1.00588 3.67282L1.63784 3.02091C1.81235 2.84088 2.09531 2.84088 2.26982 3.02091L4.22656 5.03934L8.41768 0.716064C8.59219 0.536052 8.87515 0.536052 9.04966 0.716064L9.68162 1.36797C9.85613 1.54799 9.85613 1.83986 9.68162 2.01989L4.54255 7.32105C4.36803 7.50106 4.08508 7.50106 3.91057 7.32103Z' fill='black'/%3E%3C/svg%3E%0A") center no-repeat;
            transform: translateY(-0.1em);
        }
    }

    &__text {
        position: relative;
        padding: 0.625em 1.250em;
        background-color: #ffffff;
        border-top-right-radius: 0.625em;
        border-bottom-right-radius: 0.625em;
        border-bottom-left-radius: 0.625em;
        line-height: 1.125;
        font-weight: 700;
        color: #333333;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -1em;
            width: 1.063em;
            height: 1em;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16L16 6.99382e-07L0 0C8.83655 3.86258e-07 16 7.16345 16 16Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }

    .button {
        display: block;
        max-width: 20.938em;
        padding-top: 0.43em;
        padding-bottom: 0.43em;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.063em;
        line-height: 1.4;
    }

    @media (min-width: 550px) {
        &__list {
            max-width: 29em;
        }
    }

    @media (min-width: 768px) {
        &__list {
            max-width: 35.688em;
        }

        &__item {
            margin-bottom: 1.875em;
        }

        &__title {
            font-size: 1.250em;

            &:before {
                margin-right: 1.594em;
                font-size: 0.8em;
            }
        }

        &__text {
            font-size: 1.250em;

            &:before {
                background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 16L16 6.99382e-07L0 0C8.83655 3.86258e-07 16 7.16345 16 16Z' fill='white'/%3E%3C/svg%3E%0A");
                font-size: 0.8em;
            }
        }

        .button {
            max-width: 33.250em;
            padding: 0.794em 3.320em;
        }
    }

    @media (min-width: 960px) {
        &__list {
            max-width: 45.688em;
        }
    }

    @media (min-width: 1200px) {
        .title {
            max-width: 27em;
            margin-left: auto;
            margin-right: auto;
        }

        &__list {
            max-width: 64em;
            margin-bottom: 1.438em;
            column-count: 2;
        }

        &__item {
            max-width: 29.375em;

            &:first-child {
                .high-quality-windows__text {
                    padding-bottom: 1.8em;
                }
            }

            &:nth-child(3) {
                .high-quality-windows__title:before {
                    transform: none;
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                margin-left: auto;
            }
        }

        &__title,
        &__text {
            font-size: 1.125em;
        }

        &__title {
            font-weight: 700;

            &:before {
                margin-right: 0.875em;
            }
        }

        &__text {
            padding-left: 0.85em;
            padding-right: 0.85em;
            line-height: 1.2222;
        }

        .button {
            padding: 0.6380em 1.68em;
            font-size: 1.188em;
        }
    }
}