
.lifetime-guarantee {

    background-color: #F9F9F9;

    .title {
        margin-bottom: 1.263em;
    }

    .text,
    &__title {
        text-align: center;
    }

    .text {
        margin-bottom: 1.563em;
    }

    &__nowrap {
        white-space: nowrap;
    }

    &__title {
        margin-bottom: 0.938em;
        font-weight: 900;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &-worker {
            display: none;
        }
    }

    @media (min-width: 768px) {

        .text,
        &__title {
            font-size: 2rem;
        }

        .text {
            margin-bottom: 0.563em;
            text-align: left;
        }

        .title {
            white-space: nowrap;
        }

        &__title {
            text-align: left;
            max-width: 8.5em;
            margin-left: 11em;
        }

        &__text {
            &-1 {
                margin-left: 10.8em;

                .lifetime-guarantee__nowrap {
                    white-space: normal;
                }
            }
        }


        &__image {
            position: absolute;
            top: 20%;
            left: 6%;
        }

    }

    @media (min-width: 960px) {

        &__image {
            top: 23%;
        }

    }

    @media (min-width: 1200px) {

        .container {
            display: flex;
            justify-content: space-between;
            max-width: 115rem;
        }

        &__left,
        &__right {
            display: flex;
        }

        &__left {
            max-width: 36em;
        }

        &__right {
            max-width: 34.8em;
        }

        .title {
            margin-bottom: 0.413em;
            text-align: left;
            white-space: normal;
        }

        .title,
        &__title {
            font-size: 2.4rem;
        }

        &__title {
            margin-bottom: 0.525em;
        }

        &__text-1,
        &__title,
        &__image {
            margin-left: 0;
        }

        &__image,
        &__image-worker {
            margin-right: 1.125em;
        }

        &__image {
            position: static;

            &-box {
                order: -1;
            }

            &-worker {
                display: block;
                align-self: flex-start;
            }
        }

    }

}