.lifetime-guarantee {

    background-color: #F9F9F9;

    .title {
        margin-bottom: 1.263em;
    }

    &__title {
        margin-bottom: 0.938em;
        font-weight: 900;
        text-align: center;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &-worker {
            display: none;
        }
    }

    @media (min-width: 768px) {

        .container {
            display: grid;
            grid-template-areas: 
                "h2_title h2_title"
                "img_1 text_1"
                "img_1 h3_title"
                "text_2 text_2";
                column-gap: 1.4em;
        }

        .title{
            grid-area: h2_title;
            margin-bottom: 1em;
        }

        &__text-1{
            grid-area: text_1;
        }

        &__text-2{
            grid-area: text_2;
        }

        &__title{
            grid-area: h3_title;
            margin-bottom: .45em;
            font-size: 2rem;
            text-align: left;
        }

        &__image-box{
            grid-area: img_1;
        }

        &__image-worker{
            grid-area: img_worker;
        }

        .nowrap {
            white-space: normal;
        }
        
    }

    @media (min-width: 960px) {
        .container {
            width: calc(100% - 8rem);
        }
    }

    @media (min-width: 1050px) {

        .container {
            grid-template-areas: 
                "h2_title img_1 h3_title"
                "h2_title img_1 text_2"
                "text_1   img_1 text_2" ;
            column-gap: 1em;
            grid-template-columns: 5fr 26.4rem 3fr;
            grid-template-rows: auto auto 1fr;
        }

        .title,
        &__title {
            font-size: 2.4rem;
        }

        &__title{
            margin-bottom: .65em;
        }
        
        .title {
            text-align: left;
        }

    }

    @media (min-width: 1200px) {

        .container {
            grid-template-areas: 
                "img_worker h2_title img_1 h3_title"
                "img_worker h2_title img_1 text_2"
                "img_worker text_1   img_1 text_2" ;
            column-gap: .8em;
            grid-template-columns: 19.1rem 7fr 26.4rem 5fr;
        }

        &__image {
            &-worker {
                display: block;
                align-self: self-end;
            }
        }

        .text{
            margin-bottom: 0;
        }

    }

}