.lifetime-guarantee {
  background-color: #F9F9F9;
}

.lifetime-guarantee .title {
  margin-bottom: 1.263em;
}

.lifetime-guarantee__title {
  margin-bottom: 0.938em;
  font-size: 1em;
  font-weight: 900;
  text-align: center;
}

.lifetime-guarantee__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lifetime-guarantee__image-worker {
  display: none;
}

@media (min-width: 768px) {
  .lifetime-guarantee .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "h2_title h2_title" "img_1 text_1" "img_1 h3_title" "text_2 text_2";
    -webkit-column-gap: 1.4em;
            column-gap: 1.4em;
    width: calc(100% - 9rem);
  }
  .lifetime-guarantee .title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: h2_title;
    margin-bottom: 1em;
  }
  .lifetime-guarantee .text {
    font-size: 1.125em;
  }
  .lifetime-guarantee__text-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: text_1;
    margin-bottom: 1.675em;
  }
  .lifetime-guarantee__text-2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text_2;
  }
  .lifetime-guarantee__title {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: h3_title;
    margin-bottom: 0.750em;
    text-align: left;
    font-size: 1.250em;
  }
  .lifetime-guarantee__image {
    max-width: 9em;
  }
  .lifetime-guarantee__image-box {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img_1;
  }
  .lifetime-guarantee__image-worker {
    grid-area: img_worker;
  }
  .lifetime-guarantee .nowrap {
    white-space: normal;
  }
}

@media (min-width: 960px) {
  .lifetime-guarantee .container {
    width: calc(100% - 8rem);
  }
  .lifetime-guarantee .title {
    font-size: 3rem;
  }
}

@media (min-width: 1050px) {
  .lifetime-guarantee .title, .lifetime-guarantee__title {
    font-size: 2.4rem;
  }
  .lifetime-guarantee__title {
    margin-bottom: .65em;
  }
}

@media (min-width: 1200px) {
  .lifetime-guarantee {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .lifetime-guarantee .title {
    text-align: left;
  }
  .lifetime-guarantee .container {
        grid-template-areas: "img_worker h2_title img_1 h3_title" "img_worker h2_title img_1 text_2" "img_worker text_1   img_1 text_2";
    -webkit-column-gap: .8em;
            column-gap: .8em;
    -ms-grid-columns: 15rem 0.6fr 20.2rem 0.4fr;
        grid-template-columns: 15rem 0.6fr 20.2rem 0.4fr;
  }
  .lifetime-guarantee__image {
    margin-top: 2.2em;
    max-width: 12.7em;
    margin-left: 0;
    margin-right: 0;
    -webkit-transform: translateX(-1.8em);
            transform: translateX(-1.8em);
  }
  .lifetime-guarantee__image-worker {
    display: block;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    max-width: 9em;
  }
  .lifetime-guarantee .text {
    margin-bottom: 0;
    font-size: 1.020em;
    line-height: 1.2;
  }
  .lifetime-guarantee__title {
    max-width: 6em;
    text-transform: uppercase;
  }
  .lifetime-guarantee__text-1 {
    max-width: 19em;
  }
  .lifetime-guarantee__text-2 {
    max-width: 14em;
  }
}
/*# sourceMappingURL=lifetime-guarantee-new.css.map */