.methods-glazing-wooden-house {
  padding-bottom: 0;
}

.methods-glazing-wooden-house .title, .methods-glazing-wooden-house__image-box, .methods-glazing-wooden-house__advantages {
  margin-left: auto;
  margin-right: auto;
}

.methods-glazing-wooden-house .title {
  max-width: 14em;
  margin-bottom: 1.113em;
}

.methods-glazing-wooden-house__radio {
  display: none;
}

.methods-glazing-wooden-house__radio:checked + .methods-glazing-wooden-house__label .methods-glazing-wooden-house__toggle {
  border-color: #F26422;
}

.methods-glazing-wooden-house__radio:checked + .methods-glazing-wooden-house__label .methods-glazing-wooden-house__toggle:after {
  background-color: #F26422;
}

.methods-glazing-wooden-house__radio:checked + .methods-glazing-wooden-house__label .methods-glazing-wooden-house__toggle-text {
  color: #F26422;
}

.methods-glazing-wooden-house [id="by-gap-technology"]:checked ~ .methods-glazing-wooden-house__box .foam {
  display: block;
}

.methods-glazing-wooden-house [id="using-the-casing"]:checked ~ .methods-glazing-wooden-house__box .bar {
  display: block;
}

.methods-glazing-wooden-house__label, .methods-glazing-wooden-house__warning, .methods-glazing-wooden-house__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.methods-glazing-wooden-house__label, .methods-glazing-wooden-house__toggle {
  cursor: pointer;
}

.methods-glazing-wooden-house__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.438em;
  margin-left: 0.3em;
}

.methods-glazing-wooden-house__toggle:after, .methods-glazing-wooden-house__warning:before, .methods-glazing-wooden-house__warning:after, .methods-glazing-wooden-house__image-text:before, .methods-glazing-wooden-house__image-text:after, .methods-glazing-wooden-house__advantages:before, .methods-glazing-wooden-house__advantages:after {
  content: '';
}

.methods-glazing-wooden-house__toggle:after, .methods-glazing-wooden-house__warning:after, .methods-glazing-wooden-house__image-text, .methods-glazing-wooden-house__image-text:before, .methods-glazing-wooden-house__image-text:after, .methods-glazing-wooden-house__advantages:after {
  position: absolute;
}

.methods-glazing-wooden-house__toggle, .methods-glazing-wooden-house__image {
  display: block;
}

.methods-glazing-wooden-house__toggle, .methods-glazing-wooden-house__warning, .methods-glazing-wooden-house__image-box, .methods-glazing-wooden-house__advantages {
  position: relative;
}

.methods-glazing-wooden-house__toggle {
  width: 1.563em;
  height: 1.563em;
  margin-right: 0.688em;
  border: 1px solid #333333;
  border-radius: 50%;
}

.methods-glazing-wooden-house__toggle:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.688em;
  height: 0.688em;
  border-radius: 50%;
}

.methods-glazing-wooden-house__toggle-text {
  font-size: 1.8rem;
  font-weight: 900;
  color: #9A9A9A;
}

.methods-glazing-wooden-house__warning {
  max-width: 14em;
  margin-bottom: 0.9em;
  font-weight: 900;
  font-size: 1.125em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.methods-glazing-wooden-house__warning:before {
  display: inline-block;
  width: 2.8em;
  height: 2.8em;
  margin-right: 0.7em;
  background-color: #FFE600;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.methods-glazing-wooden-house__warning:after {
  top: 0.7em;
  left: 0.7em;
  width: 1.625em;
  height: 1.438em;
  background-position: 6.491% 0;
  font-size: 1.7rem;
}

.methods-glazing-wooden-house__image {
  width: 100%;
}

.methods-glazing-wooden-house__image-box {
  display: none;
  max-width: 18.625em;
  margin-bottom: 1.3em;
}

.methods-glazing-wooden-house__image-text {
  max-width: 5em;
  font-size: 0.675em;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.methods-glazing-wooden-house__image-text:before {
  background-repeat: no-repeat;
}

.methods-glazing-wooden-house__image-text:after {
  background-color: #F26422;
}

.methods-glazing-wooden-house__image-text:nth-of-type(1) {
  top: 7.8em;
  left: 2.7em;
}

.methods-glazing-wooden-house__image-text:nth-of-type(1):before {
  top: -7.4em;
  left: 0.6em;
  width: 13em;
  height: 7em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-small1.svg");
}

.methods-glazing-wooden-house__image-text:nth-of-type(1):after {
  top: -1em;
  left: 0.38em;
  width: 0.544em;
  height: 0.544em;
  border-radius: 50%;
}

.methods-glazing-wooden-house__image-text:nth-of-type(2) {
  top: 16em;
  left: 0.4em;
}

.methods-glazing-wooden-house__image-text:nth-of-type(2):before {
  top: 1.8em;
  left: 0.1em;
  width: 4.5em;
  height: 6em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-small2.svg");
}

.methods-glazing-wooden-house__image-text:nth-of-type(2):after {
  top: 1.6em;
  left: -0.02em;
  width: 0.544em;
  height: 0.544em;
  border-radius: 50%;
}

.methods-glazing-wooden-house__image-text:nth-of-type(3) {
  top: 0.2em;
  right: 0.4em;
}

.methods-glazing-wooden-house__image-text:nth-of-type(3):before {
  top: 1.9em;
  left: -4.3em;
  width: 5.5em;
  height: 6em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-small3.svg");
}

.methods-glazing-wooden-house__image-text:nth-of-type(3):after {
  top: 1.6em;
  left: 0.18em;
  width: 0.544em;
  height: 0.544em;
  border-radius: 50%;
}

.methods-glazing-wooden-house__image-text:nth-of-type(4) {
  top: 17.7em;
  right: -0.3em;
}

.methods-glazing-wooden-house__image-text:nth-of-type(4):before {
  top: -6.2em;
  left: -3.8em;
  width: 4.8em;
  height: 6em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-small4.svg");
}

.methods-glazing-wooden-house__image-text:nth-of-type(4):after {
  top: -1.2em;
  left: 0.08em;
  width: 0.544em;
  height: 0.544em;
  background-color: #F26422;
  border-radius: 50%;
}

.methods-glazing-wooden-house__advantages {
  max-width: 19em;
  margin-bottom: 0.75em;
  height: 3em;
  line-height: 3em;
  font-size: 1.125em;
  font-weight: 700;
  background-color: #F6F6F6;
  border-radius: 2.125em;
}

.methods-glazing-wooden-house__advantages:before {
  display: inline-block;
  margin-right: 0.7em;
  width: 2.8em;
  height: 2.8em;
  background-color: #F26422;
  border-radius: 50%;
}

.methods-glazing-wooden-house__advantages.icon-1:after {
  top: 0.9em;
  left: 1.5em;
  width: 2em;
  height: 3.188em;
  background-position: 3.714% 0.014%;
  font-size: 1rem;
}

.methods-glazing-wooden-house__advantages.icon-2 {
  margin-bottom: 1.5em;
}

.methods-glazing-wooden-house__advantages.icon-2:after {
  top: 1em;
  left: 1.2em;
  width: 3.3em;
  height: 3.788em;
  background-position: 0 1.155%;
  font-size: 0.9rem;
}

.methods-glazing-wooden-house__form-box {
  padding: 1.625em 0.813em 1.625em;
  background-color: #E9E9E9;
  margin-left: -1.3em;
  margin-right: -1.3em;
}

.methods-glazing-wooden-house__form-title {
  margin-bottom: 0.938em;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
}

.methods-glazing-wooden-house .form-contacts__input,
.methods-glazing-wooden-house .button {
  min-height: 2.50em;
}

.methods-glazing-wooden-house .form-contacts__input {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  border-bottom: 0.188em solid #C9C9C9;
  font-size: 0.875em;
  font-weight: 700;
}

@media (min-width: 768px) {
  .methods-glazing-wooden-house {
    padding-bottom: 5.5rem;
  }
  .methods-glazing-wooden-house .container {
    text-align: center;
  }
  .methods-glazing-wooden-house .title {
    max-width: 15em;
  }
  .methods-glazing-wooden-house__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 1.738em;
  }
  .methods-glazing-wooden-house__toggle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 4em;
    height: 1.5em;
    background-color: #FFE600;
    border-radius: 1.250em;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    border: none;
    margin-right: 0;
  }
  .methods-glazing-wooden-house__toggle:after {
    display: none;
  }
  .methods-glazing-wooden-house__toggle:before {
    content: '';
    position: absolute;
    top: 2%;
    width: 1.375em;
    height: 1.375em;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }
  .methods-glazing-wooden-house__toggle--left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0.6em;
  }
  .methods-glazing-wooden-house__toggle--left:before {
    right: 0;
  }
  .methods-glazing-wooden-house__toggle--right {
    margin-right: 0.6em;
  }
  .methods-glazing-wooden-house__toggle--right:before {
    left: 0;
  }
  .methods-glazing-wooden-house__toggle-text {
    font-size: 1.5em;
  }
  .methods-glazing-wooden-house__radio:checked + .methods-glazing-wooden-house__label .methods-glazing-wooden-house__toggle {
    display: none;
  }
  .methods-glazing-wooden-house__box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'methods-glazing-warning methods-glazing-image' 'methods-glazing-advantages-1 methods-glazing-image' 'methods-glazing-advantages-2 methods-glazing-image' 'methods-glazing-form methods-glazing-form';
    max-width: 45.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .methods-glazing-wooden-house__warning, .methods-glazing-wooden-house__image-box {
    text-align: left;
  }
  .methods-glazing-wooden-house__warning, .methods-glazing-wooden-house__advantages {
    font-size: 1.250em;
  }
  .methods-glazing-wooden-house__warning {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: methods-glazing-warning;
    margin-top: 0.3em;
    margin-bottom: 1.9em;
  }
  .methods-glazing-wooden-house__warning:before {
    width: 3.4em;
    height: 3.4em;
    margin-right: 1em;
  }
  .methods-glazing-wooden-house__warning:after {
    top: 0.7em;
    left: 0.7em;
    font-size: 2.3rem;
  }
  .methods-glazing-wooden-house__image-box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: methods-glazing-image;
  }
  .methods-glazing-wooden-house__advantages {
    max-width: 17.5em;
    height: 3.45em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.65em;
    line-height: 3.3;
  }
  .methods-glazing-wooden-house__advantages:before {
    width: 3.4em;
    height: 3.4em;
    margin-right: 1em;
  }
  .methods-glazing-wooden-house__advantages.icon-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: methods-glazing-advantages-1;
  }
  .methods-glazing-wooden-house__advantages.icon-1:after {
    top: 0.8em;
    left: 1.5em;
    font-size: 1.4rem;
  }
  .methods-glazing-wooden-house__advantages.icon-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: methods-glazing-advantages-2;
    margin-bottom: 3.7em;
  }
  .methods-glazing-wooden-house__advantages.icon-2:after {
    top: 1.3em;
    left: 1.5em;
    font-size: 1.1rem;
  }
  .methods-glazing-wooden-house__form-box {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: methods-glazing-form;
    width: 100%;
    max-width: 24.25em;
    padding-top: 2.288em;
    padding-bottom: 2.288em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.313em;
  }
  .methods-glazing-wooden-house__form-title {
    margin-bottom: 1.038em;
    font-size: 1.125em;
  }
  .methods-glazing-wooden-house .form-contacts,
  .methods-glazing-wooden-house .button {
    display: block;
  }
  .methods-glazing-wooden-house .form-contacts__box, .methods-glazing-wooden-house .form-contacts__button {
    margin-left: auto;
    margin-right: auto;
    max-width: 22.25em;
  }
  .methods-glazing-wooden-house .form-contacts__box {
    margin-bottom: 0.9em;
  }
  .methods-glazing-wooden-house .form-contacts__input {
    font-size: 1em;
  }
}

@media (min-width: 960px) {
  .methods-glazing-wooden-house .container {
    width: calc(100% - 8rem);
  }
  .methods-glazing-wooden-house__toggle:before {
    top: 4.2%;
  }
  .methods-glazing-wooden-house .button {
    max-width: 23.25em;
  }
}

@media (min-width: 1200px) {
  .methods-glazing-wooden-house {
    padding-bottom: 6rem;
  }
  .methods-glazing-wooden-house .title {
    margin-bottom: 0.913em;
  }
  .methods-glazing-wooden-house__box {
    max-width: 69.5em;
        grid-template-areas: 'methods-glazing-warning methods-glazing-image' 'methods-glazing-advantages-1 methods-glazing-image' 'methods-glazing-advantages-2 methods-glazing-image' 'methods-glazing-form  methods-glazing-image';
    -ms-grid-rows: 7.1em 5.8em 6.6em 12em;
        grid-template-rows: 7.1em 5.8em 6.6em 12em;
  }
  .methods-glazing-wooden-house__label {
    margin-bottom: 0.738em;
  }
  .methods-glazing-wooden-house__toggle {
    width: 5em;
    height: 1.875em;
    margin-top: 0.13em;
  }
  .methods-glazing-wooden-house__toggle:before {
    width: 1.750em;
    height: 1.750em;
    -webkit-transform: translateY(-0.05em);
            transform: translateY(-0.05em);
  }
  .methods-glazing-wooden-house__toggle--left {
    margin-left: 1em;
  }
  .methods-glazing-wooden-house__toggle--right {
    margin-right: 1em;
  }
  .methods-glazing-wooden-house__toggle-text {
    font-size: 2em;
  }
  .methods-glazing-wooden-house__warning {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: methods-glazing-warning;
    margin-top: 0.1em;
    margin-bottom: 0.9em;
    font-size: 1.5em;
    font-weight: 700;
  }
  .methods-glazing-wooden-house__warning:before {
    width: 2.9em;
    height: 2.9em;
    margin-right: 0.8em;
  }
  .methods-glazing-wooden-house__warning:after {
    top: 1.2em;
    left: 0.7em;
    font-size: 2.3rem;
  }
  .methods-glazing-wooden-house__image-box {
    margin-top: 2em;
    max-width: 29.625em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    grid-area: methods-glazing-image;
  }
  .methods-glazing-wooden-house__image-text {
    max-width: 5.4em;
    font-size: 1.075em;
    letter-spacing: 0.04em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(1) {
    top: 8.2em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(1):before {
    top: -8.5em;
    width: 15em;
    height: 8em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-big1.svg");
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(1):after {
    top: -1.2em;
    left: 0.48em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(2) {
    top: 15.3em;
    left: 0.4em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(2):before {
    top: 1.9em;
    left: 0.5em;
    width: 5.5em;
    height: 7em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-big2.svg");
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(2):after {
    top: 1.6em;
    left: 0.38em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(3):before {
    left: -4.8em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-big3.svg");
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(3):after {
    left: 0.38em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(4) {
    top: 17.3em;
    right: -0.9em;
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(4):before {
    height: 7em;
    top: -6.7em;
    left: -4.1em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/methods-glazing-wooden-house-line-big4.svg");
  }
  .methods-glazing-wooden-house__image-text:nth-of-type(4):after {
    top: -1em;
    left: 0.38em;
  }
  .methods-glazing-wooden-house__advantages {
    margin-bottom: 0.55em;
    height: 2.15em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 3.4em;
    max-width: 19.1em;
  }
  .methods-glazing-wooden-house__advantages:before {
    width: 3.45em;
    height: 3.45em;
    margin-right: 0.6em;
  }
  .methods-glazing-wooden-house__advantages.icon-1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: methods-glazing-advantages-1;
  }
  .methods-glazing-wooden-house__advantages.icon-1:after {
    top: 0.9em;
    left: 1.5em;
    font-size: 1.4rem;
  }
  .methods-glazing-wooden-house__advantages.icon-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: methods-glazing-advantages-2;
    margin-bottom: 0.8em;
  }
  .methods-glazing-wooden-house__advantages.icon-2:after {
    top: 1.1em;
    left: 1.3em;
    font-size: 1.2rem;
  }
  .methods-glazing-wooden-house__form-box {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: methods-glazing-form;
    margin-left: 0;
    margin-right: 0;
    padding-top: 1.888em;
    padding-bottom: 0;
  }
  .methods-glazing-wooden-house__form-title {
    margin-bottom: 0.738em;
  }
  .methods-glazing-wooden-house .form-contacts__box {
    margin-bottom: 1.2em;
  }
}
/*# sourceMappingURL=methods-glazing-wooden-house.css.map */