.modal-window {
  display: none;
  /* .modal-window__wrapper */
  /* .modal-window__content */
  /* .modal-window__inner */
  /* .modal-window__title */
  /* .modal-window__form */
  /* .modal-window__inpet */
  /* .modal-window__btn */
  /* .modal-window__text */
  /* .modal-window__link */
}

.modal-window__wrapper {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  overflow-y: auto;
}

.modal-window__closed {
  width: 0.889em;
  height: 0.889em;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.modal-window__closed::before, .modal-window__closed::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0.167em;
  height: 1.111em;
  background-color: #7c7c7c;
  border-radius: 7px;
}

.modal-window__closed::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.modal-window__closed::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.modal-window__closed_div {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: auto;
}

.modal-window__content {
  width: 100%;
  max-width: 37.5rem;
  margin: 0 auto;
  background-color: #fff;
  padding: 4.5rem 1.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .modal-window__content {
    max-width: 74.5rem;
    padding: 3.9rem;
  }
}

.modal-window__inner {
  border-radius: 0.6rem;
  padding: 3.5rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .modal-window__inner {
    padding: 3.6rem 5rem;
  }
}

.modal-window__title {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .modal-window__title {
    font-size: 3rem;
    margin-bottom: 3.6rem;
  }
}

.modal-window__form {
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .modal-window__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.modal-window__input {
  margin-bottom: 1rem;
  text-align: center;
  border: none;
  border-bottom: 0.3rem solid #C9C9C9;
  width: 100%;
  max-width: 27.5rem;
  min-height: 3.5rem;
  border-radius: 0.6rem 0.6rem 0 0;
}

.modal-window__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-window__input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-window__input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 700;
}

.modal-window__input::placeholder {
  font-size: 1.6rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .modal-window__input {
    min-height: 4rem;
    margin: 0;
  }
}

.modal-window__btn {
  max-width: 27.5rem;
}

@media (min-width: 768px) {
  .modal-window__btn {
    min-height: 4rem;
    margin-right: 0;
  }
}

.modal-window__text {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .modal-window__text {
    font-size: 1.4rem;
  }
}

.modal-window__link {
  color: inherit;
}
/*# sourceMappingURL=modal-window.css.map */