.mosquito-net {
  background-color: #e9e9e9;
  /* .mosquito-net__title */
  /* .mosquito-net__suptitle */
  /* .mosquito-net__slider */
  /* .mosquito-net__item */
  /* .mosquito-net__img */
  /* .mosquito-net__item-text */
  /* .mosquito-net__item-price */
}

.mosquito-net__title {
  text-align: center;
  max-width: 10.6em;
  margin: 0 auto;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .mosquito-net__title {
    max-width: 100%;
    margin-bottom: 0.95em;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__title {
    margin-bottom: 0.85em;
  }
}

.mosquito-net__suptitle {
  text-align: center;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .mosquito-net__suptitle {
    margin-bottom: 1.75em;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__suptitle {
    margin-bottom: 1.7em;
  }
}

.mosquito-net__slider {
  margin-bottom: 1.8rem;
}

.mosquito-net__slider .pagination-box {
  position: absolute;
  width: 100%;
  bottom: -1.2em;
  text-align: center;
}

@media (min-width: 768px) {
  .mosquito-net__slider .pagination-box {
    bottom: -2.5em;
  }
}

.mosquito-net__slider .owl-stage-outer {
  -webkit-filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25));
}

.mosquito-net__slider .pagination {
  background-color: #fff;
}

.mosquito-net__slider .pagination.active {
  background-color: #17a1e3;
}

@media (min-width: 768px) {
  .mosquito-net__slider {
    max-width: 63rem;
    margin: 0 auto 3.5em;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__slider {
    max-width: 100%;
    margin: 0;
  }
}

.mosquito-net__item {
  max-width: 30rem;
  height: 26.8rem;
  margin: 0 auto 1em;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0.6em;
  position: relative;
  overflow: hidden;
}

.mosquito-net__item::before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 9.3rem;
  bottom: -2.1em;
  left: 9.7em;
  background: linear-gradient(267.73deg, #00d0fe 10.58%, #4f9bf5 82.47%);
  border-radius: 15em/7em;
}

@media (min-width: 768px) {
  .mosquito-net__item::before {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    bottom: -1.5em;
    left: 8.8em;
  }
}

@media (min-width: 768px) {
  .mosquito-net__item {
    max-width: 30.4rem;
    height: 31rem;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__item {
    margin: 0 auto;
  }
}

.mosquito-net__img {
  display: block;
  max-width: 28rem;
  width: 100%;
  height: 15rem;
  margin: 0 auto 0.8em;
  border-radius: 0.6rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .mosquito-net__img {
    height: 17.1rem;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__img {
    max-width: 33rem;
  }
}

.mosquito-net__item-text {
  font-weight: 900;
  max-width: 11em;
  line-height: 1.4em;
  margin-left: 0.2em;
}

@media (min-width: 768px) {
  .mosquito-net__item-text {
    font-weight: 700;
    line-height: 1.3em;
    padding-left: 0.4em;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .mosquito-net__item-text {
    margin-left: 0.4em;
  }
}

.mosquito-net__item-price {
  font-size: 4rem;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0.1em;
  right: 0.3em;
  z-index: 1;
}

@media (min-width: 768px) {
  .mosquito-net__item-price {
    bottom: 0.15em;
    right: 0em;
    width: 3.5em;
    text-align: center;
  }
}
/*# sourceMappingURL=mosquito-net.css.map */