.nuances-operation {
    .container {
        width: calc(100% - 3rem);
    }

    .title {
        margin-bottom: 0.9em;
        line-height: 1.2;
        span {
            white-space: nowrap;
        }
    }

    &__image {
        width: 100%;

        &-box {
            position: relative;
            margin-bottom: 0.7em;
            margin-left: -4.3%;
            margin-right: -4.3%;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 40%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 90.1%);
            }
        }
    }

    &__content {
        text-align: center;
    }

    .text {
        letter-spacing: 0.007em;
    }

    .form-contacts {
        max-width: 30rem;

        &__input {
            padding: 10px 20px;
            text-align: center;
            border: none;
            border-radius: 0;
            font-weight: 700;
            border-bottom: 3px solid #C9C9C9;
        }

        &__button {
            min-height: 2.5em;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: calc(100% - 5rem);
        }

        .text {
            text-align: center;
        }

        &__image {
            &-box {
                max-width: 50em;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1.7em;
                text-align: center;

                &:before {
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
                }
            }
        }

        .form-contacts {
            margin-top: 2.5em;
            max-width: 72rem;

            &__box {
                max-width: 25.375em;
                width: 100%;
            }

            &__button {
                max-width: 16.824em;
            }
        }
    }

    @media (min-width: 960px) {
        .form-contacts {
            max-width: 43em;

            &__box {
                max-width: 25em;
            }

            &__button {
                max-width: 13.313em;
            }
        }
    }

    @media (min-width: 1200px) {
        padding-top: 0;
        padding-bottom: 0;

        .container {
            width: calc(100% - 8rem);
            margin-left: 0;
        }

        &__box {
            display: grid;
            grid-template-columns: 50% 50%;
            column-gap: 1em;
        }

        .title {
            margin-top: 0.6em;
            // margin-top: 1.288em;
            margin-bottom: 0.9em;
            font-size: 2.8rem;
            text-align: center;
        }

        .text {
            margin-bottom: 1.763em;
            text-align: left;
            &:first-child{
                margin-bottom: .25em;
            }
        }

        &__image {
            &-box {
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                max-width: none;
                grid-row: 1 / 4;
                grid-column: 1 / 2;

                &:before {
                    // background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 15%);
                    background: linear-gradient(90deg, white 0, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 76%, white 92%);
                }
            }
        }

        .form-contacts {
            margin-left: 0;

            &__box,
            &__input {
                width: auto;
            }

            &__box {
                min-width: auto;
            }
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 133rem;
        }

        .title {
            margin-bottom: 0.6em;
            font-size: 4rem;
        }

        .text {
            font-size: 2.4rem;
            line-height: 1.21;
        }

        &__image {
            &-box {
                &:before {
                    // background: linear-gradient(90deg, white 6%, rgba(255, 255, 255, 0) 27%);
                }
            }
        }

        .form-contacts {
            &__box {
                min-width: 23em;
            }

            &__input {
                width: 100%;
            }
        }
    }

    @media (min-width: 1600px) {
        .container {
            max-width: 157rem;
        }

        .title {
            margin-top: 1.5em;
        }

        .form-contacts {
            margin-top: 5.5em;

            &__box {
                min-width: 25em;
            }
        }
    }
 }