@import "../../base/all/var";
@import "../../base/all/mixin";

// @include _768 {
// }
// @include _1200 {
// }

.other-types-of-wooden-windows {
    background-color: #f6f6f6;

    /* .wood-species__wrapper */

    &__wrapper {
        padding: 3.7rem 0 8.2rem;

        @include _768 {
            padding: 5.5rem 0 10rem;
        }

        @include _1200 {
            padding: 6.8rem 0 7.2rem;
        }
    }

    /* .wood-species__title */

    &__title {
        text-align: center;
        max-width: 10em;
        margin: 0 auto 1.5em;

        @include _768 {
            max-width: 100%;
            margin-bottom: 1.1em;
        }

        @include _1200 {
            margin-bottom: 1.7em;
        }
    }

    /* .wood-species__slider */

    &__slider {
        & .pagination-box {
            bottom: -2.9em;
        }

        & .pagination.active {
            background-color: #17a1e3;
        }

        & .owl-stage-outer {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
            border-radius: 0.3em;
        }
    }

    /* .wood-species__item */

    &__item {
        text-align: center;
        background-color: #ffffff;
        border-radius: 0.3em;
        padding: 2.1em 1.2em;

        @include _768 {
            margin: 0 0.7em;
            padding: 2.3em 0.9em;
        }

        @include _1200 {
            padding: 2.5em 1.8em 2.4em;
            max-width: 54.5rem;
            margin: 0 auto;
        }
    }

    /* .wood-species__name */

    &__name {
        font-size: 2.4rem;
        margin-bottom: 0.3em;

        @include _768 {
            font-size: 2rem;
        }

        @include _1200 {
            font-size: 2.4rem;
            margin-bottom: 0.5em;
        }
    }

    /* .wood-species__price */

    &__price {
        font-size: 2.4rem;
        margin-bottom: 0.9em;

        @include _768 {
            font-size: 2rem;
            margin-bottom: 1.4em;
        }

        @include _1200 {
            font-size: 2.4rem;
            margin-bottom: 1.3em;
        }
    }

    /* .wood-species__img */

    &__img {
        width: 29.9rem;
        height: 18.2rem;
        margin-bottom: 1.8em;

        @include _768 {
            width: 31.1rem;
            height: 18.9rem;
            margin-bottom: 2.2em;
        }

        @include _1200 {
            width: 33rem;
            height: 32.6rem;
            margin-bottom: 2.1em;
        }
    }

    /* .wood-species__text */

    &__text {
        font-size: 1.4rem;
        line-height: 1.2em;
        margin-bottom: 1.9em;

        @include _768 {
            margin-bottom: 2.1em;
        }

        @include _1200 {
            max-width: 22em;
            margin: 0 auto 1.7em;
            font-size: 2.4rem;
        }
    }

    /* .wood-species__specifications */

    &__specifications {
        margin-bottom: 2.1em;

        @include _1200 {
            margin-bottom: 2.6em;
            justify-content: space-around;
        }
    }

    /* .wood-species__specifications-item */

    &__specifications-item {
        max-width: 5em;
        width: 100%;

        @include _1200 {
            max-width: 5.8em;
        }
    }

    /* .wood-species__specifications-rating */

    &__specifications-rating {
        margin-bottom: 0.4em;
    }

    /* .wood-species__specifications-name */

    &__specifications-name {
        @include _1200 {
            font-size: 1.4rem;
        }
    }

    /* .wood-species__link */

    &__link {
        display: block;
        font-size: 1.6rem;
        text-decoration: none;
        letter-spacing: 0.04em;
        max-width: 24.8rem;
        margin: 0 auto;
        line-height: 1.3em;

        @include _1200 {
            max-width: 27.5rem;
            line-height: 1.7em;
            font-size: 1.9rem;
        }
    }

    .circle-rating {
        display: block;
        width: 0.5em;
        height: 0.5em;
        background-color: #d0d0d0;
        border-radius: 50%;

        &--orange {
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: $orange;

            @include _1200 {
                width: 1.1rem;
                height: 1.1rem;
            }
        }

        @include _1200 {
            width: 1.1rem;
            height: 1.1rem;
        }
    }
}
