@import '../../base/all/var';

.our-advantages {
    .title,
    &__list {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        max-width: 31rem;
        margin-bottom: 2.9rem;
        line-height: 1.21;
    }

    &__list {
        margin-bottom: 1.675em;
        max-width: 21.6em;
    }

    &__item {
        margin-bottom: 0.938em;
        padding: 1.413em 0.750em;
        box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.25);
        border-radius: 0.375em;
    }

    &__text {
        position: relative;
        font-size: 1em;

        .block {
            display: block;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
        }

        &--icon {
            &-1 {
                padding-left: 4.563em;

                &:before {
                    width: 3.438em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 504.9 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M266 0c13.4 10.27 22.36 24.49 33 37.17 6.52 7.74 10.27 9.07 19.58 5.71 8.44-3.05 16.68-6.61 25-10s17.13-5.61 26.24-4.67c11.8 1.21 18.52 9.15 21.6 19.51 2.91 9.79 3.93 20.16 5.78 30.27.84 4.56 1.75 9.11 2.52 13.68 1 5.93 4.31 9.69 10.24 10.73q17.42 3.06 34.88 5.82c9.12 1.44 17.5 4.59 23.74 11.54 8.29 9.25 6.56 20.36 3.58 30.76-3.19 11.14-8 21.82-12.14 32.69-3.88 10.17-3 13.55 5.37 20.27 9.19 7.41 18.37 14.83 27.46 22.37 16.21 13.44 16 35.42-.51 48.72-9.14 7.43-18.34 14.81-27.56 22.23-7.07 5.7-8.36 9.82-5.26 18.28 4 10.92 9 21.54 12.13 32.68a63.67 63.67 0 011.87 22.6c-.77 8.45-7.21 14.22-14.8 16.74-9.52 3.16-19.6 4.65-29.47 6.71-6 1.25-12.06 2.39-18.13 3.29-7 1-10.33 5.3-11.43 11.92-1.91 11.46-3.64 23-6 34.31a53.38 53.38 0 01-5.35 15.36c-6.54 11.56-16.17 15.8-29.17 12.36-10.68-2.83-21-7.08-31.47-10.63-4.87-1.65-9.74-3.35-14.71-4.66-4.61-1.22-8.51.35-11.51 4.09-5 6.24-9.77 12.67-15.07 18.62-6.58 7.38-13.6 14.37-20.43 21.53H239c-4.11-4-8.52-7.76-12.26-12.09-7.49-8.67-14.92-17.43-21.79-26.6-4.8-6.42-10.6-6.87-17.21-4.63s-13.1 4.79-19.54 7.48c-9.82 4.09-19.51 8.46-30.57 7.76-6.75-.42-12.43-2.55-17-7.89-8.07-9.36-9.78-20.78-11.38-32.32-1-7.56-1.92-15.16-3.37-22.64-1.22-6.3-4.6-10.89-11.65-11.94-8.69-1.29-17.31-3.06-26-4.35-9.41-1.4-18.85-2.67-26.8-8.44A24.8 24.8 0 0131.13 369c-1.94-8.81.54-16.75 3.42-24.73 4-11.07 8.13-22.09 12.14-33.16 1.76-4.88-.12-8.86-3.71-12s-7.72-6.31-11.57-9.49C19.71 279.93 6.44 271.75 0 257v-15c5.87-10 13.76-18.17 23-25.15 6.09-4.61 11.81-9.72 17.91-14.32s7.51-10.15 4.87-17.09c-3.83-10.09-7.33-20.32-11.47-30.28-3.1-7.47-3.45-15.07-3.23-22.94.2-6.86 3.75-12 8.82-15.44a47.16 47.16 0 0116.1-7.31c13.28-2.93 26.78-4.79 40.18-7.14 5.19-.91 8.22-4.15 9.19-9.23 1.06-5.54 1.84-11.13 2.91-16.67 2-10.22 3.21-20.69 6.32-30.55 3-9.41 9.5-16.49 20.28-17.51 9.1-.87 17.8 1 26.27 4.4 9.38 3.79 18.83 7.47 28.42 10.73 5.47 1.87 10.34 1.15 14.66-4C215.5 26.09 227.36 13.14 239 0zM50.7 362.21c.87 5.32 4.59 6.88 8.55 7.58 11.29 2 22.67 3.51 34 5.55 13.61 2.46 26.12 7.11 30.79 21.84 2.39 7.53 3.37 15.52 4.86 23.33 1.53 8 2.6 16.09 4.44 24 1.69 7.3 3.63 8.14 10.89 6.07 2.23-.63 4.39-1.53 6.58-2.31 11.39-4.08 22.73-8.36 34.2-12.21 14.73-4.95 26.37.51 35.86 11.7 7.1 8.38 13.58 17.28 20.89 25.46 9.41 10.54 11.2 12.57 22.73-.87 6.82-7.95 13-16.48 19.82-24.42 7.3-8.48 16.05-15.19 28-13.38 7.79 1.19 15.38 4 22.92 6.46 9.76 3.23 19.43 6.78 29.05 10.41 2.87 1.09 4.8.08 5.66-2.2a100.69 100.69 0 004.22-14.22c2.88-13.43 5.1-27 8.3-40.37 1.62-6.75 6.89-11.12 13-14.32 9.55-5 20.06-5.61 30.39-7.18 7.22-1.1 14.51-2 21.57-3.8 6.58-1.67 7.93-4.17 5.73-10.59-3.82-11.16-8.36-22.07-12.37-33.16-5-13.78-6.7-27.28 4.78-39.06a105.24 105.24 0 018-7.52c8.55-7.15 17.27-14.1 25.8-21.27 6.42-5.39 6.54-9.79.2-15.23-9.21-7.92-18.65-15.56-28-23.31-14.65-12.16-18-24.78-11.37-42.6 4.29-11.53 8.69-23 12.71-34.63 2.58-7.48 1.38-10-6.52-11.6-11.36-2.36-22.95-3.58-34.34-5.81-10-2-20.36-4.24-26.3-13.53a54.07 54.07 0 01-6.89-17.42c-2.43-11.17-3.86-22.55-5.63-33.86-1.74-11.09-5-13.33-15.45-9.57-9.53 3.42-18.83 7.46-28.24 11.22-19.38 7.74-31.33 5.49-44.71-8.8-4.09-4.36-7.59-9.28-11.46-13.84-5.16-6.09-10.29-12.2-15.7-18.06-3.09-3.34-6.73-3.34-10.06 0-2.59 2.59-5.28 5.09-7.62 7.89-6.6 7.92-12.87 16.12-19.6 23.93s-15.11 14.3-26.2 12.9c-8-1-15.77-3.73-23.48-6.24-9.89-3.17-19.7-6.91-29.46-10.63-3.08-1.17-4.87 0-6.16 2.4a20.34 20.34 0 00-2.29 6c-1.76 10-3.57 20-4.92 30-3.28 24.52-12.73 34.41-36.72 37.93-9.7 1.43-19.42 2.67-29.06 4.37-10.77 1.91-12.61 5.35-9.06 15.45 4.89 13.94 10 27.81 14.5 41.87 3 9.22-.12 17.78-6.19 24.56-5.83 6.51-13 11.88-19.57 17.68-5.87 5.15-12.08 10-17.66 15.4-4.24 4.14-4.06 7.43.1 11.72 3.58 3.68 7.63 6.92 11.52 10.3 8.27 7.2 17 13.93 24.75 21.65 7.14 7.09 9.76 16.35 6.9 26.19-2.92 10-6.77 19.78-10.21 29.66-2.17 6.28-4.38 12.49-6.47 18.49z'/%3E%3Cpath d='M188.45 392.52c-8.94 0-13.72-7.08-10.56-13.66 6.05-12.58 12.41-25 19-37.33 9.62-18 19.54-35.93 29.33-53.89q22.58-41.37 45.18-82.74 17.28-31.47 34.82-62.79c1.53-2.76 3.3-5.39 5-8.06 3-4.62 7.9-5.7 13-2.86 4.65 2.59 6.09 7 3.49 11.9-14.21 26.9-28.41 53.81-42.82 80.59q-24.58 45.66-49.54 91.11-20 36.29-40.53 72.22c-1.56 2.69-4.95 4.32-6.37 5.51zM307.44 391.66c-14.89 1.55-24.16-7.23-31.95-17.42-16.49-21.57-14.49-56.65 3.64-76.82 17.15-19.06 43.06-17.79 59.24 2.3 17.79 22.1 16.14 59.12-1.85 79.1-7.79 8.65-17.14 14.18-29.08 12.84zm-.44-86.77c-6.46.09-10.79 3.8-14.3 8.71-9.54 13.33-9.54 35.65-.08 49.09 7.76 11 19.53 11.42 28.77 1.61 10.82-11.51 10.46-36.44 3.08-47.91-4.05-6.3-8.97-11.71-17.47-11.5zM240.82 185.84a60.86 60.86 0 01-10.89 33.89c-17.11 24.38-48.15 24.37-65.09-.14-15.47-22.37-14.13-54.33 3.16-75.39 16.4-20 44.51-19.23 60 1.38 8.67 11.47 13 24.21 12.82 40.26zm-65.53-1.49a36 36 0 0011.49 28.57c6.11 5.88 15.77 5.11 22.12-.47 14-12.27 13.83-42.93 1.51-55.77-7-7.26-15.78-8.29-23.39-1.78-8.65 7.4-11.77 17.29-11.73 29.45z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &-2 {
                padding-left: 4.563em;

                &:before {
                    width: 3.508em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 503.48 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M209.79 500h-62a11.48 11.48 0 00-2.23-1.93c-17.68-8.38-24.27-23.26-24.21-41.8 0-3.91-2-5.58-4.77-7.39-8.79-5.71-12.92-15.63-10.41-25.41.7-2.74-.22-3.86-2.44-5.05-5.66-3.05-10.61-6.87-12.67-13.37-4.13-13-1-21.68 10.2-29.85 1.58-1.14 3.2-3.72 3-5.49-.82-10.14-4.13-19.78-10.37-27.65-7.81-9.84-16.79-18.75-25.33-28C57 301.51 44.4 289.75 33.91 276.32 19.24 257.54 9.78 236 4.51 212.52a176.25 176.25 0 012.06-87.35A169.18 169.18 0 0149 51.68c23.55-24.22 51.49-40.62 84.46-48.34 3.8-.89 7.54-2.22 11.33-3.34h68a18.19 18.19 0 003.51 1.56 181.38 181.38 0 0149.05 17.73 168.61 168.61 0 0150.94 41.77c2.6 3.18 4.52 3.23 7.2.45 5.42-5.63 11.1-11 16.37-16.8 2.85-3.13 5.39-4.1 9.52-2.23 11.22 5.07 11.48 5 16.2-6.45 1.62-3.94 3.85-5 7.88-5q24.5.3 49 0c4.37-.05 6.08 1.3 7.58 5.63 3.44 9.91 4 13.24 14.59 6.55.28-.18.62-.25.91-.41 4-2.2 7-1.72 10.43 1.93 9 9.59 18.38 18.78 27.81 27.93 9.74 9.43 9.85 9.34 4.67 21.24-1.59 3.63-1.5 6.41 3 7.74 2.55.76 4.9 2.17 7.45 2.89 3.45 1 4.61 2.93 4.56 6.54-.19 14-.08 28-.08 42 0 13.1.05 13.22-12.08 17.63-3.86 1.41-4.32 3.84-3.15 7a62.51 62.51 0 003.51 7.17c1.79 3.4 1.27 5.9-1.68 8.76-11.48 11.1-22.81 22.38-33.86 33.91-3.27 3.41-5.87 4.24-10.33 2.27-12.27-5.41-12.4-5.21-16.25 7.72-.82 2.74-2.17 4.3-5.27 4.16-3.49-.16-7 0-10.5 0-7.76 0-7.91.14-7.94 7.71v30c0 11.09 0 11.09 11.12 12.9.5.08 1 .2 1.47.31 23.64 5.14 43.52 16.46 59.5 34.9a102.32 102.32 0 0124.48 53.64c3.5 25-1.23 48.63-14.67 70.34a102.72 102.72 0 01-42.85 39.13c-7.71 3.76-16 6.28-24.06 9.37h-46a45.44 45.44 0 00-5.87-2.48c-27.64-7.51-48.21-24.35-62.66-48.51-13.57-22.66-16.26-47.6-12-73.34 2.51-15 9-28.48 17.67-40.87 1.95-2.79 1.88-4.26-.86-6.5-4.88-4-9.24-8.59-13.94-12.8-5.25-4.71-6.12-4.56-10.82.44-4.19 4.47-8.35 9-12.81 13.21-11 10.38-17.6 23.14-20.71 37.82-.78 3.7-.22 6.49 3.58 8.76a22 22 0 0111.17 18.91c.44 10.17-3.77 17.62-12.55 22.63-2.67 1.53-4.86 2.53-4 7.11 1.72 9-.72 17.77-8.7 22.88-5.8 3.72-6.94 7.9-7.13 14.24-.45 15.73-7.4 28-21.78 35.49a23.57 23.57 0 00-3.62 3.02zM178.35 92.6c2.25 2 4 3.46 5.65 5.07 8.27 8.18 16.56 16.34 24.71 24.64 2.33 2.37 4.1 2.49 6.76.43 8.66-6.74 17.56-13.16 26.26-19.85 2.78-2.13 4.61-2.62 6.66 1 11.89 21 23.94 41.9 36 62.81 1.42 2.48 1.55 4.43-.89 6.54-18 15.55-35.76 31.36-53.89 46.75-6.63 5.64-10.55 11.26-10.39 20.89.67 40.49.26 81 .3 121.49 0 10.32-1.26 9.43 9.68 9.78 4.81.15 6.69-1.48 7.42-6.25a82.8 82.8 0 0122.77-45.73c13.95-14.51 28.43-28.51 42.15-43.23 13.9-14.92 23.56-32.56 30.1-51.83.66-1.94-.28-5.36-1.73-6.9-7.3-7.75-14.94-15.17-22.61-22.55-3.66-3.52-5.21-6.72-2.84-12.08 4.73-10.72 4.38-11-7.19-15.33-3.37-1.26-4.56-3-4.52-6.56.16-15.83.3-31.67-.06-47.5-.13-5.72.72-9.71 7.19-10.7 1.91-.29 3.69-1.48 5.48-2.37 2.89-1.42 3.78-3.33 2-6.44a38.49 38.49 0 01-3.79-8.68c-.46-1.63-.41-4.44.6-5.26 4.51-3.7 2-6.8-.48-9.7a160.7 160.7 0 00-36.32-31.66c-36-22.9-75.55-28.85-117-22.83-33.6 4.86-62.47 19.89-86.75 43.75a155 155 0 00-43.33 77.27 156.8 156.8 0 00-2.88 54.08c3.46 28.9 13.64 55.11 31.77 77.49C62 285 77.1 298.89 91.51 313.37c13.92 14 24.79 29.52 28.4 49.37 1.74 9.61 1.84 9.45 12.59 9.37 4 0 5.62-1.31 5.61-5.5-.1-44.33 0-88.66-.18-133a9.54 9.54 0 00-2.76-6.45q-30.4-27-61.2-53.52c-2.74-2.36-3-4.25-1.34-7.16q18-31.05 35.8-62.21c2-3.5 3.6-3.93 6.9-1.32 8.49 6.69 17.35 12.9 25.91 19.5 3 2.3 5.12 2.09 7.63-.57 4.33-4.6 8.84-9 13.33-13.48 5.26-5.21 10.59-10.4 16.15-15.8zm62.8 32.15a31.54 31.54 0 00-3.16 1.74c-7.46 5.58-14.88 11.2-22.32 16.79-5.27 3.95-6.31 3.6-10.74-1.09-7.63-8.05-15.53-15.83-23.34-23.7-1.93-1.94-3.86-2.29-6-.09-7.78 7.95-15.73 15.75-23.46 23.75-4.39 4.56-5.88 4.82-10.92 1-7.3-5.52-14.68-10.93-21.92-16.53-2.27-1.75-3.62-1.67-5.08.92q-10 17.58-20.15 35c-2 3.37-1.36 5.6 1.57 8.11 16.4 14.08 32.43 28.59 49.07 42.38 6.71 5.55 9.47 11.34 9.36 20.29-.52 44-.24 88-.23 132 0 6.53.2 6.71 6.76 6.73h34.49c7.79 0 7.8 0 7.8-7.69q0-68.48-.06-137c0-3.77.95-6.53 3.92-9.09 18.52-16 36.84-32.16 55.33-48.16 2.73-2.36 2.76-4.43 1.07-7.32-4.71-8-9.24-16.18-13.87-24.26-2.64-4.53-5.34-9.04-8.12-13.78zm246 271.58c-.34-50-39.64-89.55-89.09-89.42-50.27.14-89.21 37.75-89.53 89-.31 50 38.4 89.1 89.05 89.44 49.82.3 89.14-40.03 89.53-89.02zm-138.72-336a23.28 23.28 0 00-3.12 2.24c-7 6.91-13.84 13.95-20.89 20.8-2.31 2.25-2.78 4.39-.9 7 3.29 4.56 3.55 9.05 0 13.64a6.78 6.78 0 00-1.3 3.21c-.7 5.81-4.79 8.18-9.72 9.23-3.61.76-4.5 2.81-4.49 6 0 9.16-.2 18.34.16 27.49.08 2 1.89 5.23 3.45 5.6 7.18 1.68 9.43 7 12.12 12.91 2.3 5.05 2.91 9.22-.17 13.82-1.9 2.86-1.09 5 1.37 7.33 6.75 6.44 13.27 13.11 19.74 19.83 2.19 2.28 4.39 2.91 7.05 1.23 4.58-2.9 9.09-3.71 13.66 0a5 5 0 002.33.84c5.78.9 9.11 4.23 10.22 9.94.53 2.74 1.95 4.42 5.08 4.39 9.83-.08 19.67.07 29.49-.14 1.51 0 4-1.26 4.3-2.37 1.8-7.59 7-10.62 13.89-13.23 4.85-1.84 8.6-2.61 12.88.4 2.79 2 5.05 1.17 7.4-1.27q9.69-10.08 19.79-19.77c2.42-2.33 2.89-4.5 1.32-7.48-1.15-2.17-3.11-5.22-2.38-6.82 3.19-7 2.94-16.53 13.1-19 1.75-.43 4.07-3.27 4.15-5.08.4-10 .31-20 0-30a5.77 5.77 0 00-3-4.21c-10.77-4.13-16.28-15.93-11.81-26.46 1.21-2.85 1.14-5-1.08-7.12-7-6.84-13.84-13.85-21-20.51a6.33 6.33 0 00-5.55-.87c-10.58 4.43-22.23-.36-27-11.08-.77-1.73-3.12-3.83-4.81-3.9-10-.37-20-.31-30-.05-1.51 0-4.06 1.72-4.3 3-1.24 6.58-5.3 9.91-11.42 11.44a9.68 9.68 0 00-2.66 1.35 9.47 9.47 0 01-11.19 0 43.89 43.89 0 00-4.75-2.3zm41.54 206.23v-15.5c0-9.39 0-9.23-9.57-9.43-13.88-.3-11.7 3-17.2-11.67-.64-1.69-3.76-4.11-4.81-3.72-5.29 2-10.94 3.32-13.41 9.88A187.28 187.28 0 01334 259.57a149.41 149.41 0 01-27 35.69c-2.75 2.67-2.66 4.84.37 7.4 5.06 4.28 10 8.74 14.7 13.42 2.55 2.55 4.23 2.7 7 .19a89.26 89.26 0 0132.43-19c7.54-2.45 15.42-4 23.22-5.53 3.72-.75 5.45-2.14 5.26-6.2-.27-6.28-.05-12.62-.05-18.95zM178.25 486v-.55h15c16.47-.16 27.33-12.25 26-28.67-.23-2.73-1.29-3.88-4-3.88-24.48 0-49 0-73.46.13-1.3 0-3.47 1.57-3.76 2.77-2.8 11.62 6.26 26.28 17.93 28.34 7.32 1.27 14.85 1.26 22.29 1.86zm.54-81.75h60.49a26.76 26.76 0 005-.16c4.2-.79 7.67-3.51 7.2-7.59-.31-2.79-3.4-5.63-5.89-7.65-1.42-1.15-4.13-1-6.26-1q-60.73-.08-121.48 0a27.48 27.48 0 00-6.38.82 7.17 7.17 0 00-5.86 7.67c.17 4 2.66 6.78 6.73 7.63a24.29 24.29 0 005 .25zm0 16.58h-48.93c-3.69 0-6.61 1.62-7.11 4.94-.42 2.75.18 6.6 1.93 8.47s5.38 2.16 8.2 2.17c30.29.14 60.58.1 90.88.08 1.82 0 4.12.45 5.37-.46 2.34-1.69 5.26-4 5.72-6.48.42-2.25-1.63-5.5-3.5-7.44-1.19-1.24-4-1.21-6.12-1.22-15.45-.12-30.93-.08-46.41-.08z'/%3E%3Cpath d='M66.3 107.81c-3.62-2.16-7.37-4-10.54-6.53-1-.84-1.41-4.11-.63-5.34a135.77 135.77 0 0128.52-32.43A140 140 0 01126.71 39c15.6-5.41 31.72-8.82 48.45-7.82.66 0 1.87.08 1.9.25a85.63 85.63 0 011.34 12.32c0 1-2.5 2.8-3.94 2.89-12.47.84-24.78 2.23-36.77 6.13C113.52 60.6 93 73.71 77.15 93.74c-3.58 4.53-7.06 9.15-10.85 14.07zM50.25 137.74c-6.92-.86-12.3-3.86-11.48-6.63 1.48-5 1.14-11.88 7.25-13.23 4.43-1 12.18 5.32 11.94 7.58-.71 6.39-4.64 12.66-7.71 12.28zM40.81 168.57c-8-.08-8-.08-7.94-6.22.08-8.72 1-10.92 5.09-10.21 10.88 1.88 11.78 0 11.55 7.34-.28 8.88-.43 9.17-8.7 9.09zM397.48 452.86c-17 0-34-.11-51 .08-4.18.05-5.88-.93-5.84-5.51q.3-35 0-69.93c0-4.57 1.66-5.68 5.85-5.53 7.31.27 14.65-.05 22 .11 3.86.09 5.25-1.45 5.33-5.29.22-10.94.35-10.93 11.3-10.94 5.33 0 10.66-.07 16 0 3.25 0 4.89-1.14 4.86-4.67 0-3.77-.94-9.45 1-10.86 2.81-2 7.87-1.17 12-1.21 10.32-.11 20.64.06 31-.08 3.35 0 4.7.94 4.69 4.53q-.17 52.44 0 104.89c0 3.63-1.38 4.48-4.7 4.46-17.53-.11-34.97-.05-52.49-.05zm40.78-56.39c0-10.32.07-20.64 0-31-.1-10.75 1.68-9.57-9.86-9.91-4.63-.14-5.95 1.44-5.91 6 .2 21.3 0 42.61.13 63.91.07 12.66-2.17 10.71 11.1 11 3.49.08 4.65-1.13 4.61-4.6-.18-11.77-.08-23.58-.07-35.4zm-32.33 8.06c0-7.48.05-15 0-22.45-.1-11.62 1.43-10.08-10.36-10.49-5.05-.18-6.16 1.91-6.1 6.45.19 15.8 0 31.6.09 47.39.06 13-1.39 10.67 11.16 11.11 4.34.16 5.37-1.64 5.28-5.57-.21-8.81-.07-17.62-.07-26.44zm-48.57 8c0 4.32-.05 8.64 0 13 .18 12.84-1.7 10.65 11.15 11.08 4.34.14 5.37-1.67 5.31-5.58-.16-10.64-.05-21.27-.05-31.91 0-11.89 0-11.79-11.76-11.28-3.39.14-4.76 1.39-4.69 4.79.15 6.58.05 13.23.04 19.88zM398.09 71.44c36.85.33 64.58 29.18 64.44 66.52-.12 34.08-29.17 63.63-65.15 63.43C362 201.2 331 172 332.92 132.25c1.61-33.16 30.2-61.08 65.17-60.81zm-.83 113.66c27.43-.82 48.1-20.47 49.18-47.73 1.06-26.57-22-50.43-48.48-49.88-27.72.58-48 21.09-49 47.94-.96 26.48 21.9 49.38 48.3 49.67z'/%3E%3Cpath d='M429.71 136.27c1.73 17.52-14.79 33-32.69 32.44a32.3 32.3 0 01-31.75-32.83c.16-17.48 13.91-31.67 32.18-32 17.55-.23 34.02 14.76 32.26 32.39zM398.2 120.6c-9.58-.07-16.38 6.41-16.43 15.67-.06 8.64 7.52 16.42 16.08 16.52 7.67.09 16-8.3 16.16-16.26a15.87 15.87 0 00-15.81-15.93z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &-3 {
                padding-left: 4.563em;

                &:before {
                    width: 3.559em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 527.11 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M362 0c3.29 1 6.55 2.24 9.89 3.1 23.29 6 46.09 26.71 47 53.78.26 8.26.76 16.5 1.16 25 7.52 1.67 12.39 9.67 9.05 18.57a81.08 81.08 0 01-11.82 21.71c-12.72 16.06-26.47 31.32-43.58 42.94a58.16 58.16 0 01-15.59 7.47c-8.06 2.43-15-1.91-20.44-6.89a642.909 642.909 0 01-35.44-35c-8.27-8.84-15.62-18.56-23-28.15a17 17 0 01-3-15.56c2.19-8 3.86-9 11-5.67 0-7.27-.91-14.77.16-22 4.19-28.23 20.29-52.13 51.5-58A17.25 17.25 0 00342 0zM0 395c9.51-8 19-16 28.55-23.86 4-3.28 8.15-6.31 12.24-9.43 9.86-7.52 21.28-7.41 30.58.75 16.76 14.7 33.35 29.57 50 44.42q15.82 14.13 31.5 28.42c5.48 5 9.3 10.66 8.06 18.78-1 6.41-5.16 10.2-9.73 13.85-9.36 7.47-18.61 15.08-28.2 22.23-5 3.72-10.63 6.59-16 9.84h-6c-5.79-3.73-12.19-6.78-17.25-11.32-17.2-15.41-34.27-31-50.71-47.2C21.54 430.16 7.66 420.93 0 406zm55.58-25.42c-3.18 1.74-6.25 3-8.81 4.89-10.23 7.68-20.24 15.65-30.47 23.32-2.71 2-3.37 4.25-1.53 6.76a70 70 0 008.32 9.83Q59.47 448.52 96 482.46c5.48 5.13 10.92 5.11 16.74.18 8.88-7.51 17.73-15.07 27-22.12 11.39-8.71 11.56-8.69 1.15-18l-.75-.65q-38.19-34-76.44-67.86c-2.12-1.91-5.08-2.82-8.12-4.43z'/%3E%3Cpath d='M235.91 290c-2-16.47.41-31.87 5.65-46.95 8.17-23.54 23.49-41 45.09-53.13 6.08-3.41 12.56-6.08 18.71-9.37 4.48-2.41 6.53-.69 8.13 3.53q7.45 19.56 15.29 39c1.93 4.77 4.37 9.34 6.69 13.93a32.6 32.6 0 002.73 3.94h1.46c1.86-7.08 3.74-14.16 5.56-21.25 2-7.89 1.94-15.13-3.78-22-4.06-4.9-.42-13.54 6.25-17.11 7.61-4.08 18.24-.95 22 6.78.84 1.74.57 4.17.32 6.22a10.88 10.88 0 01-1.84 4.61c-10.22 14.9-2.25 28.23 3.4 42.93 1.3-2.31 2.22-3.64 2.86-5.1q11.54-26.49 23-53c2.24-5.2 7.27-6.64 13.19-2.75a125.55 125.55 0 0117.36 13.39c15.56 14.77 28.4 31.65 37.58 51.17 4.44 9.43 7.81 19.18 6.76 29.75-.76 7.6-6.79 11.65-13 13.81a275 275 0 01-34.41 9.58c-11.26 2.33-22.82 3.23-34.94 4.85 1.12 1.49 2 2.78 3 4 8.16 9.77 5.08 22.58-6.82 27.24a43.69 43.69 0 01-12.15 2.68c-17.71 1.52-35.45 2.69-53.18 4-16.09 1.22-32.17 2.43-48.24 3.84-2.81.24-5.53 1.45-9.13 2.45 4.32 5.55 9.84 5.75 14.59 6.19q32.54 3 65.17 5c13.61.81 27.28 1.07 40.91 1 9.62 0 17.34-5.73 24.78-10.89 21.43-14.9 42.22-30.74 63.85-45.34 10.63-7.17 23.07-10.91 36.09-7.56 5.07 1.31 10.06 4.38 14.14 7.78 5.06 4.21 5.56 10.75.84 16.65a133.34 133.34 0 01-19.57 20.37c-20.64 16.8-41.47 33.41-62.89 49.19-19.66 14.5-39.57 29.09-63 37-8.93 3-18.87 4.16-28.35 4.19-19.79.07-39.59-1.18-59.38-1.87-20.78-.73-41.55-1.75-62.34-2-12.49-.16-23.74 5.27-34.23 11.28-7.21 4.13-14.68 4.81-22.37 5.54a7.29 7.29 0 01-4.82-1.9q-25.28-22.26-50.36-44.72c-11.05-9.85-22.51-19.3-32.86-29.85-3.57-3.64-4.52-10-6.21-15.21-.32-1 1.28-3 2.44-4 24-20.71 49.14-39.8 78.76-52 .3-.13.6-.29.9-.41 10.61-4.18 10.61-4.18 10.61-15.47v-161c0-11.43 4.23-15.68 15.59-15.68h82c8.6 0 13.46 4.93 14 13.38.88 14.61 1.86 29.21 3.19 43.78.57 6.25-1.27 10.2-6.49 14.18-17 12.94-32.89 27.11-44.33 45.49-11.24 18-16.32 37.7-14.54 59 .89 10.54 1 10.54 11.55 10.82 1.61.02 3.23.02 4.79.02zm-16.1 13.43v-.14h-26.49a81.6 81.6 0 00-33.87 7.16c-24 10.85-44.87 26.47-65 43.22-2.63 2.19-2.18 3.9.27 6 6 5.26 11.73 10.83 17.69 16.14q28.51 25.4 57.13 50.7c5.41 4.8 8.55 5 15.3 1.87 8.57-4 17.21-7.86 26-11.23 15-5.71 30.66-3.17 46-2.89 33.79.61 67.55 2.3 101.33 2.81a47.1 47.1 0 0021.67-4.7 395.39 395.39 0 0043.65-25.95c18.41-12.77 36.08-26.65 53.73-40.49 10.45-8.18 20.4-17 30.22-25.95 2.21-2 3-5.6 4.38-8.47-3.28-1.27-6.49-2.9-9.89-3.7-2.16-.51-4.62.1-6.92.4-8.16 1.09-15.06 5-21.59 9.75-18.13 13.24-36.08 26.75-54.55 39.5-10.07 6.94-20.43 14.39-33.2 15.16a314.7 314.7 0 01-36.47 0q-32.37-1.85-64.65-5a102.85 102.85 0 01-24.11-5.5C252 359 249.09 353.3 250.3 346c1-6 8.94-13.15 15.56-13.69 30.81-2.47 61.63-4.81 92.43-7.32a161 161 0 0019.22-2.57c2.18-.45 4-2.85 5.94-4.36-1.64-1.92-2.92-4.76-5-5.56a44.33 44.33 0 00-12.53-2.6c-9.62-.69-19.29-.79-28.92-1.35-18.77-1.09-37.52-2.62-56.29-3.43-20.28-.93-40.6-1.19-60.9-1.73zm6.92-153.23c7.49 0 15-.1 22.47 0 4.24.08 4.81-2.32 4.84-5.77s-.84-5.66-5-5.62q-22 .18-43.93 0c-4.06 0-5.09 1.88-5.1 5.53s.8 6 5.23 5.88c7.17-.22 14.33-.06 21.49-.06zm.78 8.42c-7.5 0-15 .12-22.49-.06-3.71-.08-5 1.45-5 5 .07 3.37.47 5.84 4.8 5.81q22.23-.19 44.46 0c4.37 0 4.63-2.57 4.72-5.89.1-3.68-1.4-5-5-4.94-7.17.16-14.33.04-21.49.04z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &-4 {
                padding-left: 4.563em;

                &:before {
                    width: 3.429em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 508 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M508 216c-.81 4-1.8 8-2.4 12.05a200.16 200.16 0 01-22.74 68.24 202.84 202.84 0 01-74.75 77.34 195.62 195.62 0 01-74.22 26.21c-34 4.66-67.24 1.68-99.55-10.54-37.08-14-67.68-36.63-91.54-68.28a205.66 205.66 0 01-33.33-67.55c-8.89-30.72-9.61-61.81-3.77-92.78A198.32 198.32 0 01143 77.16c20.2-26.74 45.27-47.39 75.64-61.18 13.24-6 27.49-9.76 41.28-14.56A33.24 33.24 0 00263 0h84a78.27 78.27 0 007.83 2.87 198.14 198.14 0 0192.47 52.58c30 29.77 48.7 65.28 56.71 106.61 1.35 7 2.66 14 4 20.94zM305.23 385.14c101.8.9 185.91-82.91 185.91-186 0-100.76-82.61-191.27-197-185.8-94.47 4.51-174.56 83.3-175.51 184.66-.98 104.39 86.37 189.21 186.6 187.14zM0 457c1.63-4.67 2.28-10.05 5.08-13.86A254 254 0 0126 418.49c12.25-12.87 25-25.29 37.66-37.83 3-2.93 6.11-5.66 9.26-8.37s6.5-2.81 9.41.07Q95.1 385 107.58 397.92c3.36 3.47 2.35 7-.68 10.15s-6.72 3.71-10.16.62c-5.56-5-11.06-10.09-16.34-15.39-2.22-2.23-3.61-2.72-6-.22-14.23 14.7-28.6 29.25-42.9 43.88-2.67 2.73-5.26 5.52-7.84 8.34-6.84 7.5-9.09 18.59-4.31 27.19 5.22 9.4 11.66 14.63 24.28 14.32a21 21 0 0014.86-6Q81.2 458.37 104 436.09c18.58-18.12 37.14-36.27 55.88-54.23 2.8-2.68 5.91-6.54 10.78-3.39 3.8 2.46 4.7 7.34 1.57 11.34a155.22 155.22 0 01-12.18 13.83c-18 18.17-36.09 36.33-54.39 54.23-14 13.72-28.45 27-42.67 40.55A7.82 7.82 0 0062 500H24c-4.08-3.34-9-6-12-10.16C7.29 483.4 3.92 476 0 469zM91.64 355.67c2.23-3.47 3.47-6.25 5.44-8.33 5-5.31 10.26-10.41 15.6-15.4 3.4-3.18 8.54-3.27 11.39-.6 3.38 3.18 3.66 7 0 11-5.9 6.52-12.15 12.72-18.31 19-2.14 2.18-4.85 3.59-7.55 1.46-2.39-1.87-4.21-4.51-6.57-7.13z'/%3E%3Cpath d='M136.47 199.47C134.14 109.1 210.88 28.2 308.61 30.31c90 1.95 160.65 74.82 164.8 158.84 5.24 106.27-79.75 172.85-155.06 178.41-106.15 7.82-185.25-81.63-181.88-168.09zM305 351c80.2 2.94 157.68-68.68 152.1-160.81-4.62-76.13-66-143-152.38-143.31-84.47-.28-151.58 68.93-152.22 152.52-.67 81.06 70.85 154.84 152.5 151.6z'/%3E%3Cpath d='M339.87 166h57c5.31 0 8.55 2.67 8.93 7.23s-2.44 7.81-7.84 8.4a128.43 128.43 0 01-13.46.48q-46.49 0-93-.05c-4.65 0-9.29-.73-13.94-1-4-.28-5.61-3-5.85-6.32s.49-7 4.76-7.55a147.43 147.43 0 0116.41-1.19c15.67-.1 31.33 0 46.99 0zM262.47 216.33h48.91c5.56 0 9.9 3.42 10.21 8 .27 4.09-3.85 7.95-9.61 8.18-10.3.4-20.62.53-30.93.5q-33.42-.08-66.84-.49c-3.82 0-8.35-.28-9.51-4.7-.69-2.65.13-6.26 1.54-8.69.94-1.61 4.13-2.66 6.33-2.69 16.63-.2 33.27-.1 49.9-.11zM312.49 130.93h-49.46c-5.12 0-8.4-2.74-8.61-7.53-.19-4.57 2.78-7 6.86-7.92a44.36 44.36 0 019.39-1.1q42.72-.12 85.43 0a39.92 39.92 0 019.4.9c4.7 1.14 7 4.82 6.12 9.37s-3.68 6.34-8.17 6.32c-16.99-.09-33.98-.04-50.96-.04zM347 283.68h-32.48c-5.1 0-9.29-3.76-9.4-8.27-.11-4.34 4.2-8.18 9.4-8.19h65.46c5.47 0 8.77 3.08 8.88 7.95.12 5.13-3.27 8.46-8.87 8.49-10.99.06-21.99.02-32.99.02zM373 216.34h23.5c5.69 0 9.16 3.16 9.26 8.19s-3.41 8.4-9 8.43q-24.24.09-48.49 0c-5.27 0-9.31-3.83-9.2-8.39s4.21-8.2 9.44-8.23c8.16-.04 16.33 0 24.49 0zM262.7 284c-6.5-.34-12.65-.5-18.76-1-4.56-.38-6.1-3.62-6-7.73s3.65-8 7.43-8c11.48-.08 23-.09 34.45.19 4.45.11 6.95 3.15 7.24 7.47.27 4.05-1.37 7.46-5.81 7.94-6.25.67-12.6.79-18.55 1.13zM228.75 182.12h-15.49c-5.54-.06-9.28-3.38-9.34-8.18 0-4.57 3-7.66 8.53-7.77q16.47-.3 33 0c5.3.11 8 3.07 7.87 7.7a8.19 8.19 0 01-8.56 8.23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &-5 {
                padding-left: 4.563em;

                &:before {
                    width: 3.873em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 530 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M0 107c2.66-5.32 5-10.87 8.06-15.92 7.79-12.69 19.45-19.56 34.27-19.92 18.48-.45 37-.14 55.49-.11 6.07 0 10 2.63 11.51 7.53 1.79 5.68.29 11.64-4.38 14.71a13.6 13.6 0 01-7 1.68c-17.17.14-34.35.54-51.49 0-13.29-.46-24.65 10.8-24.63 24.44q.27 166.5.12 333c0 14.64 9.57 24.09 24.1 24.09h393c12.93 0 22-7.68 23.3-20.49.81-8.09.41-16.3.62-24.45a26 26 0 01.6-6.44 11 11 0 0111.8-8c4.61.48 9.48 5 9.48 10.12 0 12.48.81 25.19-1.3 37.36-2.55 14.62-11.41 25.92-25.43 32.4a58.39 58.39 0 00-5.12 3H35c-12.71-3.22-22.33-10.54-28.59-22C4 473.47 2.12 468.66 0 464z'/%3E%3Cpath d='M218 0c21.62 14.2 39.59 32.78 59.1 49.5q26.68 22.88 53.21 45.94c7.77 6.75 15.35 13.73 23.18 20.42a9.88 9.88 0 005.66 2.47c11 .23 22 0 33 .16 3.6 0 4.11-1.48 3.5-4.67-2.19-11.34-10.44-18.52-21.95-18.73-5-.09-10 0-15-.08-7.11-.18-11.71-5.08-11.6-12.16.1-6.92 4.64-11.95 11.47-11.71 9.75.33 20-.39 29.12 2.32 17.89 5.31 27.35 19 30.37 37.21 1.32 8-.34 7.51 9.13 7.87 8.76.33 17.68.52 26.19 2.37 11.27 2.45 19.08 10.34 24.93 20.05 5 8.36 7 17.53 6.77 27.25-.14 7.5.11 15-.11 22.49-.13 4.71-1.66 8.88-6.66 10.7-7.86 2.85-15-1.86-15.3-10.43-.35-8.82-.36-17.65-.43-26.47-.1-11.89-12-21.7-24-21.67q-183.44.51-366.89.11c-4 0-8.48-.58-11.88-2.44-4.67-2.55-5.92-9-4.11-14.22 1.61-4.68 5.91-7.74 11.66-7.78 14-.11 28-.25 42 .07 4.66.11 7.13-1.63 9.51-5.45 14.79-23.7 29.84-47.24 44.8-70.83 5.17-8.15 10.6-16.15 15.38-24.52a41.86 41.86 0 0116.62-15.95A18.29 18.29 0 00198 0zm-74.75 118h175.57a19.33 19.33 0 00-2.09-2.95c-7.74-6.76-15.55-13.46-23.29-20.22Q255 61.22 216.59 27.59c-6.8-5.94-13.38-5-18.32 2.79q-23 36.18-45.92 72.38c-2.97 4.7-5.71 9.55-9.1 15.24zM530 350c-2.63 7.14-4.42 14.74-8 21.32-7.59 13.74-19.71 21.85-35.53 22.17-29 .56-58 .29-86.94.31-16.49 0-33 .28-49.46-.3a70.62 70.62 0 01-44.65-17.5c-24.61-21.2-33.42-48.59-28.92-79.77 4.67-32 22.16-55.26 53.3-66.34 7.49-2.67 16-3.36 24-3.42 42.64-.33 85.29.41 127.91-.37 25.53-.46 43.12 17.61 47 40.11.28 1.62.81 3.19 1.22 4.79zm-112.38 19.35h64c15.77 0 25.28-9.41 25.33-25.07q.12-34.25 0-68.48c-.05-16.12-9.3-25.5-25.46-25.54q-63.72-.15-127.45 0a55.46 55.46 0 00-27.72 7.23c-20.66 11.82-32.56 40.58-27.67 63.81 6.34 30.1 29.82 49.56 60.52 48.25 19.44-.88 38.96-.2 58.45-.2z'/%3E%3Cpath d='M385.71 309.91c.76 14.1-9.15 31.51-26.73 35.23-13.09 2.76-24.63-1.84-33.42-14.68-12.08-17.64-5.84-43.88 13.19-53.45 13.46-6.76 30.69-3.47 40.77 11.72 4.74 7.14 6.2 12.41 6.19 21.18zm-22.41 0c.06-6.62-4.3-11.52-10.37-11.66S342 303.22 342 310c0 5.95 4.86 11.42 10.23 11.56 6.16.14 11.01-4.96 11.07-11.62z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

            &-6 {
                padding-left: 4.163em;

                &:before {
                    width: 2.750em;
                    height: 3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 403.5 500' fill='%23F26422'%3E%3Cg data-name='Слой 2'%3E%3Cg data-name='Слой 1'%3E%3Cpath d='M198.71 500c-6.51-2.41-13-5-19.53-7.22-35.66-12.18-69.57-27.72-99.25-51.43-40.77-32.56-65.26-74.82-75-125.9a310.14 310.14 0 01-5-58.11V71.39c0-8.86 1.6-11.09 10-13.62L193.34 2.34A50.73 50.73 0 00198.71 0h6c7 2.4 14 5 21.11 7.15q83.32 25.2 166.69 50.25c9.39 2.82 10.89 4.83 10.89 14.49 0 64.32.29 128.64-.11 193-.26 42.22-8.56 82.65-30.15 119.61-20 34.29-48.58 59.7-82.75 79.23-24.69 14.11-51 24.32-78 33-2.63.85-5.12 2.17-7.67 3.27zM384 180.59h.57c0-32.83-.12-65.65.11-98.48 0-5.34-1.44-7.81-6.78-9.4-57.22-17-114.33-34.38-171.54-51.46a17.62 17.62 0 00-9.58.13Q111.43 46.86 26.22 72.7c-7.28 2.19-7.29 2.23-7.29 9.84 0 56-.27 112 .15 168a400.1 400.1 0 003.46 52.72C29.16 350.13 50.05 389.78 86 421c33 28.66 72.16 45.39 113.3 58.2a11.17 11.17 0 006.25-.36c27.68-8.77 54.41-19.71 79.36-34.76 62.94-38 96.49-93.54 98.9-167.06 1.06-32.09.19-64.28.19-96.43z'/%3E%3Cpath d='M367.29 183.52v71c0 25.59-2.33 50.85-10.37 75.31-13.63 41.45-40.55 72.06-77.33 94.59-23 14.08-47.78 24.14-73.38 32.28a17.17 17.17 0 01-9.16-.09 9.19 9.19 0 01-6.91-10.2c.76-4.77 4.28-6.87 9.28-8.27a268.59 268.59 0 0028.7-9.77c28.47-11.57 54.74-26.74 76.49-48.86 24-24.39 37.63-53.81 41.37-87.68a348.92 348.92 0 001.92-36.86c.22-47.64 0-95.29.2-142.94 0-4.59-1.19-6.66-5.78-8-46.69-13.89-93.31-28-139.94-42.12-1.12-.34-2.24-.64-3.33-1-5.21-2-8-6.71-6.59-11.28 1.65-5.44 6.47-8.31 12.09-6.76 8.81 2.44 17.56 5.11 26.31 7.76q63.5 19.23 127 38.49c7.35 2.23 9.44 4.92 9.45 12.53q0 40.88-.02 81.87zM60.4 192.33c0 28-.87 56 .2 83.94 1.77 46.24 19.32 85.18 56.53 114.18 2.39 1.87 4.81 4.38 5.88 7.11 1.48 3.8.12 7.6-3.37 10.15-4.07 3-8.33 2.64-11.92-.58-8.92-8-18.28-15.61-26.26-24.46-22.82-25.33-34.59-55.74-38.41-89.3a319.06 319.06 0 01-2-34.83c-.21-51.31-.1-102.61-.09-153.92 0-7.45 3.38-11.4 9.56-11.34 4.59 0 7.65 2.38 8.79 6.69a33.29 33.29 0 01.86 8.41q.09 42 0 84z'/%3E%3Cpath d='M172.9 304c1.64-2.46 2.66-4.69 4.28-6.32q50.48-50.64 101.17-101.05c2.47-2.44 6.53-4.63 9.77-4.52 2.66.1 6 3.31 7.6 6 2 3.35.61 7.09-2.27 10q-13.26 13.23-26.45 26.5l-84.5 84.47c-.82.83-1.66 1.64-2.5 2.45-6.24 6.06-10.41 6.08-16.68-.15q-21.09-21-42.07-42.05c-3.53-3.54-7.14-7-10.56-10.65-4.64-4.95-4.69-10-.35-14.06 3.94-3.7 9.43-3.45 13.79.88q21.47 21.33 42.8 42.76c1.36 1.4 2.82 2.74 5.97 5.74z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
            }

        }
    }

    .text {
        margin-bottom: 1.363em;
        line-height: 1.2;

        .orange {
            font-weight: 700;
        }
    }

    .form-contacts {
        &__box {
            text-align: center;
        }
        
        &__input {
            padding: 0.608em 1.250em;
            max-width: 21.813em;
            font-size: 0.875em;
            font-weight: 700;
            text-align: center;
            border-radius: 0;
            border: none;
            border-bottom: 0.188em solid $gray;
        }

        .button {
            max-width: 21.813em;
        }
    }

    @media (min-width: 768px) {
        .title {
            max-width: 50rem;
        }

        &__list {
            max-width: 44.6em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0.575em;
        }

        &__item {
            flex-basis: 21.688em;
            margin-bottom: 1.250em;
        }

        &__text {
            font-size: 1.125em;
            line-height: 1.22;

            &--icon {
                &-1 {
                    padding-left: 4.063em;
                }

                &-3 {
                    padding-left: 4.063em;
                }

                &-4 {
                    padding-left: 4.363em;
                }

                &-5 {
                    max-width: 19em;
                }

                &-6 {
                    padding-left: 4.263em;
                }
            }
        }

        .text {
            max-width: 29em;
            margin-right: auto;
            margin-left: auto;
        }

        .form-contacts {
            max-width: 60rem;

            &__box {
                max-width: none;
            }

            &__input {
                font-size: 1em;
                max-width: none;
                min-width: 18em;
            }

            .button {
                max-width: 17.938em;
                margin: 0;
            }
        }
    }

    @media (min-width: 960px) {
        .form-contacts {
            &__box {
                min-width: 12.688em;
            }
        }
    }

    @media (min-width: 1200px) {
        .title {
            max-width: none;
            margin-bottom: 3.2rem;
        }

        &__list {
            max-width: none;
            margin-bottom: 0.675em;
        }

        &__item {
            padding-top: 1.513em;
            padding-bottom: 1.513em;
            flex-basis: 29.375em;

            &:first-child {
                order: 1;
            }

            &:nth-child(2) {
                order: 2;
            }

            &:nth-child(3) {
                order: 5;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(5) {
                order: 2;
            }

            &:last-child {
                order: 6;
            }
        }

        &__text {
            .block {
                display: inline;
            }

            &--icon {
                &-1 {
                    &:before {
                        top: -0.3em;
                        width: 2.86em;
                        height: 2.825em;
                    }
                }

                &-2 {
                    padding-left: 3.963em;

                    &:before {
                        top: -0.5em;
                        width: 2.948em;
                        height: 2.925em;
                    }
                }

                &-3 {
                    &:before {
                        top: 0.3em;
                        width: 2.996em;
                        height: 2.825em;
                    }
                }

                &-4 {
                    padding-left: 3.963em;

                    &:before {
                        top: -0.3em;
                        width: 2.937em;
                        height: 2.825em;
                    }
                }

                &-5 {
                    max-width: none;
                    padding-left: 3.963em;
                    &:before {
                        top: -0.6em;
                        width: 3.113em;
                        height: 2.925em;
                    }
                }

                &-6 {
                    padding-left: 3.963em;

                    &:before {
                        top: 0.3em;
                        left: 0.4em;
                        width: 2.525em;
                        height: 2.825em;
                    }
                }
            }
        }

        .text {
            max-width: 33em;
            margin-bottom: 1.763em;
            text-align: center;
        }

        .form-contacts {
            max-width: 79rem;

            &__box {
                min-width: 24.13em;
            }

            .button {
                max-width: 24.250em;
            }
        }
    }
}