@import '../../base/all/var';

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;

    &__wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }

    &__inner {
        display: table-cell;
    }

    &__content {
        position: relative;
        background-color: $white;
    }

    .btn-close {
        position: absolute;
        top: 1.250em;
        right: 1.250em;
        border: none;
        cursor: pointer;
        background: none;
        padding: 0;
        width: 1.250em;
        height: 1.250em;
        display: inline-block;

        &:before,
        &:after {
            content: '';
            background-color: $black;
            width: 0.288em;
            height: 1.250em;
            position: absolute; 
            border-radius: 0.625em;
            top: 50%;
        }

        &:before {
            transform: translateY(-50%) rotate(45deg);
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    .form-contacts {
        margin-top: 1.188em;

        &__input {
            padding-left: 1.250em;
            padding-right: 1.250em;
            text-align: center;
            border-radius: 0;
            border: 0;
            border-bottom: 0.188em solid $gray;
        }

        .button {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        &__inner {
            padding-top: 4em;
            padding-bottom: 4em;
        }

        &__content {
            margin-left: auto;
            margin-right: auto;
        }

        .form-contacts {
            max-width: none;

            &__box {
                max-width: none;
                width: 48%;
            }

            .button {
                width: 48%;
            }
        }

        .bnt-close {
            top: 1.35em;
            right: 1.85em;
        }
    }

    @media (min-width: 960px) {
        .form-contacts {
            &__box {
                min-width: 0;
            }
        }
    }

    @media (min-width: 1200px) {
        .form-contacts {
            max-width: 42em;
            margin-top: 3.5em;

            &__box,
            &__button {
                width: 44%;
            }

            &__input {
                font-weight: 700;
            }

            &__input,
            &__button {
                font-size: 1.188em;
            }
        }
    }
}

.holz-modal {
    .popup {
        &__inner {
            vertical-align: bottom;
        }

        &__content {
            padding: 3.75em 1.250em 3.438em;
        }
    }

    &__image {
        &-box {
            text-align: center;
        }
    }

    &__titles {
        &-box {
            margin-bottom: 1em;
        }
    }

    &__title,
    &__subtitle,
    &__title-small {
        text-align: center;
    }

    &__title,
    &__subtitle {
        font-weight: 400;
    }

    &__title {
        margin-bottom: 0.5em;
    }

    &__subtitle {
        margin-bottom: 0.5em;

        .orange {
            font-weight: 700;
            font-size: 1.2em;
        }
    }

    &__box,
    &__list {
        max-width: 37em;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        display: flex;
        margin-bottom: 1em;

        &:before {
            content: '';
            display: inline-block;
            flex-shrink: 0;
            width: 1em;
            height: 1em;
            margin-right: 0.5em;
            background-color: $yellow;
            background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20769 5.4018L0.0951864 3.22267C-0.0317288 3.09176 -0.0317288 2.87949 0.0951864 2.74856L0.554795 2.27444C0.68171 2.14351 0.887502 2.14351 1.01442 2.27444L2.4375 3.74239L5.48558 0.598188C5.6125 0.467271 5.81829 0.467271 5.9452 0.598188L6.40481 1.07231C6.53173 1.20322 6.53173 1.41549 6.40481 1.54642L2.66731 5.40181C2.54038 5.53273 2.3346 5.53273 2.20769 5.4018Z' fill='black'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
        }
    }

    &__text {
        font-size: 0.8em;
    }

    @media (min-width: 768px) {
        .popup {
            &__content {
                max-width: 42.063em;
                padding-top: 2.75em;
            }
        }

        &__box {
            display: flex;
            margin-bottom: 1.188em;
        }

        &__box,
        &__list {
            max-width: 38em;
        }

        &__list {
            &--width {
                max-width: 36em;
            }
        }

        &__image {
            &-box {
                margin-top: 11em;
                margin-right: 2.625em;
            }
        }

        &__titles {
            &-box {
                max-width: 20em;
            }
        }

        &__title,
        &__subtitle {
            font-size: 2em;
        }

        &__title {
            margin-bottom: 0.3em;

            &-small {
                margin-bottom: 1.8em;
            }
        }

        &__subtitle {
            margin-bottom: 0.7em;

            .orange {
                letter-spacing: 0.03em;
            }
        }

        &__square {
            font-size: 0.8em;
        }

        &__title-small {
            font-size: 1.250em;
        }

        &__subtitle,
        &__title-small {
            text-align: left;
        }

        &__item {
            margin-bottom: 1.1em;

            &:before {
                margin-right: 1.1em;
            }

            &--hide-icon {
                margin-left: 2.1em;

                &:before {
                    display: none;
                }
            }
        }

        &__text {
            font-size: 1.250em;
        }
    }

    @media (min-width: 1200px) {
        .popup {
            &__content {
                max-width: 48.563em;
            }
        }

        &__title,
        &__subtitle {
            font-size: 2.6em;
        }

        &__title {
            margin-bottom: 0.1em;

            &-small {
                margin-bottom: 2.1em;
                font-size: 1.55em;
                letter-spacing: 0.01em;
            }
        }

        &__subtitle {
            margin-bottom: 0.6em;
        }

        &__subtitle .orange,
        &__square {
            font-size: 1em;
        }

        &__titles {
            &-box {
                max-width: 25em;
                max-width: 23.4em;
                margin-left: -1.6em;
            }
        }

        &__box {
            max-width: 42.6em;
        }

        &__image {
            &-box {
                margin-top: 12.3em;
                margin-right: 3.625em;
            }
        }

        &__list {
            &--width {
                max-width: 44em;
            }
        }

        &__item {
            margin-bottom: 0.9em;

            &:before {
                width: 1.1em;
                height: 1.1em;
            }

            &--hide {
                margin-left: 2em;

                &:before {
                    display: none;
                }
            }
        }

        &__text {
            font-size: 1.5em;
            letter-spacing: 0.03em;
        }
    }

    &--holz-plus,
    &--holz-trend,
    &--holz-trend-plus,
    &--holz-eko-new,
    &--holz-eko-thermo,
    &--holz-optimal,
    &--holz-nova {
        .holz-modal {
            @media (min-width: 768px) {
                &__image {
                    &-box {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    &--holz-plus,
    &--holz-trend,
    &--holz-trend-plus,
    &--holz-eko-new,
    &--holz-eko-thermo,
    &--holz-optimal {
        .holz-modal {
            @media (min-width: 768px) {
                &__title-small {
                    text-align: center;
                }
            }
        }
    }

    &--holz-plus,
    &--holz-trend,
    &--holz-trend-plus,
    &--holz-eko-new,
    &--holz-eko-thermo,
    &--holz-optimal {
        .holz-modal {
            &__title-small {
                margin-bottom: 1em;
            }
        }
    }

    &--holz-plus,
    &--holz-trend,
    &--holz-trend-plus,
    &--holz-eko-new,
    &--holz-eko-thermo,
    &--holz-optimal,
    &--holz-nova {
        .holz-modal {
            @media (min-width: 768px) {
                &__titles-box {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    &--holz-plus,
    &--holz-trend,
    &--holz-trend-plus {
        .holz-modal {
            @media (min-width: 768px) {
                &__title-small {
                    margin-bottom: 2em;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            @media (min-width: 1200px) {
                &__titles-box {
                    max-width: 23.5em;
                }
            }
        }
    }

    &--holz-plus {
        .holz-modal {
            @media (min-width: 768px) {
                &__title-small {
                    max-width: 29em;
                }

                &__inner {
                    max-width: 27em;
                }

                &__list {
                    &--width {
                        max-width: 35em;
                    }
                }
            }

            @media (min-width: 1200px) {
                &__titles-box {
                    max-width: 23.5em;
                }

                &__inner {
                    max-width: 34em;
                }

                &__image {
                    &-box {
                        margin-right: 2.725em;
                    }
                }

                &__list {
                    &--width {
                        max-width: 43em;
                    }
                }
            }
        }
    }

    &--holz-trend,
    &--holz-trend-plus,
    &--holz-eko-new {
        .holz-modal {
            &__image {
                &-box {
                    margin-bottom: 1em;
                }
            }
        }
    }

    &--holz-trend,
    &--holz-trend-plus {
        .holz-modal {
            @media (min-width: 768px) {
                &__image {
                    &-box {
                        margin-left: 3em;
                        margin-right: 4em;
                    }
                }

                &__inner {
                    max-width: 26.2em;
                }

                &__list {
                    &--width {
                        margin-left: 2em;
                        margin-right: 0;
                        max-width: 35em;

                        .holz-modal {
                            &__item--hide-icon {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            @media (min-width: 1200px) {
                &__list--width {
                    margin-left: 0.9em;    
                    max-width: 45em;
                }
            }
        }
    }

    &--holz-eko-new,
    &--holz-eko-thermo,
    &--holz-optimal {
        .holz-modal {
            @media (min-width: 768px) {
                &__inner {
                    max-width: 26.5em;
                }

                &__list {
                    &--width {
                        max-width: 35em;
                    }
                }
            }

            @media (min-width: 1200px) {
                &__titles {
                    &-box {
                        max-width: 24em;
                    }
                }

                &__image {
                    &-box {
                        margin-right: 2.625em;
                    }
                }

                &__inner {
                    max-width: 34em;
                }

                &__list {
                    &--width {
                        max-width: 44em;
                    }
                }
            }
        }
    }

    &--holz-eko-new {
        .holz-modal {
            &__leader-sales {
                margin-bottom: 1em;
                text-align: center;
                font-weight: 700;
            }

            @media (min-width: 768px) {
                &__leader-sales {
                    font-size: 1.250em;
                }
            }
        }
    }

    &--holz-eko-thermo {
        @media (min-width: 768px) {
            .holz-modal {
                &__title-small {
                    margin-bottom: 2em;
                }
            }
        }
    }

    &--holz-optimal {
        .holz-modal {
            &__title-small {
                margin-bottom: 2em;
            }
        }
    }

    &--holz-nova {
        .holz-modal {
            &__titles {
                &-box {
                    margin-bottom: 3.313em;
                }
            }

            &__image {
                &-box {
                    margin-bottom: 1em;
                }
            }

            &__inner {
                max-width: 27em;
            }

            &__list {
                &--width {
                    max-width: 35em;
                }
            }

            @media (min-width: 1200px) {
                &__titles-box {
                    max-width: 24em;
                }

                &__image {
                    &-box {
                        margin-right: 2.625em;
                    }
                }

                &__inner {
                    max-width: 34em;
                }

                &__list {
                    &--width {
                        max-width: 43em;
                    }
                }
            }
        }
    }
}

.reviews-popup {
    .popup {
        background-color: $white;

        &__inner {
            vertical-align: middle;
        }

        &__content {
            position: static;
        }
    }

    .reviews-windows {
        position: relative;
        max-width: 20em;
        margin-left: auto;
        margin-right: auto;

        &__slider {
            width: 100%;
        }

        .owl-carousel img {
            height: 13em;
            object-fit: cover;
        }
        
        &__button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 1.875em;
            height: 1.875em;
            border: none;
            border-radius: 50%;
            background-color: rgba(255, 230, 0, 0.5);
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-style: solid;
                border-width: 7.5px 0 7.5px 10px;
                border-color: transparent transparent transparent $white;
            }
        }

        @media (min-width: 500px) {
            max-width: 26em;

            .owl-carousel img {
                height: 16em;
            }
        }

        @media (min-width: 600px) {
            max-width: 30em;

            .owl-carousel img {
                height: 20em;
            }

            .navigation {
                &-left,
                &-right {
                    width: 2.4rem;
                    height: 2.4rem;
                    background-color: $yellow;
                }

                &-left {
                    left: -3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='12' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97266 9.31689C9.5332 8.87744 9.5332 8.14502 9.97266 7.65674L16.6133 1.01611C17.1016 0.57666 17.834 0.57666 18.2734 1.01611L19.3965 2.13916C19.8359 2.62744 19.8359 3.35986 19.3965 3.79932L14.6602 8.53564L19.3965 13.2231C19.8359 13.6626 19.8359 14.395 19.3965 14.8833L18.2734 15.9575C17.834 16.4458 17.1016 16.4458 16.6133 15.9575L9.97266 9.31689ZM0.597656 7.65674L7.23828 1.01611C7.72656 0.57666 8.45898 0.57666 8.89844 1.01611L10.0215 2.13916C10.4609 2.57861 10.4609 3.35986 10.0215 3.79932L5.28516 8.48682L10.0215 13.2231C10.4609 13.6626 10.4609 14.395 10.0215 14.8833L8.89844 15.9575C8.45898 16.4458 7.67773 16.4458 7.23828 15.9575L0.597656 9.31689C0.158203 8.87744 0.158203 8.14502 0.597656 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
                }

                &-right {
                    right: -3.375em;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='12' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0273 9.31689C10.4668 8.87744 10.4668 8.14502 10.0273 7.65674L3.38672 1.01611C2.89844 0.57666 2.16602 0.57666 1.72656 1.01611L0.603516 2.13916C0.164062 2.62744 0.164062 3.35986 0.603516 3.79932L5.33984 8.53564L0.603516 13.2231C0.164062 13.6626 0.164062 14.395 0.603516 14.8833L1.72656 15.9575C2.16602 16.4458 2.89844 16.4458 3.38672 15.9575L10.0273 9.31689ZM19.4023 7.65674L12.7617 1.01611C12.2734 0.57666 11.541 0.57666 11.1016 1.01611L9.97852 2.13916C9.53906 2.57861 9.53906 3.35986 9.97852 3.79932L14.7148 8.48682L9.97852 13.2231C9.53906 13.6626 9.53906 14.395 9.97852 14.8833L11.1016 15.9575C11.541 16.4458 12.3223 16.4458 12.7617 15.9575L19.4023 9.31689C19.8418 8.87744 19.8418 8.14502 19.4023 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
                }
            }

            &__button {
                width: 2.875em;
                height: 2.875em;
            }
        }

        @media (min-width: 960px) {
            max-width: 40em;

            .owl-carousel img {
                height: 25em;
            }
        }

        @media (min-width: 1200px) {
            max-width: 62.39em;

            .owl-carousel img {
                height: 38.20em;
            }

            .navigation {
                &-left,
                &-right {
                    width: 2.5em;
                    height: 2.5em;
                }

                &-left {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97266 9.31689C9.5332 8.87744 9.5332 8.14502 9.97266 7.65674L16.6133 1.01611C17.1016 0.57666 17.834 0.57666 18.2734 1.01611L19.3965 2.13916C19.8359 2.62744 19.8359 3.35986 19.3965 3.79932L14.6602 8.53564L19.3965 13.2231C19.8359 13.6626 19.8359 14.395 19.3965 14.8833L18.2734 15.9575C17.834 16.4458 17.1016 16.4458 16.6133 15.9575L9.97266 9.31689ZM0.597656 7.65674L7.23828 1.01611C7.72656 0.57666 8.45898 0.57666 8.89844 1.01611L10.0215 2.13916C10.4609 2.57861 10.4609 3.35986 10.0215 3.79932L5.28516 8.48682L10.0215 13.2231C10.4609 13.6626 10.4609 14.395 10.0215 14.8833L8.89844 15.9575C8.45898 16.4458 7.67773 16.4458 7.23828 15.9575L0.597656 9.31689C0.158203 8.87744 0.158203 8.14502 0.597656 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
                }

                &-right {
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0273 9.31689C10.4668 8.87744 10.4668 8.14502 10.0273 7.65674L3.38672 1.01611C2.89844 0.57666 2.16602 0.57666 1.72656 1.01611L0.603516 2.13916C0.164062 2.62744 0.164062 3.35986 0.603516 3.79932L5.33984 8.53564L0.603516 13.2231C0.164062 13.6626 0.164062 14.395 0.603516 14.8833L1.72656 15.9575C2.16602 16.4458 2.89844 16.4458 3.38672 15.9575L10.0273 9.31689ZM19.4023 7.65674L12.7617 1.01611C12.2734 0.57666 11.541 0.57666 11.1016 1.01611L9.97852 2.13916C9.53906 2.57861 9.53906 3.35986 9.97852 3.79932L14.7148 8.48682L9.97852 13.2231C9.53906 13.6626 9.53906 14.395 9.97852 14.8833L11.1016 15.9575C11.541 16.4458 12.3223 16.4458 12.7617 15.9575L19.4023 9.31689C19.8418 8.87744 19.8418 8.14502 19.4023 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
                }
            }

            &__button {
                width: 4.313em;
                height: 4.313em;

                &:before {
                    border-width: 13.5px 0 13.5px 25px;
                }
            }
        }
    }

    @media (min-width: 960px) {
        .btn-close {
            top: 2.25em;
            right: 2.25em;
            font-size: 1.1rem;
        }
    }
}