.popup {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popup__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.popup__inner {
  display: table-cell;
}

.popup__content {
  position: relative;
  background-color: #ffffff;
}

.popup .btn-close {
  position: absolute;
  top: 1.250em;
  right: 1.250em;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 1.250em;
  height: 1.250em;
  display: inline-block;
}

.popup .btn-close:before, .popup .btn-close:after {
  content: '';
  background-color: #000000;
  width: 0.288em;
  height: 1.250em;
  position: absolute;
  border-radius: 0.625em;
  top: 50%;
}

.popup .btn-close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.popup .btn-close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.popup .form-contacts {
  margin-top: 1.188em;
}

.popup .form-contacts__input {
  padding-left: 1.250em;
  padding-right: 1.250em;
  text-align: center;
  border-radius: 0;
  border: 0;
  border-bottom: 0.188em solid #C9C9C9;
}

.popup .form-contacts .button {
  width: 100%;
}

@media (min-width: 768px) {
  .popup__inner {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .popup__content {
    margin-left: auto;
    margin-right: auto;
  }
  .popup .form-contacts {
    max-width: none;
  }
  .popup .form-contacts__box {
    max-width: none;
    width: 48%;
  }
  .popup .form-contacts .button {
    width: 48%;
  }
  .popup .bnt-close {
    top: 1.35em;
    right: 1.85em;
  }
}

@media (min-width: 960px) {
  .popup .form-contacts__box {
    min-width: 0;
  }
}

@media (min-width: 1200px) {
  .popup .form-contacts {
    max-width: 42em;
    margin-top: 3.5em;
  }
  .popup .form-contacts__box, .popup .form-contacts__button {
    width: 44%;
  }
  .popup .form-contacts__input {
    font-weight: 700;
  }
  .popup .form-contacts__input, .popup .form-contacts__button {
    font-size: 1.188em;
  }
}

.holz-modal .popup__inner {
  vertical-align: bottom;
}

.holz-modal .popup__content {
  padding: 3.75em 1.250em 3.438em;
}

.holz-modal__image-box {
  text-align: center;
}

.holz-modal__titles-box {
  margin-bottom: 1em;
}

.holz-modal__title, .holz-modal__subtitle, .holz-modal__title-small {
  text-align: center;
}

.holz-modal__title, .holz-modal__subtitle {
  font-weight: 400;
}

.holz-modal__title {
  margin-bottom: 0.5em;
}

.holz-modal__subtitle {
  margin-bottom: 0.5em;
}

.holz-modal__subtitle .orange {
  font-weight: 700;
  font-size: 1.2em;
}

.holz-modal__box, .holz-modal__list {
  max-width: 37em;
  margin-left: auto;
  margin-right: auto;
}

.holz-modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.holz-modal__item:before {
  content: '';
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  background-color: #FFE600;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.20769 5.4018L0.0951864 3.22267C-0.0317288 3.09176 -0.0317288 2.87949 0.0951864 2.74856L0.554795 2.27444C0.68171 2.14351 0.887502 2.14351 1.01442 2.27444L2.4375 3.74239L5.48558 0.598188C5.6125 0.467271 5.81829 0.467271 5.9452 0.598188L6.40481 1.07231C6.53173 1.20322 6.53173 1.41549 6.40481 1.54642L2.66731 5.40181C2.54038 5.53273 2.3346 5.53273 2.20769 5.4018Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.holz-modal__text {
  font-size: 0.8em;
}

@media (min-width: 768px) {
  .holz-modal .popup__content {
    max-width: 42.063em;
    padding-top: 2.75em;
  }
  .holz-modal__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.188em;
  }
  .holz-modal__box, .holz-modal__list {
    max-width: 38em;
  }
  .holz-modal__list--width {
    max-width: 36em;
  }
  .holz-modal__image-box {
    margin-top: 11em;
    margin-right: 2.625em;
  }
  .holz-modal__titles-box {
    max-width: 20em;
  }
  .holz-modal__title, .holz-modal__subtitle {
    font-size: 2em;
  }
  .holz-modal__title {
    margin-bottom: 0.3em;
  }
  .holz-modal__title-small {
    margin-bottom: 1.8em;
  }
  .holz-modal__subtitle {
    margin-bottom: 0.7em;
  }
  .holz-modal__subtitle .orange {
    letter-spacing: 0.03em;
  }
  .holz-modal__square {
    font-size: 0.8em;
  }
  .holz-modal__title-small {
    font-size: 1.250em;
  }
  .holz-modal__subtitle, .holz-modal__title-small {
    text-align: left;
  }
  .holz-modal__item {
    margin-bottom: 1.1em;
  }
  .holz-modal__item:before {
    margin-right: 1.1em;
  }
  .holz-modal__item--hide-icon {
    margin-left: 2.1em;
  }
  .holz-modal__item--hide-icon:before {
    display: none;
  }
  .holz-modal__text {
    font-size: 1.250em;
  }
}

@media (min-width: 1200px) {
  .holz-modal .popup__content {
    max-width: 48.563em;
  }
  .holz-modal__title, .holz-modal__subtitle {
    font-size: 2.6em;
  }
  .holz-modal__title {
    margin-bottom: 0.1em;
  }
  .holz-modal__title-small {
    margin-bottom: 2.1em;
    font-size: 1.55em;
    letter-spacing: 0.01em;
  }
  .holz-modal__subtitle {
    margin-bottom: 0.6em;
  }
  .holz-modal__subtitle .orange, .holz-modal__square {
    font-size: 1em;
  }
  .holz-modal__titles-box {
    max-width: 25em;
    max-width: 23.4em;
    margin-left: -1.6em;
  }
  .holz-modal__box {
    max-width: 42.6em;
  }
  .holz-modal__image-box {
    margin-top: 12.3em;
    margin-right: 3.625em;
  }
  .holz-modal__list--width {
    max-width: 44em;
  }
  .holz-modal__item {
    margin-bottom: 0.9em;
  }
  .holz-modal__item:before {
    width: 1.1em;
    height: 1.1em;
  }
  .holz-modal__item--hide {
    margin-left: 2em;
  }
  .holz-modal__item--hide:before {
    display: none;
  }
  .holz-modal__text {
    font-size: 1.5em;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-plus .holz-modal__image-box, .holz-modal--holz-trend .holz-modal__image-box, .holz-modal--holz-trend-plus .holz-modal__image-box, .holz-modal--holz-eko-new .holz-modal__image-box, .holz-modal--holz-eko-thermo .holz-modal__image-box, .holz-modal--holz-optimal .holz-modal__image-box, .holz-modal--holz-nova .holz-modal__image-box {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-plus .holz-modal__title-small, .holz-modal--holz-trend .holz-modal__title-small, .holz-modal--holz-trend-plus .holz-modal__title-small, .holz-modal--holz-eko-new .holz-modal__title-small, .holz-modal--holz-eko-thermo .holz-modal__title-small, .holz-modal--holz-optimal .holz-modal__title-small {
    text-align: center;
  }
}

.holz-modal--holz-plus .holz-modal__title-small, .holz-modal--holz-trend .holz-modal__title-small, .holz-modal--holz-trend-plus .holz-modal__title-small, .holz-modal--holz-eko-new .holz-modal__title-small, .holz-modal--holz-eko-thermo .holz-modal__title-small, .holz-modal--holz-optimal .holz-modal__title-small {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .holz-modal--holz-plus .holz-modal__titles-box, .holz-modal--holz-trend .holz-modal__titles-box, .holz-modal--holz-trend-plus .holz-modal__titles-box, .holz-modal--holz-eko-new .holz-modal__titles-box, .holz-modal--holz-eko-thermo .holz-modal__titles-box, .holz-modal--holz-optimal .holz-modal__titles-box, .holz-modal--holz-nova .holz-modal__titles-box {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-plus .holz-modal__title-small, .holz-modal--holz-trend .holz-modal__title-small, .holz-modal--holz-trend-plus .holz-modal__title-small {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .holz-modal--holz-plus .holz-modal__titles-box, .holz-modal--holz-trend .holz-modal__titles-box, .holz-modal--holz-trend-plus .holz-modal__titles-box {
    max-width: 23.5em;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-plus .holz-modal__title-small {
    max-width: 29em;
  }
  .holz-modal--holz-plus .holz-modal__inner {
    max-width: 27em;
  }
  .holz-modal--holz-plus .holz-modal__list--width {
    max-width: 35em;
  }
}

@media (min-width: 1200px) {
  .holz-modal--holz-plus .holz-modal__titles-box {
    max-width: 23.5em;
  }
  .holz-modal--holz-plus .holz-modal__inner {
    max-width: 34em;
  }
  .holz-modal--holz-plus .holz-modal__image-box {
    margin-right: 2.725em;
  }
  .holz-modal--holz-plus .holz-modal__list--width {
    max-width: 43em;
  }
}

.holz-modal--holz-trend .holz-modal__image-box, .holz-modal--holz-trend-plus .holz-modal__image-box, .holz-modal--holz-eko-new .holz-modal__image-box {
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .holz-modal--holz-trend .holz-modal__image-box, .holz-modal--holz-trend-plus .holz-modal__image-box {
    margin-left: 3em;
    margin-right: 4em;
  }
  .holz-modal--holz-trend .holz-modal__inner, .holz-modal--holz-trend-plus .holz-modal__inner {
    max-width: 26.2em;
  }
  .holz-modal--holz-trend .holz-modal__list--width, .holz-modal--holz-trend-plus .holz-modal__list--width {
    margin-left: 2em;
    margin-right: 0;
    max-width: 35em;
  }
  .holz-modal--holz-trend .holz-modal__list--width .holz-modal__item--hide-icon, .holz-modal--holz-trend-plus .holz-modal__list--width .holz-modal__item--hide-icon {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .holz-modal--holz-trend .holz-modal__list--width, .holz-modal--holz-trend-plus .holz-modal__list--width {
    margin-left: 0.9em;
    max-width: 45em;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-eko-new .holz-modal__inner, .holz-modal--holz-eko-thermo .holz-modal__inner, .holz-modal--holz-optimal .holz-modal__inner {
    max-width: 26.5em;
  }
  .holz-modal--holz-eko-new .holz-modal__list--width, .holz-modal--holz-eko-thermo .holz-modal__list--width, .holz-modal--holz-optimal .holz-modal__list--width {
    max-width: 35em;
  }
}

@media (min-width: 1200px) {
  .holz-modal--holz-eko-new .holz-modal__titles-box, .holz-modal--holz-eko-thermo .holz-modal__titles-box, .holz-modal--holz-optimal .holz-modal__titles-box {
    max-width: 24em;
  }
  .holz-modal--holz-eko-new .holz-modal__image-box, .holz-modal--holz-eko-thermo .holz-modal__image-box, .holz-modal--holz-optimal .holz-modal__image-box {
    margin-right: 2.625em;
  }
  .holz-modal--holz-eko-new .holz-modal__inner, .holz-modal--holz-eko-thermo .holz-modal__inner, .holz-modal--holz-optimal .holz-modal__inner {
    max-width: 34em;
  }
  .holz-modal--holz-eko-new .holz-modal__list--width, .holz-modal--holz-eko-thermo .holz-modal__list--width, .holz-modal--holz-optimal .holz-modal__list--width {
    max-width: 44em;
  }
}

.holz-modal--holz-eko-new .holz-modal__leader-sales {
  margin-bottom: 1em;
  text-align: center;
  font-weight: 700;
}

@media (min-width: 768px) {
  .holz-modal--holz-eko-new .holz-modal__leader-sales {
    font-size: 1.250em;
  }
}

@media (min-width: 768px) {
  .holz-modal--holz-eko-thermo .holz-modal__title-small {
    margin-bottom: 2em;
  }
}

.holz-modal--holz-optimal .holz-modal__title-small {
  margin-bottom: 2em;
}

.holz-modal--holz-nova .holz-modal__titles-box {
  margin-bottom: 3.313em;
}

.holz-modal--holz-nova .holz-modal__image-box {
  margin-bottom: 1em;
}

.holz-modal--holz-nova .holz-modal__inner {
  max-width: 27em;
}

.holz-modal--holz-nova .holz-modal__list--width {
  max-width: 35em;
}

@media (min-width: 1200px) {
  .holz-modal--holz-nova .holz-modal__titles-box {
    max-width: 24em;
  }
  .holz-modal--holz-nova .holz-modal__image-box {
    margin-right: 2.625em;
  }
  .holz-modal--holz-nova .holz-modal__inner {
    max-width: 34em;
  }
  .holz-modal--holz-nova .holz-modal__list--width {
    max-width: 43em;
  }
}

.reviews-popup .popup {
  background-color: #ffffff;
}

.reviews-popup .popup__inner {
  vertical-align: middle;
}

.reviews-popup .popup__content {
  position: static;
}

.reviews-popup .reviews-windows {
  position: relative;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}

.reviews-popup .reviews-windows__slider {
  width: 100%;
}

.reviews-popup .reviews-windows .owl-carousel img {
  height: 13em;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-popup .reviews-windows__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 1.875em;
  height: 1.875em;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 230, 0, 0.5);
  cursor: pointer;
}

.reviews-popup .reviews-windows__button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #ffffff;
}

@media (min-width: 500px) {
  .reviews-popup .reviews-windows {
    max-width: 26em;
  }
  .reviews-popup .reviews-windows .owl-carousel img {
    height: 16em;
  }
}

@media (min-width: 600px) {
  .reviews-popup .reviews-windows {
    max-width: 30em;
  }
  .reviews-popup .reviews-windows .owl-carousel img {
    height: 20em;
  }
  .reviews-popup .reviews-windows .navigation-left, .reviews-popup .reviews-windows .navigation-right {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFE600;
  }
  .reviews-popup .reviews-windows .navigation-left {
    left: -3.375em;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='12' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97266 9.31689C9.5332 8.87744 9.5332 8.14502 9.97266 7.65674L16.6133 1.01611C17.1016 0.57666 17.834 0.57666 18.2734 1.01611L19.3965 2.13916C19.8359 2.62744 19.8359 3.35986 19.3965 3.79932L14.6602 8.53564L19.3965 13.2231C19.8359 13.6626 19.8359 14.395 19.3965 14.8833L18.2734 15.9575C17.834 16.4458 17.1016 16.4458 16.6133 15.9575L9.97266 9.31689ZM0.597656 7.65674L7.23828 1.01611C7.72656 0.57666 8.45898 0.57666 8.89844 1.01611L10.0215 2.13916C10.4609 2.57861 10.4609 3.35986 10.0215 3.79932L5.28516 8.48682L10.0215 13.2231C10.4609 13.6626 10.4609 14.395 10.0215 14.8833L8.89844 15.9575C8.45898 16.4458 7.67773 16.4458 7.23828 15.9575L0.597656 9.31689C0.158203 8.87744 0.158203 8.14502 0.597656 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .reviews-popup .reviews-windows .navigation-right {
    right: -3.375em;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='14' height='12' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0273 9.31689C10.4668 8.87744 10.4668 8.14502 10.0273 7.65674L3.38672 1.01611C2.89844 0.57666 2.16602 0.57666 1.72656 1.01611L0.603516 2.13916C0.164062 2.62744 0.164062 3.35986 0.603516 3.79932L5.33984 8.53564L0.603516 13.2231C0.164062 13.6626 0.164062 14.395 0.603516 14.8833L1.72656 15.9575C2.16602 16.4458 2.89844 16.4458 3.38672 15.9575L10.0273 9.31689ZM19.4023 7.65674L12.7617 1.01611C12.2734 0.57666 11.541 0.57666 11.1016 1.01611L9.97852 2.13916C9.53906 2.57861 9.53906 3.35986 9.97852 3.79932L14.7148 8.48682L9.97852 13.2231C9.53906 13.6626 9.53906 14.395 9.97852 14.8833L11.1016 15.9575C11.541 16.4458 12.3223 16.4458 12.7617 15.9575L19.4023 9.31689C19.8418 8.87744 19.8418 8.14502 19.4023 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .reviews-popup .reviews-windows__button {
    width: 2.875em;
    height: 2.875em;
  }
}

@media (min-width: 960px) {
  .reviews-popup .reviews-windows {
    max-width: 40em;
  }
  .reviews-popup .reviews-windows .owl-carousel img {
    height: 25em;
  }
}

@media (min-width: 1200px) {
  .reviews-popup .reviews-windows {
    max-width: 62.39em;
  }
  .reviews-popup .reviews-windows .owl-carousel img {
    height: 38.20em;
  }
  .reviews-popup .reviews-windows .navigation-left, .reviews-popup .reviews-windows .navigation-right {
    width: 2.5em;
    height: 2.5em;
  }
  .reviews-popup .reviews-windows .navigation-left {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.97266 9.31689C9.5332 8.87744 9.5332 8.14502 9.97266 7.65674L16.6133 1.01611C17.1016 0.57666 17.834 0.57666 18.2734 1.01611L19.3965 2.13916C19.8359 2.62744 19.8359 3.35986 19.3965 3.79932L14.6602 8.53564L19.3965 13.2231C19.8359 13.6626 19.8359 14.395 19.3965 14.8833L18.2734 15.9575C17.834 16.4458 17.1016 16.4458 16.6133 15.9575L9.97266 9.31689ZM0.597656 7.65674L7.23828 1.01611C7.72656 0.57666 8.45898 0.57666 8.89844 1.01611L10.0215 2.13916C10.4609 2.57861 10.4609 3.35986 10.0215 3.79932L5.28516 8.48682L10.0215 13.2231C10.4609 13.6626 10.4609 14.395 10.0215 14.8833L8.89844 15.9575C8.45898 16.4458 7.67773 16.4458 7.23828 15.9575L0.597656 9.31689C0.158203 8.87744 0.158203 8.14502 0.597656 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .reviews-popup .reviews-windows .navigation-right {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0273 9.31689C10.4668 8.87744 10.4668 8.14502 10.0273 7.65674L3.38672 1.01611C2.89844 0.57666 2.16602 0.57666 1.72656 1.01611L0.603516 2.13916C0.164062 2.62744 0.164062 3.35986 0.603516 3.79932L5.33984 8.53564L0.603516 13.2231C0.164062 13.6626 0.164062 14.395 0.603516 14.8833L1.72656 15.9575C2.16602 16.4458 2.89844 16.4458 3.38672 15.9575L10.0273 9.31689ZM19.4023 7.65674L12.7617 1.01611C12.2734 0.57666 11.541 0.57666 11.1016 1.01611L9.97852 2.13916C9.53906 2.57861 9.53906 3.35986 9.97852 3.79932L14.7148 8.48682L9.97852 13.2231C9.53906 13.6626 9.53906 14.395 9.97852 14.8833L11.1016 15.9575C11.541 16.4458 12.3223 16.4458 12.7617 15.9575L19.4023 9.31689C19.8418 8.87744 19.8418 8.14502 19.4023 7.65674Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  .reviews-popup .reviews-windows__button {
    width: 4.313em;
    height: 4.313em;
  }
  .reviews-popup .reviews-windows__button:before {
    border-width: 13.5px 0 13.5px 25px;
  }
}

@media (min-width: 960px) {
  .reviews-popup .btn-close {
    top: 2.25em;
    right: 2.25em;
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=popups.css.map */