.prices-for-wooden-pine-windows {
  /* .prices-for-wooden-pine-windows__title */
  /* .prices-for-wooden-pine-windows__slider */
  /* .prices-for-wooden-pine-windows__item */
  /* .prices-for-wooden-pine-windows__img */
  /* .prices-for-wooden-pine-windows__name */
  /* .prices-for-wooden-pine-windows__old-price */
  /* .prices-for-wooden-pine-windows__new-price */
  /* .prices-for-wooden-pine-windows__text */
  /* .prices-for-wooden-pine-windows__installment-plan */
  /* .prices-for-wooden-pine-windows__link */
}

.prices-for-wooden-pine-windows__title {
  text-align: center;
  margin-bottom: 0.75em;
  line-height: 1.2em;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__title {
    margin-bottom: 0.85em;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .prices-for-wooden-pine-windows__title {
    margin-bottom: 0.8em;
  }
}

.prices-for-wooden-pine-windows__slider {
  padding-bottom: 0.5em;
  margin-bottom: 1.8em;
}

.prices-for-wooden-pine-windows__slider .pagination.active {
  background-color: #F26422;
}

@media (min-width: 1200px) {
  .prices-for-wooden-pine-windows__slider {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.prices-for-wooden-pine-windows__item {
  text-align: center;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.prices-for-wooden-pine-windows__img {
  height: 24.9rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1.4em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__img {
    height: 24rem;
    margin-bottom: 1.4em;
  }
}

.prices-for-wooden-pine-windows__name {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 0.9em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__name {
    font-size: 1.4rem;
  }
}

.prices-for-wooden-pine-windows__old-price {
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 1.6em;
  display: inline-block;
  margin-bottom: 0.9em;
  position: relative;
}

.prices-for-wooden-pine-windows__old-price::after {
  content: "";
  position: absolute;
  height: 0.1em;
  width: 110%;
  background-color: #F26422;
  left: -0.3em;
  right: 0;
  top: 0.5em;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__old-price {
    margin: 0;
    margin-bottom: 0.35em;
  }
}

.prices-for-wooden-pine-windows__new-price {
  font-weight: 900;
  font-size: 2.4rem;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__new-price {
    display: block;
    margin-bottom: 0.15em;
  }
}

.prices-for-wooden-pine-windows__text {
  font-size: 1.6rem;
  margin-bottom: 0.9em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__text {
    min-height: 2.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 13em;
    margin: 0 auto;
    font-size: 1.4rem;
    margin-bottom: 0.6em;
  }
}

.prices-for-wooden-pine-windows__installment-plan {
  font-size: 1.4rem;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 0.5em;
  border-radius: 0.3em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__installment-plan {
    margin-top: auto;
  }
}

.prices-for-wooden-pine-windows__link {
  max-width: 27.4rem;
  margin-top: 1.5em;
}

@media (min-width: 768px) {
  .prices-for-wooden-pine-windows__link {
    margin-top: 0.9em;
  }
}
/*# sourceMappingURL=prices-for-wooden-pine-windows.css.map */