.profile-types-for-external-glazing {
  /* .profile-types-for-external-glazing__title */
  /* .profile-types-for-external-glazing__inner */
  /* .profile-types-for-external-glazing__item */
  /* .profile-types-for-external-glazing__item-title */
  /* .profile-types-for-external-glazing__item-subtitle */
  /* .profile-types-for-external-glazing__item-lable */
  /* .profile-types-for-external-glazing__item-text */
  /* .profile-types-for-external-glazing__item-box-price */
  /* .profile-types-for-external-glazing__item-bg */
  /* .profile-types-for-external-glazing__item-block */
  /* .profile-types-for-external-glazing__block-cold */
  /* .profile-types-for-external-glazing__block-temperature */
  /* .profile-types-for-external-glazing__block-hot */
}

.profile-types-for-external-glazing__title {
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 1.1em;
}

@media (min-width: 768px) {
  .profile-types-for-external-glazing__title {
    margin-bottom: 0.8em;
  }
}

@media (min-width: 768px) {
  .profile-types-for-external-glazing__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__inner {
    padding: 0 5.1em;
  }
}

.profile-types-for-external-glazing__item {
  border: 0.1em solid #c9c9c9;
  border-radius: 0.3em;
  position: relative;
  margin-bottom: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.2em;
  padding-top: 1.5em;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .profile-types-for-external-glazing__item {
    max-width: 34.6rem;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item {
    max-width: 38.8rem;
    padding-top: 1.4em;
  }
}

.profile-types-for-external-glazing__item-title {
  font-size: 1.6rem;
  margin-bottom: 1.05em;
  text-align: center;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-title {
    margin-bottom: 1.35em;
    font-size: 1.7rem;
  }
}

.profile-types-for-external-glazing__item-subtitle, .profile-types-for-external-glazing__item-text {
  max-width: 10.6em;
  margin: 0 0.4em 1em 9.6em;
  z-index: 2;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-subtitle, .profile-types-for-external-glazing__item-text {
    margin-left: 10.45em;
    font-size: 1.8rem;
  }
}

.profile-types-for-external-glazing__item-subtitle {
  margin-bottom: 0.7em;
}

.profile-types-for-external-glazing__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9.6em;
  margin-bottom: 0.7em;
  z-index: 2;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__box-img {
    margin-left: 11.75em;
    margin-bottom: 0.9em;
  }
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__img-text {
    font-size: 1.8rem;
  }
}

.profile-types-for-external-glazing__item-lable {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 4.65em;
  margin-left: 0.5em;
  max-height: 1.1em;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-lable {
    max-width: 5.25em;
    max-height: 1.2em;
  }
}

.profile-types-for-external-glazing__item-text {
  margin-bottom: 0.15em;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-text {
    margin-bottom: 0.2em;
  }
}

.profile-types-for-external-glazing__item-price {
  font-size: 2.4rem;
  margin-left: 6.5em;
  margin-bottom: 0.6em;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-price {
    margin-left: 6.3em;
    font-size: 3rem;
  }
}

.profile-types-for-external-glazing__item-bg {
  position: absolute;
  height: 10.7em;
  left: 1.2em;
  top: 3.4em;
  z-index: 1;
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-bg {
    height: 13.4em;
    left: 0.8em;
  }
}

.profile-types-for-external-glazing__item-block {
  position: relative;
  max-width: 16.1rem;
  width: 100%;
  border: 0.15rem solid #f26422;
  border-radius: 0.4em;
  padding: 0.3em 0.2em 0.2em 0.8em;
  z-index: 2;
  margin-left: auto;
  margin-right: 1.6em;
}

.profile-types-for-external-glazing__item-block::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #f26422;
  border-radius: 50%;
  background-image: url(/wp-content/themes/twentytwenty-child/img/sprite2.png);
  background-repeat: no-repeat;
  background-position: -1.8em 0.4em;
  background-size: 6.7em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
  .profile-types-for-external-glazing__item-block {
    margin-right: 2.1em;
  }
}

.profile-types-for-external-glazing__block-cold {
  font-size: 1rem;
}

.profile-types-for-external-glazing__block-temperature {
  font-size: 1.4rem;
  display: block;
}

.profile-types-for-external-glazing__block-hot {
  font-size: 1rem;
}
/*# sourceMappingURL=profile-types-for-external-glazing.css.map */