.table {
  /* .table__wrapper */
  /* .table__title */
  /* .table__subtitle */
  /* .table__inner */
  /* .table__item */
}

.table__wrapper {
  padding-top: 1rem;
}

.table__title {
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .table__title {
    line-height: 0.8;
  }
}

@media (min-width: 1200px) {
  .table__title {
    line-height: 1;
  }
}

.table__subtitle {
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 2.3rem;
}

@media (min-width: 768px) {
  .table__subtitle {
    margin-bottom: 2.7rem;
  }
}

.table__inner {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: hidden;
}

.table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  /* .table__item--title */
}

.table__item:nth-child(odd) {
  background-color: #F6F6F6;
}

.table__item span {
  border-right: 1px solid #e8e8e8;
  width: 100%;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
}

.table__item span:first-child {
  max-width: 15.7rem;
}

@media (min-width: 768px) {
  .table__item span:first-child {
    max-width: 30.8rem;
  }
}

@media (min-width: 1200px) {
  .table__item span:first-child {
    max-width: 44.4rem;
    padding-left: 3.7rem;
  }
}

.table__item span:nth-child(2) {
  max-width: 11.4rem;
}

@media (min-width: 768px) {
  .table__item span:nth-child(2) {
    max-width: 20.1rem;
  }
}

@media (min-width: 1200px) {
  .table__item span:nth-child(2) {
    max-width: 28.2rem;
    padding-left: 2rem;
  }
}

.table__item span:last-child {
  max-width: 7.4rem;
  border: none;
}

@media (min-width: 768px) {
  .table__item span:last-child {
    font-size: 1.8rem;
    max-width: 19.9rem;
    text-align: center;
    padding: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .table__item span:last-child {
    font-size: 1.8em;
    max-width: 22.7rem;
  }
}

@media (min-width: 768px) {
  .table__item span {
    font-size: 1.6rem;
    padding: 1.2rem 1rem 1.1rem 2.5rem;
  }
}

@media (min-width: 1200px) {
  .table__item span {
    font-size: 1.8rem;
    padding: 1.7rem 1rem 1.3rem 2.5rem;
  }
}

.table__item.table__item--title {
  text-align: left;
  text-transform: uppercase;
  background-color: #FFE600;
}

.table__item.table__item--title span {
  padding: 0.85rem 1rem;
}

@media (min-width: 1200px) {
  .table__item.table__item--title span:first-child {
    padding-left: 3.7rem;
  }
}

@media (min-width: 1200px) {
  .table__item.table__item--title span:nth-child(2) {
    padding-left: 2rem;
  }
}

@media (min-width: 768px) {
  .table__item.table__item--title span:last-child {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .table__item.table__item--title span:last-child {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .table__item.table__item--title span {
    padding: 1.75rem 1rem;
  }
}

@media (min-width: 1200px) {
  .table__item.table__item--title span {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .table__item.table__item--title {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .table__item.table__item--title {
    text-align: left;
  }
}
/*# sourceMappingURL=table.css.map */