.warm-aluminum-windows {
  background-color: #F6F6F6;
  /* .glazing-bath__wrapper */
  /* .glazing-bath__title */
  /* .glazing-bath__inner */
  /* .glazing-bath__box-img */
  /* .glazing-bath__img */
  /* .glazing-bath__box-lower */
  /* .glazing-bath__info */
  /* .glazing-bath__subtitle */
  /* .glazing-bath__info-text */
  /* .glazing-bath__box-price */
  /* .glazing-bath__price-all */
  /* .glazing-bath__price */
  /* .glazing-bath__number-old */
  /* .glazing-bath__number-new */
  /* .glazing-bath__btn */
}

@media (max-width: 767px) {
  .warm-aluminum-windows .container {
    width: 100%;
  }
}

.warm-aluminum-windows__wrapper {
  padding: 5.3rem 0 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .warm-aluminum-windows__wrapper {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__wrapper {
    padding: 5.5rem 0;
    overflow: visible;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__wrapper {
    padding: 6rem 0;
  }
}

.warm-aluminum-windows__title {
  background-color: transparent;
  position: relative;
  max-width: 13em;
  margin: 0 auto 1.4em;
  text-align: center;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__title {
    margin-bottom: 0.6em;
    margin-left: 0;
    max-width: 100%;
  }
}

.warm-aluminum-windows__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 7.6em;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2.6em 0 0;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__inner {
    padding: 0.7em 0 0;
  }
}

.warm-aluminum-windows__box-img {
  position: relative;
}

.warm-aluminum-windows__box-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #f6f6f6), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0)), to(#f6f6f6));
  background: linear-gradient(0deg, #f6f6f6 10%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 60%, #f6f6f6 100%);
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-img::before {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(98, 98, 98, 0)), to(#000000));
    background: linear-gradient(180deg, rgba(98, 98, 98, 0) 40%, #000000 100%);
    -webkit-box-shadow: inset 0 0 0.5em 0.01em rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 0.5em 0.01em rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-img {
    height: 25rem;
    width: 24.7em;
    border: 0.4em solid #fff;
    border-radius: 0.2em;
    -webkit-filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 0 0.1em rgba(0, 0, 0, 0.25));
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-img {
    height: 37rem;
    width: 34.6em;
  }
}

.warm-aluminum-windows__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__img {
    height: 100%;
    margin-top: 0;
    background-color: #fff;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.warm-aluminum-windows__box-lower {
  position: absolute;
  font-size: 1rem;
  display: block;
  color: #000;
  z-index: 3;
  bottom: 3.5em;
  left: 2.5em;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.warm-aluminum-windows__box-lower::before {
  content: "";
  position: absolute;
  background-image: url("/wp-content/themes/twentytwenty-child/img/prices-lower-black-s.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16.5rem;
  height: 5.3rem;
  top: -3.4em;
  left: -1.1em;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-lower::before {
    background-image: url("/wp-content/themes/twentytwenty-child/img/prices-lower-white-m.webp");
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-lower::before {
    background-image: url("/wp-content/themes/twentytwenty-child/img/prices-lower-white-l.webp");
    width: 21.9rem;
    height: 6.3rem;
    top: -3em;
    left: -1.1em;
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-lower {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    left: 3.1em;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-lower {
    font-size: 1.6rem;
    bottom: 1.2em;
    left: 2.4em;
  }
}

.warm-aluminum-windows__info {
  background-color: #F26422;
  padding: 1.9rem 0 2.1rem;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__info {
    background-color: transparent;
    padding: 0;
    max-width: 29.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__info {
    max-width: 39rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__info--top {
    padding-top: 0;
  }
}

.warm-aluminum-windows__subtitle {
  position: absolute;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__subtitle {
    font-size: 2rem;
    margin-bottom: 0.8em;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__subtitle {
    margin-bottom: 1.5em;
    font-size: 1.8rem;
    position: inherit;
    text-align: right;
  }
}

.warm-aluminum-windows__info-text {
  position: absolute;
  top: 2.3em;
  line-height: 1.2em;
  padding: 0 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__info-text {
    display: block;
    position: inherit;
    text-align: right;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__info-text {
    font-size: 1.8rem;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__info-text--top {
    margin-top: 0;
  }
}

.warm-aluminum-windows__box-price {
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  position: relative;
  max-width: 33.4rem;
  width: 100%;
  margin: 0 auto;
}

.warm-aluminum-windows__box-price::before {
  content: "";
  position: absolute;
  top: -0.3em;
  display: block;
  width: auto;
  left: 50%;
  right: 50%;
  margin: 0 auto;
  border: solid transparent;
  border-bottom-color: #f26422;
  border-top-color: transparent;
  border-width: 0.55em;
  -webkit-transform: translate(-50%, -100%) scaleX(12.5);
          transform: translate(-50%, -100%) scaleX(12.5);
  font-size: 6rem;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-price::before {
    top: 50%;
    left: -20em;
    -webkit-transform: translate(50%, -50%) scaleY(1.7) rotate(45deg);
            transform: translate(50%, -50%) scaleY(1.7) rotate(45deg);
    font-size: 1rem;
    z-index: 1;
    width: 5.2em;
    height: 5.2em;
    background: #f26422;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-price::before {
    width: 7.4em;
    height: 7.4em;
    left: -27em;
  }
}

.warm-aluminum-windows__box-price::after {
  content: "";
  position: absolute;
  height: 4.9rem;
  width: 0.1em;
  background-color: #fff;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-price::after {
    height: 4rem;
    left: 8.5em;
    top: 1em;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-price::after {
    height: 7.5rem;
    left: 11.6em;
  }
}

@media (min-width: 768px) {
  .warm-aluminum-windows__box-price {
    background-color: #F26422;
    padding: 0.9em;
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
    margin-top: auto;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__box-price {
    max-width: 39rem;
    padding: 1.9em 0.8em 1.9em 1.5em;
  }
}

.warm-aluminum-windows__price-all {
  display: block;
  margin-bottom: 0.9em;
  font-size: 1.6rem;
  color: #fff;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__price-all {
    font-size: 1.3rem;
    margin: 0.4em 0 0.9em;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__price-all {
    font-size: 1.8rem;
    margin-top: 0.3em;
  }
}

.warm-aluminum-windows__price {
  color: #fff;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__price {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__price {
    font-size: 2.4rem;
    z-index: 1;
  }
}

.warm-aluminum-windows__number-old {
  margin-top: 0.5em;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: block;
}

.warm-aluminum-windows__number-old::after {
  margin-left: 0.5em;
}

.warm-aluminum-windows__number-old::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.12em;
  background-color: #ffe600;
  -webkit-transform: rotate(10deg);
  transform: rotate(12deg);
  left: -0.1em;
  bottom: 0.5em;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__number-old {
    font-size: 2rem;
    margin-top: 0.2em;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__number-old {
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 0.1em;
  }
}

.warm-aluminum-windows__number-new {
  font-size: 3rem;
  color: #FFE600;
  display: block;
}

.warm-aluminum-windows__number-new::after {
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__number-new {
    font-size: 2.5rem;
    font-weight: 900;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__number-new {
    font-size: 3.6rem;
  }
}

.warm-aluminum-windows__btn {
  min-width: 33.4rem;
  background-color: #fff;
  color: #F26422;
}

@media (min-width: 768px) {
  .warm-aluminum-windows__btn {
    min-width: 26.8rem;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .warm-aluminum-windows__btn {
    width: 33.4rem;
    margin-left: 0;
  }
}
/*# sourceMappingURL=warm-aluminum-windows.css.map */