.warranty-post-warranty-service .title, .warranty-post-warranty-service__image, .warranty-post-warranty-service__form {
  margin-right: auto;
  margin-left: auto;
}

.warranty-post-warranty-service .title,
.warranty-post-warranty-service__item p, .warranty-post-warranty-service__info {
  line-height: 1.2;
}

.warranty-post-warranty-service .title {
  max-width: 27rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.warranty-post-warranty-service__list {
  margin-bottom: 2.7rem;
}

.warranty-post-warranty-service__item:before, .warranty-post-warranty-service__brands-item:before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.40577 3.80135L0.82139 2.16701C0.726203 2.06882 0.726203 1.90962 0.82139 1.81142L1.1661 1.45583C1.26128 1.35763 1.41563 1.35763 1.51081 1.45583L2.57812 2.55679L4.86419 0.198641C4.95937 0.100453 5.11372 0.100453 5.2089 0.198641L5.55361 0.554229C5.6488 0.652418 5.6488 0.811619 5.55361 0.909817L2.75048 3.80136C2.65529 3.89955 2.50095 3.89955 2.40577 3.80135Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  border: 0.07rem solid #F26422;
}

.warranty-post-warranty-service__item, .warranty-post-warranty-service__brands-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warranty-post-warranty-service__item {
  margin-bottom: 0.9rem;
}

.warranty-post-warranty-service__item:before {
  -webkit-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.warranty-post-warranty-service__text {
  margin-bottom: 2.3rem;
  line-height: 1.19;
}

.warranty-post-warranty-service__text.text-1, .warranty-post-warranty-service__text.text-2 {
  margin-bottom: 1.6rem;
}

.warranty-post-warranty-service__text.text-3 {
  margin-bottom: 1.5rem;
}

.warranty-post-warranty-service__image, .warranty-post-warranty-service__input {
  display: block;
}

.warranty-post-warranty-service__image {
  margin-bottom: 2.5rem;
}

.warranty-post-warranty-service__brands {
  margin-bottom: 2.5rem;
}

.warranty-post-warranty-service__brands-item {
  margin-bottom: 1.2rem;
}

.warranty-post-warranty-service__brands-item:before {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.warranty-post-warranty-service__brands-item .orange {
  margin-right: 0.4rem;
}

.warranty-post-warranty-service__form, .warranty-post-warranty-service__form-box, .warranty-post-warranty-service__input {
  border-radius: 0.6rem;
}

.warranty-post-warranty-service__form {
  max-width: 34.5rem;
  padding: 2.5rem;
  background-color: #F2F2F2;
}

.warranty-post-warranty-service__form-box {
  position: relative;
  margin-bottom: 1rem;
}

.warranty-post-warranty-service__form-box.textarea-box .warranty-post-warranty-service__input {
  height: 9rem;
  padding-top: 1.3rem;
  padding-left: 1.2rem;
  resize: vertical;
}

.warranty-post-warranty-service__icon {
  position: absolute;
  top: 0.2rem;
  left: 1.2rem;
  width: 3rem;
  height: 3rem;
  -webkit-transform: scale(0.54);
          transform: scale(0.54);
  pointer-events: none;
}

.warranty-post-warranty-service__input {
  width: 100%;
  height: 3.5rem;
  padding-left: 4.6rem;
  padding-right: 2rem;
  border: 0.1rem solid #D0D0D0;
  font-size: 1.4rem;
  color: #BFBFBF;
}

.warranty-post-warranty-service .button {
  margin-bottom: 2.6rem;
}

.warranty-post-warranty-service__info,
.warranty-post-warranty-service__info a {
  color: #5D5D5D;
}

.warranty-post-warranty-service__info {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .warranty-post-warranty-service .title {
    max-width: 46rem;
  }
}

@media (min-width: 768px) {
  .warranty-post-warranty-service .container {
    width: calc(100% - 6rem);
  }
  .warranty-post-warranty-service .title {
    max-width: 57rem;
    line-height: 1.1;
  }
  .warranty-post-warranty-service__list {
    margin-bottom: 1.6rem;
  }
  .warranty-post-warranty-service__item p, .warranty-post-warranty-service__text, .warranty-post-warranty-service__brands-item {
    font-size: 1.8rem;
  }
  .warranty-post-warranty-service__item {
    margin-bottom: 0.7rem;
  }
  .warranty-post-warranty-service__item p {
    line-height: 1.23;
  }
  .warranty-post-warranty-service__text {
    margin-bottom: 1.6rem;
  }
  .warranty-post-warranty-service__text.text-1 {
    margin-bottom: 1.8rem;
  }
  .warranty-post-warranty-service__text.text-3 {
    margin-bottom: 1.9rem;
  }
  .warranty-post-warranty-service__box, .warranty-post-warranty-service__form {
    max-width: 70.8rem;
  }
  .warranty-post-warranty-service__box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'warranty-post-warranty-service__image warranty-post-warranty-service__text-1' 'warranty-post-warranty-service__image warranty-post-warranty-service__text-2' 'warranty-post-warranty-service__image warranty-post-warranty-service__text-3' 'warranty-post-warranty-service__image warranty-post-warranty-service__brands';
    grid-column-gap: 1.5rem;
    margin-bottom: 1.6rem;
    margin-right: auto;
    margin-left: auto;
  }
  .warranty-post-warranty-service__image {
    margin-bottom: 0;
  }
  .warranty-post-warranty-service__image-box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__image;
  }
  .warranty-post-warranty-service__text.text-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service__text-1;
  }
  .warranty-post-warranty-service__text.text-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service__text-2;
  }
  .warranty-post-warranty-service__text.text-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service__text-3;
  }
  .warranty-post-warranty-service__brands {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service__brands;
    margin-bottom: 0;
  }
  .warranty-post-warranty-service__brands-item {
    margin-bottom: 1rem;
  }
  .warranty-post-warranty-service__form {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'warranty-post-warranty-service__form-box-phone warranty-post-warranty-service-textarea-box' 'warranty-post-warranty-service__form-box-name warranty-post-warranty-service-textarea-box' 'warranty-post-warranty-service__form-box-contract warranty-post-warranty-service-button' 'warranty-post-warranty-service__info warranty-post-warranty-service__info';
    grid-column-gap: 1.5rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 3rem 6rem;
  }
  .warranty-post-warranty-service__form-box:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__form-box-phone;
  }
  .warranty-post-warranty-service__form-box:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__form-box-name;
  }
  .warranty-post-warranty-service__form-box:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__form-box-contract;
  }
  .warranty-post-warranty-service__form-box.textarea-box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service-textarea-box;
  }
  .warranty-post-warranty-service__icon {
    top: 0.4rem;
    left: 1.3rem;
    -webkit-transform: scale(0.64);
            transform: scale(0.64);
  }
  .warranty-post-warranty-service__input {
    height: 4rem;
    padding-left: 5.1rem;
    font-size: 1.6rem;
  }
  .warranty-post-warranty-service .button {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service-button;
    margin-bottom: 2rem;
  }
  .warranty-post-warranty-service__info {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: warranty-post-warranty-service__info;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .warranty-post-warranty-service .title {
    max-width: none;
    margin-bottom: 3.6rem;
    line-height: 1.14;
  }
  .warranty-post-warranty-service__list {
    max-width: 91rem;
  }
  .warranty-post-warranty-service__box {
    grid-column-gap: 0.8rem;
    -ms-grid-columns: 32rem;
        grid-template-columns: 32rem;
    margin-bottom: 2rem;
  }
  .warranty-post-warranty-service__box, .warranty-post-warranty-service__form {
    max-width: 96rem;
  }
  .warranty-post-warranty-service__image {
    margin-left: 0;
    margin-right: 0;
  }
  .warranty-post-warranty-service__text.text-3 {
    margin-bottom: 1.3rem;
  }
  .warranty-post-warranty-service__form {
        grid-template-areas: 'warranty-post-warranty-service__form-box-phone warranty-post-warranty-service-textarea-box warranty-post-warranty-service__form-box-contract' 'warranty-post-warranty-service__form-box-name warranty-post-warranty-service-textarea-box warranty-post-warranty-service-button' 'warranty-post-warranty-service__info warranty-post-warranty-service__info warranty-post-warranty-service__info';
    -ms-grid-columns: 27rem 28.8rem 1fr;
        grid-template-columns: 27rem 28.8rem 1fr;
    grid-column-gap: 4.1rem;
    padding: 3rem 2.5rem;
  }
  .warranty-post-warranty-service__form-box:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__form-box-phone;
  }
  .warranty-post-warranty-service__form-box:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: warranty-post-warranty-service__form-box-name;
  }
  .warranty-post-warranty-service__form-box:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: warranty-post-warranty-service__form-box-contract;
  }
  .warranty-post-warranty-service__form-box.textarea-box {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: warranty-post-warranty-service-textarea-box;
  }
  .warranty-post-warranty-service .button {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: warranty-post-warranty-service-button;
  }
  .warranty-post-warranty-service__info {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: warranty-post-warranty-service__info;
    max-width: 62rem;
    margin-right: auto;
    margin-left: auto;
  }
}
/*# sourceMappingURL=warranty-post-warranty-service.css.map */