.window-shapes {
  /* .window-shapes__title */
  /* .window-shapes__title--orange */
  /* .window-shapes__slider */
  /* .window-shapes__item */
  /* .window-shapes__box-img */
  /* .window-shapes__img */
  /* .window-shapes__price */
}

.window-shapes__title {
  margin-bottom: 0.70832em;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .window-shapes__title {
    margin-bottom: 0.85em;
  }
}

@media (min-width: 1200px) {
  .window-shapes__title {
    margin-bottom: 0.75em;
  }
}

.window-shapes__title--orange {
  display: block;
  color: #F26422;
}

@media (min-width: 768px) {
  .window-shapes__title--orange {
    color: inherit;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .window-shapes__slider .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .window-shapes__slider .owl-item {
    width: 26.5rem !important;
    margin: 0 auto 2.5em;
  }
}

.window-shapes__slider .owl-next,
.window-shapes__slider .owl-prev {
  position: absolute;
  top: 35%;
}

.window-shapes__slider .owl-next span,
.window-shapes__slider .owl-prev span {
  font-size: 3em;
  font-weight: 700;
}

.window-shapes__slider .disabled {
  opacity: 0.25;
}

.window-shapes__slider .owl-next {
  right: 0;
}

@media (min-width: 768px) {
  .window-shapes__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1em;
  }
}

@media (min-width: 1200px) {
  .window-shapes__slider {
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.window-shapes__item {
  text-align: center;
}

@media (min-width: 768px) {
  .window-shapes__item {
    margin-bottom: 2.4em;
  }
}

.window-shapes__box-img {
  width: 30rem;
  margin: 0 auto;
  margin-bottom: 1.45em;
}

@media (min-width: 768px) {
  .window-shapes__box-img {
    width: 22.7rem;
    margin: 0 0.9em 1.1em;
  }
}

@media (min-width: 1200px) {
  .window-shapes__box-img {
    margin: 0 auto 1.1em;
  }
}

.window-shapes__img {
  width: 100%;
  height: 100%;
}

.window-shapes__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  max-width: 14.7rem;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #F26422;
  border: 0.2rem solid #F26422;
  border-radius: 0.6rem;
  position: relative;
}

.window-shapes__price::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.2rem solid #F26422;
  border-right: 0.2rem solid #F26422;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -0.9rem;
  background-color: #fff;
}

@media (min-width: 768px) {
  .window-shapes__price {
    padding: 0 1.436em;
  }
}
/*# sourceMappingURL=window-shapes.css.map */