.window-production-5-days {
    .title {
        max-width: 14em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.688em;
    }

    @media(min-width: 768px) {
        .text {
            text-align: center;
        }
    }

    @media(min-width: 960px) {
        .container {
            width: calc(100% - 8rem);
        }
    }

    @media(min-width: 1200px) {
        .title {
            margin-bottom: 0.588em;
            max-width: 22em;
        }

        .text {
            font-size: 2.4rem;
        }
    }
}