.windows-at-low-prices {
  padding-top: 4.5rem;
  padding-bottom: 8.5rem;
}

.windows-at-low-prices .title, .windows-at-low-prices__img, .windows-at-low-prices__price-box, .windows-at-low-prices__order-box {
  margin-left: auto;
  margin-right: auto;
}

.windows-at-low-prices .title {
  max-width: 12em;
  margin-bottom: 1.363em;
  font-size: 1.5em;
}

.windows-at-low-prices__title .orange, .windows-at-low-prices__img, .windows-at-low-prices__saving-price {
  display: block;
}

.windows-at-low-prices__title {
  margin-bottom: 0.738em;
  text-align: center;
  line-height: 1.4;
}

.windows-at-low-prices__img {
  max-width: 12.875em;
  margin-bottom: 1.563em;
}

.windows-at-low-prices__img--big {
  max-width: 18.475em;
}

.windows-at-low-prices__price, .windows-at-low-prices__saving {
  font-weight: 900;
}

.windows-at-low-prices__price-box, .windows-at-low-prices__order-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.windows-at-low-prices__price {
  margin-left: 0.3em;
  font-size: 2.250em;
}

.windows-at-low-prices__price:after {
  font-weight: 700;
  margin-left: 0.1em;
}

.windows-at-low-prices__price-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 20em;
  margin-bottom: 1.313em;
}

.windows-at-low-prices__saving {
  position: relative;
  max-width: 11.250em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  padding-right: 0.5em;
  padding-left: 0.4em;
  background-color: #17A1E3;
  color: #ffffff;
  text-align: center;
  border-radius: 0.375em;
  -webkit-box-shadow: 0.125em 0.125em 0.188em rgba(0, 0, 0, 0.25);
          box-shadow: 0.125em 0.125em 0.188em rgba(0, 0, 0, 0.25);
}

.windows-at-low-prices__saving:before, .windows-at-low-prices__saving:after {
  content: '';
  position: absolute;
}

.windows-at-low-prices__saving:before {
  top: 0.60em;
  left: -1.14em;
  width: 2.79em;
  height: 2.97em;
  background-color: #17A1E3;
  border-radius: 0.375em;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
}

.windows-at-low-prices__saving:after {
  top: 1.7em;
  left: -0.8em;
  width: 0.572em;
  height: 0.572em;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0.125em 0.125em 0.188em rgba(0, 0, 0, 0.25);
          box-shadow: inset 0.125em 0.125em 0.188em rgba(0, 0, 0, 0.25);
}

.windows-at-low-prices__saving-price {
  font-size: 1.875em;
}

.windows-at-low-prices__saving-price:after {
  font-weight: 700;
  margin-left: 0.3em;
}

.windows-at-low-prices__order-box {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 19.8em;
}

.windows-at-low-prices__order-text {
  margin-bottom: 0.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
}

.windows-at-low-prices .button {
  margin: 0;
  padding: 0.6em 2.1em;
  max-width: 11.022em;
}

.windows-at-low-prices .pagination {
  background-color: #C9C9C9;
}

.windows-at-low-prices .pagination.active {
  background-color: #17A1E3;
}

.windows-at-low-prices .pagination-box {
  bottom: -2.6em;
}

@media (min-width: 768px) {
  .windows-at-low-prices .container {
    width: calc(100% - 6.6rem);
  }
  .windows-at-low-prices .title {
    max-width: none;
    margin-bottom: 0.963em;
    font-size: 1.875em;
    line-height: 1.8;
  }
  .windows-at-low-prices .owl-stage-outer {
    overflow: visible;
  }
  .windows-at-low-prices .owl-stage {
    max-width: 44.5em;
    margin-left: auto;
    margin-right: auto;
  }
  .windows-at-low-prices .owl-item {
    width: 21.538em !important;
  }
  .windows-at-low-prices .owl-item:nth-child(odd) {
    margin-right: 1.2em;
  }
  .windows-at-low-prices__item {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 2.188em;
    padding: 1.4em 1em 1em 1em;
    min-height: 29.2em;
  }
  .windows-at-low-prices__title {
    margin-bottom: 1.138em;
    font-size: 1.125em;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
  .windows-at-low-prices__price {
    margin-left: 0.9em;
    font-size: 1.875em;
  }
  .windows-at-low-prices__price-box {
    margin-bottom: 0.913em;
  }
  .windows-at-low-prices__img {
    margin-bottom: 1.763em;
  }
  .windows-at-low-prices__img--big {
    max-width: 17.775em;
  }
  .windows-at-low-prices__saving {
    margin-right: 2em;
    padding-top: 0.2em;
  }
  .windows-at-low-prices__saving:before {
    left: -0.94em;
    top: 0.4em;
    width: 2.29em;
    height: 2.17em;
  }
  .windows-at-low-prices__saving:after {
    top: 1.2em;
  }
  .windows-at-low-prices__saving-text {
    font-size: 0.625em;
  }
  .windows-at-low-prices__saving-price {
    font-size: 1.250em;
  }
  .windows-at-low-prices__order-text {
    font-size: 0.875em;
  }
  .windows-at-low-prices .button {
    max-width: 10.563em;
  }
}

@media (min-width: 1200px) {
  .windows-at-low-prices {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .windows-at-low-prices .title {
    margin-bottom: 0.463em;
    font-size: 2.500em;
  }
  .windows-at-low-prices__title {
    line-height: 1.4;
    letter-spacing: 0.01em;
  }
  .windows-at-low-prices .owl-stage {
    max-width: 60.5em;
  }
  .windows-at-low-prices .owl-item {
    width: 29.188em !important;
  }
  .windows-at-low-prices__item {
    margin-bottom: 1.088em;
    padding: 1.875em 1em 1em 1em;
    max-width: 29.1875em;
    min-height: 38.2em;
  }
  .windows-at-low-prices__img {
    max-width: 17.975em;
    margin-bottom: 1.875em;
  }
  .windows-at-low-prices__img--big {
    max-width: 25.475em;
  }
  .windows-at-low-prices__price {
    font-size: 2.5em;
    margin-left: 0.5em;
  }
  .windows-at-low-prices__price:after {
    margin-left: 0.2em;
  }
  .windows-at-low-prices__price-box {
    max-width: 34em;
    margin-bottom: 1.575em;
  }
  .windows-at-low-prices__saving {
    padding-top: 0.9em;
    padding-bottom: 0.2em;
    padding-right: 0.7em;
    padding-left: 1.3em;
    margin-right: 1.8em;
  }
  .windows-at-low-prices__saving:before {
    left: -1.44em;
    top: 0.6em;
    width: 3.29em;
    height: 3.07em;
  }
  .windows-at-low-prices__saving:after {
    top: 1.9em;
  }
  .windows-at-low-prices__saving-text {
    font-size: 1em;
    letter-spacing: 0.03em;
  }
  .windows-at-low-prices__saving-price {
    font-size: 1.875em;
  }
  .windows-at-low-prices__order-box {
    max-width: 24.2em;
    margin-bottom: 1.113em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .windows-at-low-prices__order-text {
    font-size: 1.188em;
  }
  .windows-at-low-prices .button {
    max-width: 12.130em;
  }
}
/*# sourceMappingURL=windows-at-low-prices.css.map */