@import "../../base/all/var";

.windows-installments,
.windows-installments__right,
.windows-installments__list-mark {
    position: relative;
}

.windows-installments {
    z-index: 1;
    &:before,
    &__list-mark:before,
    &__list-mark:after {
        content: '';
        position: absolute;
    }

}

.windows-installments {

    overflow: hidden;
    padding-top: 2.813em;
    padding-bottom: 2.813em;
    background: $yellow;

    &:before {
        top: 7em;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(45.89% 69.8%, 48.83% 68.15%, 51.41% 66.38%, 54.12% 63.94%, 57.19% 61.01%, 60.21% 57.99%, 63.09% 54.49%, 65.47% 51.76%, 68.21% 48.7%, 72.14% 43.72%, 76.16% 38.81%, 79.94% 34.13%, 84.96% 27.27%, 90% 20%, 100% 4.2%, 100% 100%, 0% 100%, 0% 80.6%, 13.2% 79.4%, 31.35% 75.29%);
        background: linear-gradient(266.8deg, #FFF854 0.02%, #FFE03E 101.17%);
    }
    
    .container {
        width: 100%;
    }

    &__left {
        display: none;
    }

    &__right {
        padding: 2.188em 1.625em 2.188em 1.525em;
        max-width: 35.5rem;
        background-color: $white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
    }

    &__title {
        margin-bottom: 0.75em;
        font-size: 2.000em;
        text-align: left;
    }

    &__list {

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 1.125em;
            font-size: 1.125em;
            font-weight: 700;
        }

        &-mark {
            display: inline-block;
            margin-right: 0.625em;
            width: 1.250em;
            height: 1.250em;
            background-color: $orange;
            border-radius: 50%;

            &:before,
            &:after {
                left: 0;
                background-color: $white;
                transform-origin: left bottom;
            }
            
            &:before {
                top: 50%;                
                width: 0.1em;
                height: 20%;                
                transform: translate(0.500em, -0.063em) rotate(-45deg);
            }

            &:after {
                bottom: 17%;
                width: 40%;
                height: 0.1em;
                transform: translate(0.550em, -0.188em) rotate(-45deg);
            }
        }

        &-span {
            font-size: 1.375em;
            margin-left: 0.3em;
        }

    }

    &__button {
        width: 100%;
    }

    @media (min-width: 450px) {

        
        &__right {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 768px) {

        padding-bottom: 0;
        background: linear-gradient(266.8deg, #FFF854 0.02%, #FFE03E 101.17%);
        
        &:before {
            top: 0;
            background: $yellow;
        }

        .container {
            width: calc(100% - 4rem);
            display: flex;
            justify-content: space-around;
        }

        &__left,
        &__circle {
            display: block;
        }

        &__image {
            display: none;
        }

        &__circle {
            position: relative;
            transform: translate(-1em, 1em);
            width: 16.688em;
            height: 16.688em;
            background-color: $orange;
            border-radius: 50%;

            &:before {
                content: '';
                position: absolute;
                top: 2em;
                right: -1em;
                width: 12.375em;
	            height: 8.500em;
                background: url('/wp-content/themes/twentytwenty-child/img/sprite.png') -52.125em -1.063em;
            }
        }

        &__right {
            min-width: 25.65em;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: 0;
            margin-right: 0;
        }

        &__title {
            max-width: 11em;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 1.875em;
        }

        &__list {

            &-item {
                font-size: 1.250em;
            }

            &-mark {
                margin-right: 0.425em;
            }

            &-span {
                font-size: 1.563em;
            }

        }

        &__button {
            font-size: 1.9rem;
        }

    }

    @media (min-width: 960px) {

        &__left,
        &__image {
            position: relative;
        }

        &__image {
            display: block;
            z-index: 1;
        }

        &__circle {
            position: absolute;
            top: -1em;
            right: -3em;
            width: 12.688em;
            height: 12.688em;

            &:before {
                top: 0.9em;
                width: 10.750em;
                height: 7.438em;
                background-position: -50.438em -11.563em;
            }
        }

    }

    @media (min-width: 1200px) {

        overflow: visible;

        &__left {
            min-width: 28em;
        }

        &__image {
            position: absolute;
            bottom: -0.1em;
            left: 0;
        }

        &__circle {
            right: -2em;
        }

        &__title {
            font-size: 2.188em;
        }

        &__right {
            min-width: 25.938em;
            padding: 1.588em 2.825em 1.1725em 3.625em;
        }

        &__list {

            &-item {
                margin-bottom: 0.825em;
            }

            &-mark {
                width: 0.875em;
                height: 0.875em;

                &:before {
                    transform: translate(0.35em, -0.03em) rotate(-45deg);
                }

                &:after {
                    transform: translate(0.39em, -0.088em) rotate(-45deg);
                }
            }

            &-span {
                font-size: 1.250em;
            }

        }

    }

}