@charset "UTF-8";
/*
*   Обрезка единиц измерений
*   https://css-tricks.com/snippets/sass/strip-unit-function/
*
*   $value: strip-unit(42px); // -> 42
*/
/*
*   Функция по динамичному изменению шрифта на сайте
*   https://m.habr.com/ru/post/310186/
*
*   $value: calcDynamicFontSize(16, 24, 480, 1280, px);
*/
.otzivi-o-kompanii3 {
  position: relative;
  background-color: #fff;
}

.otzivi-o-kompanii3 * {
  scrollbar-width: thin;
  scrollbar-color: #FFE600 #D0D0D0;
}

.otzivi-o-kompanii3 ::-webkit-scrollbar-track {
  background: #D0D0D0;
  border-radius: .5em;
}

.otzivi-o-kompanii3 ::-webkit-scrollbar {
  height: .4rem;
  background-color: #D0D0D0;
  border-radius: .5em;
}

.otzivi-o-kompanii3 ::-webkit-scrollbar-thumb {
  background: linear-gradient(236.8deg, #FFF854 0.02%, #FFE03E 101.17%);
  border-radius: .5em;
}

.otzivi-o-kompanii3 .youtube-wrapper {
  font-size: 18;
}

@media (min-width: 375px) {
  .otzivi-o-kompanii3 .youtube-wrapper {
    font-size: 18px;
    font-size: calc( 0.03053 * 100vw + 6.54962px);
  }
}

@media (min-width: 768px) {
  .otzivi-o-kompanii3 .youtube-wrapper {
    font-size: 30px;
  }
}

.otzivi-o-kompanii3 .youtube-wrapper input {
  display: none;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube, .otzivi-o-kompanii3 .youtube-wrapper .youtube_mini {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube, .otzivi-o-kompanii3 .youtube-wrapper iframe, .otzivi-o-kompanii3 .youtube-wrapper .youtube-img {
  display: none;
  width: 16.246em;
  height: 9.535em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .otzivi-o-kompanii3 .youtube-wrapper .youtube, .otzivi-o-kompanii3 .youtube-wrapper iframe, .otzivi-o-kompanii3 .youtube-wrapper .youtube-img {
    margin-left: 0;
  }
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube-img {
  background-size: contain;
}

.otzivi-o-kompanii3 .youtube-wrapper .wrapper-scroll {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  width: 16.246em;
  margin: 0 auto;
  padding: .25em 0 .35em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .otzivi-o-kompanii3 .youtube-wrapper .wrapper-scroll {
    margin-left: 0;
  }
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube_mini {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.417em;
          flex: 0 0 6.417em;
  height: 3.758em;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube_mini::before {
  display: none;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube_mini::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.52);
  height: 100%;
  width: 100%;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube::before, .otzivi-o-kompanii3 .youtube-wrapper .youtube_mini::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse opacity='0.5' cx='12.3129' cy='12.2143' rx='12.3129' ry='12.2143' fill='%23FFE600'/%3E%3Cpath d='M17.6328 12.2143L9.65109 16.7856L9.65109 7.64298L17.6328 12.2143Z' fill='white'/%3E%3Cpath d='M9.65234 7.64982V7.64307L17.6341 12.2144L16.3077 12.974L9.65234 7.64982Z' fill='%23F3EFC9'/%3E%3C/svg%3E");
  background-size: cover;
  position: absolute;
  height: 1.368em;
  width: 1.368em;
  font-size: 1.8rem;
  position: absolute;
  -webkit-transition: none;
  transition: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube:hover::before, .otzivi-o-kompanii3 .youtube-wrapper .youtube_mini:hover::before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube_mini:hover::before, .otzivi-o-kompanii3 .youtube-wrapper .youtube_mini.active_u::before {
  display: block;
}

.otzivi-o-kompanii3 .youtube-wrapper .youtube_mini:hover::after, .otzivi-o-kompanii3 .youtube-wrapper .youtube_mini.active_u::after {
  display: none;
}

.otzivi-o-kompanii3 .youtube-wrapper :checked + div,
.otzivi-o-kompanii3 .youtube-wrapper :checked + iframe {
  display: block;
}

@media (min-width: 768px) {
  .otzivi-o-kompanii3 .wrap-videos::-webkit-scrollbar {
    height: .5rem;
  }
  .otzivi-o-kompanii3 .youtube-wrapper {
    font-size: 1.97rem;
  }
}

@media (min-width: 1100px) {
  .otzivi-o-kompanii3 .youtube-wrapper {
    font-size: 3.319rem;
  }
}
/*# sourceMappingURL=otzivi-o-kompanii3-mobil.css.map */