@charset "UTF-8";
.calc-window {
  position: relative;
  min-height: 38.1rem;
  /* .calc-window__wrapper */
  /* .calc-window__title */
  /* calc-window__title-block */
  /* .calc-window__text */
  /* .calc-window__list */
  /* .calc-window__list-item */
  /* .calc-window__list-circl */
  /* .calc-window__list-icon */
  /* .calc-window__icon */
  /* calc-window__list-label */
  /* .calc-window__buttons */
  /* .calc-window__btn */
  /* .calc-window__btn--prew */
  /* .calc-window__btn--next */
  /* .calc-window__box-icon */
}

.calc-window input {
  -webkit-appearance: none;
  cursor: pointer;
}

.calc-window input[type="checkbox"],
.calc-window input[type="radio"] {
  display: none;
}

.calc-window .text {
  margin-bottom: 0;
}

.calc-window .text-m {
  font-size: 0.7em;
}

@media (min-width: 768px) {
  .calc-window .text-m {
    font-size: 0.9em;
  }
}

.calc-window .number {
  max-width: 41px;
}

@media (max-width: 767px) {
  .calc-window .title-none {
    display: none;
  }
}

.calc-window .none {
  display: none !important;
}

.calc-window .range,
.calc-window .number {
  display: block;
}

.calc-window .line {
  display: block;
  height: 0.2rem;
  width: 100%;
  margin: 0.813em 0;
  background-color: #e8e8e8;
}

.calc-window .blocking {
  pointer-events: none;
  opacity: 0.52;
}

.calc-window .icon {
  fill: #fff;
}

.calc-window .icon__del {
  width: 0.7rem;
  height: 0.7rem;
}

.calc-window .icon__copy {
  width: 0.7rem;
  height: 0.9rem;
}

.calc-window .icon__setting {
  width: 0.9rem;
  height: 0.9rem;
}

.calc-window .icon__plus {
  fill: #F26422;
  width: 2.1rem;
  height: 2.1rem;
}

.calc-window .icon__box-del {
  fill: #c9c9c9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 2.1rem;
  height: 2.1rem;
}

.calc-window .icon__box-check {
  fill: #c9c9c9;
  width: 2.7rem;
  height: 2.3rem;
}

@media (min-width: 768px) {
  .calc-window .icon__del {
    width: 1rem;
    height: 1rem;
  }
  .calc-window .icon__copy {
    width: 1rem;
    height: 1.1rem;
  }
  .calc-window .icon__setting {
    width: 1.2rem;
    height: 1.1rem;
  }
  .calc-window .icon__plus {
    fill: #F26422;
    width: 6.9rem;
    height: 6.9rem;
  }
}

.calc-window .calc-window__add {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: 0.2em solid #F26422;
  margin: 2em auto 1em;
}

@media (min-width: 768px) {
  .calc-window .calc-window__add {
    width: 10.1rem;
    height: 10.1rem;
    margin: auto 0;
    -webkit-transform: translateY(-3em);
            transform: translateY(-3em);
  }
  .calc-window .calc-window__add::after {
    content: attr(data-tooltip);
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 0.8em;
    display: block;
    padding: 0.2em 0.3906em;
    white-space: nowrap;
    border: 1px solid #dadada;
    border-radius: 3px;
    left: 0;
    bottom: -3em;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .calc-window .calc-window__add:hover::after {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .calc-window .calc-window__add::after {
    left: 100%;
    bottom: -1em;
  }
}

.calc-window .window-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #979797;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.calc-window .window-icon:hover {
  background-color: #F26422;
}

.calc-window .window-icon__del {
  right: -0.2rem;
  top: -0.2rem;
}

.calc-window .window-icon__copy {
  right: -0.2rem;
  bottom: -0.2rem;
}

.calc-window .window-icon__setting {
  left: -0.2rem;
  bottom: -0.2rem;
}

@media (min-width: 768px) {
  .calc-window .window-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  .calc-window .window-icon::after {
    content: attr(data-tooltip);
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 0.8em;
    display: block;
    padding: 0.2em 0.3906em;
    white-space: nowrap;
    border: 1px solid #dadada;
    border-radius: 3px;
    left: 1.7em;
    bottom: -1.7em;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .calc-window .window-icon:hover::after {
    opacity: 1;
  }
}

.calc-window .choice {
  cursor: pointer;
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .calc-window .choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 11.3em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    /* .choice__window */
    /* .choice__balkony */
  }
  .calc-window .choice__swipe {
    width: 5.6rem;
    height: 2.1rem;
    background-color: #FFE600;
    border-radius: 2rem;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
            box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .calc-window .choice__swipe::before {
    content: "";
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    left: 0.1rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .calc-window .choice__window {
    color: #F26422;
  }
  .calc-window .choice__balkony {
    color: #9a9a9a;
  }
  .calc-window .choice input:checked ~ .choice__window {
    color: #9a9a9a;
  }
  .calc-window .choice input:checked ~ .choice__balkony {
    color: #F26422;
  }
  .calc-window .choice input:checked ~ .choice__swipe::before {
    left: 3.7rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (min-width: 1200px) {
  .calc-window .choice {
    font-size: 3.2rem;
  }
  .calc-window .choice__swipe {
    width: 8rem;
    height: 3rem;
  }
  .calc-window .choice__swipe::before {
    width: 2.8rem;
    height: 2.8rem;
  }
  .calc-window .choice input:checked ~ .choice__swipe::before {
    left: 5.1rem;
  }
}

.calc-window__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.calc-window__title {
  margin-bottom: 1.16em;
  text-transform: uppercase;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .calc-window__title {
    margin-bottom: 0.86em;
    line-height: 1.1;
  }
}

@media (min-width: 1200px) {
  .calc-window__title {
    line-height: 1.25;
    margin-bottom: 0.8em;
  }
}

.calc-window__title-block {
  display: block;
}

@media (min-width: 1200px) {
  .calc-window__title-block {
    display: inline-block;
  }
}

.calc-window__text {
  text-align: center;
  margin-bottom: 1.625em;
}

@media (min-width: 768px) {
  .calc-window__text {
    margin-bottom: 1.325em;
    font-weight: 700;
  }
}

@media (min-width: 1200px) {
  .calc-window__text {
    margin-bottom: 1.625em;
  }
}

.calc-window__list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .calc-window__list {
    margin-bottom: 1.33em;
    padding: 0 6em;
  }
}

@media (min-width: 1200px) {
  .calc-window__list {
    padding: 0 4.5em;
  }
}

.calc-window__list-item {
  text-align: center;
  cursor: pointer;
}

.calc-window__list-item:hover .calc-window__list-circl {
  border: 0.15em solid #F26422;
}

.calc-window__list-item:hover .calc-window__icon {
  fill: #F26422;
}

.calc-window__list-item input:checked + .calc-window__list-label .calc-window__list-circl {
  border: 0.15em solid #F26422;
}

.calc-window__list-item input:checked + .calc-window__list-label .calc-window__list-circl .calc-window__icon {
  fill: #F26422;
}

.calc-window__list-circl {
  height: 8.6rem;
  width: 8.6rem;
  border: 0.2rem solid #d0d0d0;
  border-radius: 50%;
  margin-bottom: 0.563em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .calc-window__list-circl {
    height: 10.2rem;
    width: 10.2rem;
  }
}

@media (min-width: 1200px) {
  .calc-window__list-circl {
    height: 13.4rem;
    width: 13.4rem;
    margin-bottom: 1.2em;
  }
}

@media (min-width: 1200px) {
  .calc-window__list-icon {
    height: 6rem;
    width: 7.6rem;
  }
}

.calc-window__icon {
  height: 5.5rem;
  width: 5.5rem;
  fill: #d0d0d0;
}

@media (min-width: 768px) {
  .calc-window__icon {
    height: 6rem;
    width: 6rem;
  }
}

@media (min-width: 1200px) {
  .calc-window__icon {
    width: 8.5rem;
    height: 8.5rem;
  }
}

.calc-window label[class*="calc-window__icon"]::before, .calc-window label[class*="calc-window__icon"]::after {
  content: "";
  display: block;
}

.calc-window label[class*="calc-window__icon"]::before {
  height: 8.6rem;
  width: 8.6rem;
  background-color: #FFE600;
  border-radius: 50%;
  margin-bottom: 0.563em;
}

@media (min-width: 768px) {
  .calc-window label[class*="calc-window__icon"]::before {
    height: 15rem;
    width: 15rem;
  }
}

@media (min-width: 1200px) {
  .calc-window label[class*="calc-window__icon"]::before {
    height: 23.6rem;
    width: 23.6rem;
  }
}

.calc-window label[class*="calc-window__icon"]::after {
  background-repeat: no-repeat;
  background-image: url(/wp-content/themes/twentytwenty-child/img/calc_sprites.webp);
  background-size: 24.5em 20.75em;
  position: absolute;
  top: 2.8em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.37em;
}

.calc-window__list-label {
  cursor: pointer;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc-window__list-label .calc-window_icon--1::after {
  background-position-x: 15.918%;
  background-position-y: 18.09%;
  width: 9.188em;
  height: 8.313em;
}

.calc-window__buttons {
  -webkit-box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 23px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 2.5em;
  background-color: #fff;
  position: absolute;
  margin-top: auto;
  bottom: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.563em;
}

@media (min-width: 768px) {
  .calc-window__buttons {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
}

.calc-window__btn {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #17a1e3;
  font-weight: 700;
  padding: 0;
  outline: transparent;
}

.calc-window__btn::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.15em solid #17a1e3;
  border-top: 0.15em solid #17a1e3;
}

.calc-window__btn--prew::before {
  left: -1rem;
  -webkit-transform: rotate(-134deg);
          transform: rotate(-134deg);
  bottom: 0.39em;
}

@media (min-width: 768px) {
  .calc-window__btn--prew::before {
    left: -2rem;
  }
}

.calc-window__btn--next::before {
  bottom: 0.29em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -1rem;
}

@media (min-width: 768px) {
  .calc-window__btn--next::before {
    right: -2rem;
  }
}

@media (min-width: 768px) {
  .calc-window__btn, .calc-window__list-text, .calc-window__text {
    font-size: 1.8rem;
  }
}

.calc-window__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calc-window__box-icon {
  display: none;
}

@media (min-width: 768px) {
  .calc-window__box-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.4em solid #c9c9c9;
    left: 0;
    right: 0;
    margin: 0 1em;
    cursor: pointer;
  }
  .calc-window__box-icon:hover {
    border-color: #F26422;
    fill: #F26422;
  }
  .calc-window__box-icon:hover .icon__box-del {
    fill: #F26422;
  }
  .calc-window__box-icon:hover .icon__box-check {
    fill: #F26422;
  }
  .calc-window__box-icon::after {
    content: attr(data-tooltip);
    background-color: #fff;
    -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 0.8em;
    display: block;
    padding: 0.2em 0.3906em;
    white-space: nowrap;
    border: 1px solid #dadada;
    border-radius: 3px;
    bottom: -3em;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .calc-window__box-icon:hover::after {
    opacity: 1;
  }
}

/* ====================================== .calc-window-two ====================================== */
.calc-window-two {
  /* .calc-window-two__title */
  /* .calc-window-two__title */
  /* .calc-window-two__text */
  /* .calc-window-two__list */
  /* .calc-window-two__list-item */
  /* .calc-window-two__box */
  /* .calc-window-two__box-img-size */
  /* .calc-window-two__box-img */
  /* .calc-window-two__label */
}

.calc-window-two__title {
  display: none;
}

@media (min-width: 768px) {
  .calc-window-two__title {
    display: block;
    margin-bottom: 0.8em;
  }
}

@media (min-width: 768px) {
  .calc-window-two__subtitle, .calc-window-two__text {
    font-size: 1.8rem;
  }
}

.calc-window-two__text {
  max-width: 26rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .calc-window-two__text {
    max-width: none;
  }
}

.calc-window-two__list {
  margin: 3.69em 0 3.8em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calc-window-two__list-item {
  cursor: pointer;
  position: relative;
}

.calc-window-two__list-item:hover .calc-window-two__box {
  border: 0.15em solid #F26422;
}

.calc-window-two__list-item:hover .calc-window-two__box-img--1,
.calc-window-two__list-item:hover .calc-window-two__box-img--2,
.calc-window-two__list-item:hover .calc-window-two__box-img--3,
.calc-window-two__list-item:hover .calc-window-two__box-img--4 {
  opacity: 0.5;
}

.calc-window-two__list-item input:checked + .calc-window-two__box {
  border: 0.15em solid #F26422;
}

.calc-window-two__list-item input:checked + .calc-window-two__box .calc-window-two__box-img--1,
.calc-window-two__list-item input:checked + .calc-window-two__box .calc-window-two__box-img--2,
.calc-window-two__list-item input:checked + .calc-window-two__box .calc-window-two__box-img--3,
.calc-window-two__list-item input:checked + .calc-window-two__box .calc-window-two__box-img--4 {
  opacity: 0.5;
}

.calc-window-two__box {
  padding: 0.4em 0.45em;
  border: 0.15em solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  height: 9.85rem;
}

@media (min-width: 768px) {
  .calc-window-two__box {
    padding: 1em 1.1em;
    height: 21.75rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box {
    height: 28.7rem;
    background-size: 100% 100%;
  }
}

.calc-window-two__box--1 {
  width: 5.85rem;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-s.webp");
}

@media (min-width: 768px) {
  .calc-window-two__box--1 {
    padding: 1.1em 1em 1em 1.05em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-m.webp");
    width: 12.85rem;
    height: 21.75rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box--1 {
    padding: 1.4em 1.6em 1.3em 1.35em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-xl.webp");
    width: 17rem;
    height: 28.7rem;
  }
}

.calc-window-two__box--2 {
  width: 9.85rem;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-s.webp");
}

@media (min-width: 768px) {
  .calc-window-two__box--2 {
    padding: 1.1em 1em 0.9em 1.1em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-m.webp");
    width: 21.75rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box--2 {
    padding: 1.4em 1.4em 1.3em 1.5em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-xl.webp");
    width: 28.8rem;
  }
}

.calc-window-two__box--3 {
  width: 12.45rem;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-s.webp");
}

@media (min-width: 768px) {
  .calc-window-two__box--3 {
    padding: 0.8em 0.7em 0.7em 1em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-m.webp");
    width: 27.25rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box--3 {
    padding: 1.35em 1.5em 1.3em 1.45em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-xl.webp");
    width: 35.7rem;
  }
}

.calc-window-two__box-img-size {
  height: 4.98em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img-size {
    height: 11.48em;
  }
}

.calc-window-two__box-img-size--s {
  width: 2.54em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img-size--s {
    width: 5.54em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img-size--s {
    width: 8.94em;
  }
}

.calc-window-two__box-img-size--m {
  width: 2.14em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img-size--m {
    width: 4.84em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img-size--m {
    width: 6.44em;
  }
}

.calc-window-two__box-img-size--l {
  width: 1.8em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img-size--l {
    width: 4.055em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img-size--l {
    width: 5.155em;
  }
}

.calc-window-two__box-img {
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-bg-s.webp");
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .calc-window-two__box-img {
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-bg-m.webp");
  }
}

.calc-window-two__box-img--2 {
  background-position-x: -2.3em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img--2 {
    background-position-x: -5.3em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img--2 {
    background-position-x: -8.7em;
  }
}

.calc-window-two__box-img--3 {
  background-position-x: -2em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img--3 {
    background-position-x: -4em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img--3 {
    background-position-x: -7.3em;
  }
}

.calc-window-two__box-img--4 {
  background-position-x: -4.2em;
}

@media (min-width: 768px) {
  .calc-window-two__box-img--4 {
    background-position-x: -9.5em;
  }
}

@media (min-width: 1200px) {
  .calc-window-two__box-img--4 {
    background-position-x: -14.8em;
  }
}

.calc-window-two__label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

/* ====================================== .calc-window-three ====================================== */
.calc-window-three {
  /* .calc-window-three__text */
  /* .calc-window-three__inner */
  /* .calc-window-three__box */
  /* .calc-window-three__lable */
}

.calc-window-three__list-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .calc-window-three__list-item {
    position: relative;
  }
}

.calc-window-three__text {
  text-align: center;
}

@media (min-width: 768px) {
  .calc-window-three__text {
    max-width: 36em;
    margin: 0 auto 2em;
  }
}

.calc-window-three__inner {
  margin-top: 1.563em;
}

@media (min-width: 768px) {
  .calc-window-three__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.calc-window-three__box {
  position: relative;
  padding: 1em 1.1em;
  margin: 0 auto 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  height: 21.75rem;
}

@media (min-width: 768px) {
  .calc-window-three__box {
    height: 34.45rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-three__box {
    margin-bottom: 2.5em;
  }
}

.calc-window-three__box--1 {
  padding: 1.1em 1.2em 1em 1.05em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-m.webp");
  width: 12.85rem;
  height: 21.75rem;
}

@media (min-width: 768px) {
  .calc-window-three__box--1 {
    padding: 1.6em 1.8em 1.5em 1.65em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-xl.webp");
    width: 20.45rem;
    height: 34.45rem;
  }
}

.calc-window-three__box--2 {
  padding: 1.1em 1em 0.9em 1.1em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-m.webp");
  width: 21.75rem;
}

@media (min-width: 768px) {
  .calc-window-three__box--2 {
    padding: 1.65em 1.6em 1.5em 1.7em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-xl.webp");
    width: 34.55rem;
  }
}

.calc-window-three__box--3 {
  padding: 0.8em 0.7em 0.7em 1em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-m.webp");
  width: 26.85rem;
}

@media (min-width: 768px) {
  .calc-window-three__box--3 {
    padding: 1.6em 1.8em 1.4em 1.65em;
    background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-xl.webp");
    width: 42.75rem;
  }
}

.calc-window-three__lable {
  min-width: 60px;
  text-align: left;
  font-size: 0.7em;
}

@media (min-width: 768px) {
  .calc-window-three__lable {
    font-size: 1em;
    margin-right: 1em;
  }
}

@media (min-width: 1200px) {
  .calc-window-three__lable {
    display: none;
  }
}

.calc-window {
  /* .calc-window__box */
  /* .calc-window__size */
  /* .calc-window__form */
  /* .calc-window__block-form */
  /* .calc-window__block-text */
  /* .calc-window__block-modal */
  /* .calc-window__block-img */
  /* .calc-window__block-inner */
  /* .calc-window__block-check */
  /* .calc-window__block-check-lable */
  /* .calc-window__block-radio-lable */
  /* .calc-window__block-radio */
}

.calc-window__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calc-window__size {
  margin-bottom: 1.25em;
}

.calc-window__form {
  max-width: 18.125em;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .calc-window__form--1 {
    position: absolute;
    display: inline-block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-transform-origin: 173px 180px;
            transform-origin: 173px 180px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 0;
    left: -70px;
    top: -35px;
  }
  .calc-window__form--1 .range-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .calc-window__form--1 .range-slider__range {
    width: 21.425em;
  }
  .calc-window__form--1 .range-slider__value {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin-right: 1em;
    -webkit-transform-origin: 55px -10px;
            transform-origin: 55px -10px;
  }
  .calc-window__form--2 {
    margin: 0;
    max-width: 100%;
  }
  .calc-window__form--2 .range-slider {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calc-window__form--2 .range-slider__range {
    width: 100%;
    margin-bottom: 1em;
  }
}

.calc-window__block-form {
  width: 18.8em;
  border: 0.2em solid #e8e8e8;
  border-radius: 0.6em;
  margin: 0 auto;
  padding: 1.5rem 3.5rem 1.7rem 3.5rem;
}

@media (min-width: 768px) {
  .calc-window__block-form {
    margin: 0 0 auto;
    width: 16em;
    padding: 1.5rem 2.4rem 1.7rem;
  }
}

@media (min-width: 1200px) {
  .calc-window__block-form {
    width: 30.1rem;
  }
}

.calc-window__block-add {
  pointer-events: none;
  margin-top: 0.2em;
  opacity: 0.3;
}

.calc-window__block-text {
  font-size: 1em;
  display: inline-block;
  margin-right: 0.44em;
  margin-bottom: 1.0625em;
}

@media (min-width: 768px) {
  .calc-window__block-text {
    font-size: 1.8rem;
  }
}

.calc-window__block-modal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.calc-window__block-img {
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
}

@media (min-width: 1200px) {
  .calc-window__block-img {
    width: 1.5em;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
}

.calc-window__block-inner {
  text-align: left;
}

@media (min-width: 1200px) {
  .calc-window__block-inner {
    margin-left: 1em;
  }
}

.calc-window__block-check:checked + .calc-window__block-check-lable::before {
  background: url("/wp-content/themes/twentytwenty-child/img/check.svg");
  background-repeat: no-repeat;
  background-size: 6px 6px;
  background-position: center;
}

@media (min-width: 768px) {
  .calc-window__block-check:checked + .calc-window__block-check-lable::before {
    background-size: 8px 8px;
  }
}

@media (min-width: 1200px) {
  .calc-window__block-check:checked + .calc-window__block-check-lable::before {
    background-size: 10px 10px;
  }
}

.calc-window__block-check:checked ~ .calc-window__block-add {
  pointer-events: auto;
  opacity: 1;
}

.calc-window__block-check-lable {
  cursor: pointer;
  display: block;
  text-align: left;
  padding-left: 2.8rem;
  position: relative;
}

.calc-window__block-check-lable::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0.875em;
  height: 0.875em;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
}

@media (min-width: 1200px) {
  .calc-window__block-check-lable {
    font-size: 1.8rem;
    margin: 0.25em 0;
    display: inline-block;
  }
}

.calc-window__block-radio-lable {
  display: block;
  text-align: left;
  padding-left: 2.8rem;
  position: relative;
  line-height: 1.3em;
  cursor: pointer;
}

.calc-window__block-radio-lable::before {
  content: "";
  position: absolute;
  left: 0.1em;
  top: 0.2em;
  width: 0.715em;
  height: 0.715em;
  margin: 0 0.2em;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

.calc-window__block-radio:checked + .calc-window__block-radio-lable::before {
  background-color: #F26422;
}

/* ====================================== calc-window-four start ======================================  */
.deaf {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #c5e2ef;
  z-index: 1;
}

.type-open-right,
.type-open-left,
.type-open-up {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.type-open-right::before, .type-open-right::after,
.type-open-left::before,
.type-open-left::after,
.type-open-up::before,
.type-open-up::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 69%;
  background-color: #fff;
}

.type-open-right::before {
  bottom: -1.8rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.type-open-right::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -1.8rem;
}

@media (min-width: 768px) {
  .type-open-right::before {
    bottom: -2.8rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .type-open-right::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -2.8rem;
  }
}

.type-open-left::before {
  bottom: -1.8rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.type-open-left::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1.8rem;
}

@media (min-width: 768px) {
  .type-open-left::before {
    bottom: -2.8rem;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .type-open-left::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -2.8rem;
  }
}

.type-open-up::before, .type-open-up::after {
  height: 102%;
}

.type-open-up::before {
  bottom: -3px;
  -webkit-transform: rotate(-13.5deg);
          transform: rotate(-13.5deg);
  right: 23px;
}

.type-open-up::after {
  -webkit-transform: rotate(13.5deg);
          transform: rotate(13.5deg);
  left: 23px;
  bottom: -3px;
}

@media (min-width: 768px) {
  .type-open-up::before {
    bottom: -3px;
    -webkit-transform: rotate(-13.5deg);
            transform: rotate(-13.5deg);
    right: 38px;
  }
  .type-open-up::after {
    -webkit-transform: rotate(13.5deg);
            transform: rotate(13.5deg);
    left: 38px;
    bottom: -3px;
  }
}

.calc-window-four {
  /* .calc-window-four__img--1 */
}

.calc-window-four .calc-window-two__box-img {
  position: relative;
  opacity: 0.5;
}

.calc-window-four .calc-window-three__box--1 {
  padding: 1.1em 1.2em 1em 1.15em;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--1 {
    padding: 1.6em 1.9em 1.5em 1.65em;
  }
}

.calc-window-four .calc-window-three__box--3 {
  padding: 0.8em 1.1em 1.1em 0.95em;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--3 {
    padding: 1.6em 1.9em 1.5em 1.65em;
  }
}

.calc-window-four .calc-window-three__box--2 .type-open-right::before, .calc-window-four .calc-window-three__box--2 .type-open-right::after,
.calc-window-four .calc-window-three__box--2 .type-open-left::before,
.calc-window-four .calc-window-three__box--2 .type-open-left::after,
.calc-window-four .calc-window-three__box--2 .type-open-up::before,
.calc-window-four .calc-window-three__box--2 .type-open-up::after {
  height: 65%;
}

.calc-window-four .calc-window-three__box--2 .type-open-right::before {
  bottom: -1.3rem;
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
}

.calc-window-four .calc-window-three__box--2 .type-open-right::after {
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
  top: -1.5rem;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--2 .type-open-right::before {
    bottom: -2.3rem;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .calc-window-four .calc-window-three__box--2 .type-open-right::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    top: -2rem;
  }
}

.calc-window-four .calc-window-three__box--2 .type-open-left::before {
  bottom: -1.3rem;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.calc-window-four .calc-window-three__box--2 .type-open-left::after {
  -webkit-transform: rotate(41deg);
          transform: rotate(41deg);
  top: -1.5rem;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--2 .type-open-left::before {
    bottom: -2.3rem;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .calc-window-four .calc-window-three__box--2 .type-open-left::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    top: -2rem;
  }
}

.calc-window-four .calc-window-three__box--2 .type-open-up::before, .calc-window-four .calc-window-three__box--2 .type-open-up::after {
  height: 102%;
}

.calc-window-four .calc-window-three__box--2 .type-open-up::before {
  bottom: -3px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  right: 18px;
}

.calc-window-four .calc-window-three__box--2 .type-open-up::after {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  left: 18px;
  bottom: -3px;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--2 .type-open-up::before {
    bottom: -3px;
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
    right: 30px;
  }
  .calc-window-four .calc-window-three__box--2 .type-open-up::after {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg);
    left: 30px;
    bottom: -3px;
  }
}

.calc-window-four .calc-window-three__box--3 .type-open-right::before, .calc-window-four .calc-window-three__box--3 .type-open-right::after,
.calc-window-four .calc-window-three__box--3 .type-open-left::before,
.calc-window-four .calc-window-three__box--3 .type-open-left::after,
.calc-window-four .calc-window-three__box--3 .type-open-up::before,
.calc-window-four .calc-window-three__box--3 .type-open-up::after {
  height: 59%;
  background-color: #fff;
}

.calc-window-four .calc-window-three__box--3 .type-open-right::before {
  bottom: -0.7rem;
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
}

.calc-window-four .calc-window-three__box--3 .type-open-right::after {
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
  top: -0.7rem;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--3 .type-open-right::before {
    bottom: -1.3rem;
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  .calc-window-four .calc-window-three__box--3 .type-open-right::after {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
    top: -1.2rem;
  }
}

.calc-window-four .calc-window-three__box--3 .type-open-left::before {
  bottom: -0.7rem;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
}

.calc-window-four .calc-window-three__box--3 .type-open-left::after {
  -webkit-transform: rotate(34deg);
          transform: rotate(34deg);
  top: -0.7rem;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--3 .type-open-left::before {
    bottom: -1.3rem;
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
  }
  .calc-window-four .calc-window-three__box--3 .type-open-left::after {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
    top: -1.2rem;
  }
}

.calc-window-four .calc-window-three__box--3 .type-open-up::before, .calc-window-four .calc-window-three__box--3 .type-open-up::after {
  height: 100%;
}

.calc-window-four .calc-window-three__box--3 .type-open-up::before {
  bottom: -3px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  right: 15px;
}

.calc-window-four .calc-window-three__box--3 .type-open-up::after {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  left: 18px;
  bottom: -3px;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-three__box--3 .type-open-up::before {
    bottom: -3px;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    right: 25px;
  }
  .calc-window-four .calc-window-three__box--3 .type-open-up::after {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    left: 25px;
    bottom: -3px;
  }
}

.calc-window-four .calc-window-two__box-img-size {
  height: 11.48em;
}

.calc-window-four .calc-window-two__box-img-size--s {
  width: 100%;
}

.calc-window-four .calc-window-two__box-img-size--m {
  width: 4.84em;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-two__box-img-size--m {
    width: 7.84em;
  }
}

.calc-window-four .calc-window-two__box-img-size--l {
  width: 4.055em;
}

@media (min-width: 768px) {
  .calc-window-four .calc-window-two__box-img-size--l {
    width: 6.455em;
  }
}

.calc-window-four__img--1 {
  height: 100%;
  width: 100%;
}

/* ====================================== .calc-window-five ====================================== */
.calc-window-five__text {
  text-align: center;
  margin-bottom: 1.5em;
}

/* ====================================== .calc-window-six ====================================== */
@media (min-width: 768px) {
  .calc-window-six__modal-375 {
    display: none;
  }
}

.calc-window-six__modal-768 {
  display: none;
}

@media (min-width: 768px) {
  .calc-window-six__modal-768 {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .calc-window-six__modal-768 .calc-window__block-img {
    width: 1em;
  }
}

.calc-window-six .calc-window-three__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.calc-window-six__block-inner {
  margin-left: 0;
}

.calc-window-six__form {
  margin-bottom: 1.5625em;
}

@media (min-width: 768px) {
  .calc-window-six__form {
    margin: 0;
    max-width: 22.6rem;
    padding: 1.5rem 1.2rem 1.7rem;
    border-width: .1rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-six__form {
    padding: 1.5rem 3.5rem 1.7rem;
    max-width: 30.7rem;
  }
}

.calc-window-six__form--mid .line {
  margin: 0.413em 0;
}

/* ====================================== .calc-window-seven ====================================== */
.calc-window-seven {
  /* .calc-window-seven__inner */
  /* .calc-window-seven__block-check */
  /* .calc-window-seven__box-info */
  /* .calc-window-seven__box-img */
  /* .calc-window-seven__box-img-window */
  /* .calc-window-seven__img-1 */
  /* .calc-window-seven__box-img-name */
  /* .calc-window-seven__box-img-info */
  /* .calc-window-seven__block-payment */
  /* .calc-window-seven__payment */
  /* .calc-window-seven__payment-text */
  /* .calc-window-seven__payment-form */
  /* .calc-window-seven__payment-info */
  /* .calc-window-seven__payment-link */
}

.calc-window-seven__inner {
  margin: 2.5em 0;
}

@media (min-width: 768px) {
  .calc-window-seven__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 4.5em 0;
  }
}

.calc-window-seven__block-check {
  position: relative;
  max-width: 27.5rem;
  width: 100%;
  padding: 2.13em 1.2em 1em;
  margin: 0 auto;
  text-align: left;
  -webkit-box-shadow: 0px 20px 16px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 16px 2px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.calc-window-seven__block-check::before {
  content: "";
  position: absolute;
  width: 34.5rem;
  height: 5.3rem;
  background-color: #fff;
  border: 20px solid #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: -1;
  top: -1.5em;
  left: -2.1em;
}

@media (min-width: 768px) {
  .calc-window-seven__block-check::before {
    width: 38.2rem;
    height: 3.6em;
    top: -2em;
    left: -1.6em;
    border-width: 20px;
  }
}

.calc-window-seven__block-check::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 20px;
  width: 27.5rem;
  background-image: linear-gradient(135deg, #fff 25px, transparent 25px, transparent 75px, #fff 75px), linear-gradient(45deg, #fff 0, transparent 0, transparent 25px, #fff 25px);
  background-size: 19px 52px;
  background-position: -10px -17px;
}

@media (min-width: 768px) {
  .calc-window-seven__block-check::after {
    width: 20.57em;
    background-size: 30px 40px;
    background-position: -14px -17px;
    background-image: linear-gradient(135deg, #fff 25px, transparent 25px, transparent 75px, #fff 75px), linear-gradient(45deg, #fff 0, transparent 0, transparent 24px, #fff 24px);
  }
}

@media (min-width: 768px) {
  .calc-window-seven__block-check {
    max-width: 20.563em;
    padding: 1.8em 1.6em 1em;
  }
}

@media (min-width: 1200px) {
  .calc-window-seven__block-check {
    margin-top: 3em;
    max-height: 41em;
  }
}

.calc-window-seven__box-info {
  padding-bottom: 0.9375em;
  margin-bottom: 0.9375em;
  border-bottom: 0.1em dashed #c9c9c9;
}

.calc-window-seven__box-img {
  margin-bottom: 0.937em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.calc-window-seven__box-img-window {
  width: 5.625em;
  height: 3.875em;
}

@media (min-width: 768px) {
  .calc-window-seven__box-img-window {
    width: 8em;
    height: 4.813em;
  }
}

.calc-window-seven__img-1 {
  width: 2.313em;
  height: 100%;
  margin: 0 auto;
  padding: 0.3em 0.4em 0.3em 0.3em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-1-s.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .calc-window-seven__img-1 {
    width: 2.9em;
  }
}

.calc-window-seven__img-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3.9em;
  height: 100%;
  margin: 0 auto;
  padding: 0.31em 0.35em 0.3em 0.35em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-2-s.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.calc-window-seven__img-2 .calc-window-seven__img-2-inner {
  width: 1.35em;
}

@media (min-width: 768px) {
  .calc-window-seven__img-2 .calc-window-seven__img-2-inner {
    width: 1.85em;
  }
}

@media (min-width: 768px) {
  .calc-window-seven__img-2 {
    width: 4.9em;
    padding: 0.3em 0.45em 0.4em 0.35em;
  }
}

.calc-window-seven__img-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4.9em;
  height: 100%;
  margin: 0 auto;
  padding: 0.21em 0.39em 0.25em 0.35em;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-3-s.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.calc-window-seven__img-3 .calc-window-seven__img-3-inner {
  width: 1.15em;
}

@media (min-width: 768px) {
  .calc-window-seven__img-3 .calc-window-seven__img-3-inner {
    width: 1.5em;
    padding: 0.35em 0.49em 0.3em 0.35em;
  }
}

@media (min-width: 768px) {
  .calc-window-seven__img-3 {
    width: 6.2em;
    padding: 0.35em 0.5em 0.3em 0.35em;
  }
}

.calc-window-seven__img-1-inner {
  width: 100%;
  height: 100%;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-bg-s.webp");
  background-size: cover;
  opacity: 0.5;
  position: relative;
}

.calc-window-seven__img-1-inner .type-open-left::before,
.calc-window-seven__img-1-inner .type-open-right::before {
  bottom: -0.3em;
  right: 50%;
}

.calc-window-seven__img-1-inner .type-open-left::after,
.calc-window-seven__img-1-inner .type-open-right::after {
  top: -0.3em;
  right: 50%;
}

.calc-window-seven__img-1-inner .type-open-up::before, .calc-window-seven__img-1-inner .type-open-up::after {
  bottom: 0;
}

.calc-window-seven__img-1-inner .type-open-up::before {
  right: 6px;
}

.calc-window-seven__img-1-inner .type-open-up::after {
  left: 6px;
}

@media (min-width: 768px) {
  .calc-window-seven__img-1-inner .type-open-left::before,
  .calc-window-seven__img-1-inner .type-open-right::before {
    bottom: -0.4em;
    right: 50%;
  }
  .calc-window-seven__img-1-inner .type-open-left::after,
  .calc-window-seven__img-1-inner .type-open-right::after {
    top: -0.3em;
    right: 50%;
  }
  .calc-window-seven__img-1-inner .type-open-up::before, .calc-window-seven__img-1-inner .type-open-up::after {
    bottom: 0;
  }
  .calc-window-seven__img-1-inner .type-open-up::before {
    right: 9px;
  }
  .calc-window-seven__img-1-inner .type-open-up::after {
    left: 9px;
  }
}

.calc-window-seven__img-2-inner {
  width: 100%;
  height: 100%;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-bg-s.webp");
  background-size: cover;
  background-position-x: -1.3em;
  opacity: 0.5;
  position: relative;
}

.calc-window-seven__img-2-inner--1 {
  background-position-x: 0;
}

.calc-window-seven__img-2-inner .type-open-left::before,
.calc-window-seven__img-2-inner .type-open-right::before {
  bottom: -0.3em;
  right: 50%;
}

@media (min-width: 768px) {
  .calc-window-seven__img-2-inner .type-open-left::before,
  .calc-window-seven__img-2-inner .type-open-right::before {
    bottom: -0.4em;
  }
}

.calc-window-seven__img-2-inner .type-open-left::after,
.calc-window-seven__img-2-inner .type-open-right::after {
  top: -0.3em;
  right: 50%;
}

@media (min-width: 768px) {
  .calc-window-seven__img-2-inner .type-open-left::after,
  .calc-window-seven__img-2-inner .type-open-right::after {
    top: -0.4em;
  }
}

.calc-window-seven__img-2-inner .type-open-left::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.calc-window-seven__img-2-inner .type-open-left::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.calc-window-seven__img-2-inner .type-open-right::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.calc-window-seven__img-2-inner .type-open-right::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.calc-window-seven__img-2-inner .type-open-up::before, .calc-window-seven__img-2-inner .type-open-up::after {
  height: 102%;
  bottom: 1px;
}

.calc-window-seven__img-2-inner .type-open-up::before {
  right: 5px;
}

.calc-window-seven__img-2-inner .type-open-up::after {
  left: 5px;
}

@media (min-width: 768px) {
  .calc-window-seven__img-2-inner .type-open-left::before,
  .calc-window-seven__img-2-inner .type-open-right::before {
    bottom: -0.4em;
  }
  .calc-window-seven__img-2-inner .type-open-left::after,
  .calc-window-seven__img-2-inner .type-open-right::after {
    top: -0.4em;
  }
  .calc-window-seven__img-2-inner .type-open-up::before, .calc-window-seven__img-2-inner .type-open-up::after {
    height: 102%;
    bottom: -1px;
  }
  .calc-window-seven__img-2-inner .type-open-up::before {
    right: 8px;
    -webkit-transform: rotate(-11deg);
            transform: rotate(-11deg);
  }
  .calc-window-seven__img-2-inner .type-open-up::after {
    left: 8px;
    -webkit-transform: rotate(11deg);
            transform: rotate(11deg);
  }
}

.calc-window-seven__img-3-inner {
  width: 100%;
  height: 100%;
  background-image: url("/wp-content/themes/twentytwenty-child/img/calc-window-bg-s.webp");
  background-size: cover;
  background-position-x: 0;
  opacity: 0.5;
  position: relative;
}

.calc-window-seven__img-3-inner--2 {
  background-position-x: -1.1em;
  width: 1.25em !important;
}

@media (min-width: 768px) {
  .calc-window-seven__img-3-inner--2 {
    width: 1.48em !important;
  }
}

.calc-window-seven__img-3-inner--3 {
  background-position-x: -2.1em;
}

@media (min-width: 768px) {
  .calc-window-seven__img-3-inner--3 {
    background-position-x: -3em;
  }
}

.calc-window-seven__img-3-inner .type-open-left::before,
.calc-window-seven__img-3-inner .type-open-right::before {
  height: 60%;
  bottom: -0.15em;
  right: 50%;
}

.calc-window-seven__img-3-inner .type-open-left::after,
.calc-window-seven__img-3-inner .type-open-right::after {
  height: 60%;
  top: -0.15em;
  right: 50%;
}

.calc-window-seven__img-3-inner .type-open-left::before {
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.calc-window-seven__img-3-inner .type-open-left::after {
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.calc-window-seven__img-3-inner .type-open-right::before {
  -webkit-transform: rotate(37deg);
          transform: rotate(37deg);
}

.calc-window-seven__img-3-inner .type-open-right::after {
  -webkit-transform: rotate(-37deg);
          transform: rotate(-37deg);
}

.calc-window-seven__img-3-inner .type-open-up::before, .calc-window-seven__img-3-inner .type-open-up::after {
  height: 102%;
  bottom: 0px;
}

.calc-window-seven__img-3-inner .type-open-up::before {
  right: 4px;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.calc-window-seven__img-3-inner .type-open-up::after {
  left: 6px;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

.calc-window-seven__box-img-name {
  margin-right: 0.4464em;
}

.calc-window-seven__box-img-info span {
  color: #F26422;
  font-weight: 700;
}

@media (min-width: 768px) {
  .calc-window-seven__block-payment {
    max-width: 28.6rem;
    margin: auto;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .calc-window-seven__block-payment {
    max-width: 47rem;
  }
}

.calc-window-seven__payment {
  color: #d0d0d0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 1.04165em;
}

.calc-window-seven__payment span {
  display: block;
}

@media (min-width: 1200px) {
  .calc-window-seven__payment {
    margin-bottom: 1.975em;
  }
}

.calc-window-seven__payment-text {
  margin-bottom: 1.563em;
  text-align: center;
}

@media (min-width: 1200px) {
  .calc-window-seven__payment-text {
    margin-bottom: 3rem;
  }
}

.calc-window-seven__payment-form {
  margin-bottom: 1em;
  margin-bottom: 0.94em;
}

@media (min-width: 768px) {
  .calc-window-seven__payment-form {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .calc-window-seven__payment-form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.calc-window-seven__payment-form .form-contacts__box {
  max-width: 100%;
}

.calc-window-seven__payment-form .form-contacts__box::before, .calc-window-seven__payment-form .form-contacts__box::after {
  content: none;
}

@media (min-width: 768px) {
  .calc-window-seven__payment-form .form-contacts__box {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .calc-window-seven__payment-form .form-contacts__box {
    width: 100%;
    min-width: 17.625em;
  }
}

.calc-window-seven__payment-form .form-contacts__input {
  border: none;
  text-align: center;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 0;
  border-bottom: 0.3rem solid #C9C9C9;
}

@media (min-width: 768px) {
  .calc-window-seven__payment-form .form-contacts__input {
    max-width: 100%;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .calc-window-seven__payment-form .form-contacts__input {
    margin-bottom: 0;
    max-width: 22.5rem;
  }
}

@media (min-width: 768px) {
  .calc-window-seven__payment-form .form-contacts__button {
    max-width: 19.286em;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .calc-window-seven__payment-form .form-contacts__button {
    max-width: 22.5rem;
  }
}

.calc-window-seven__payment-info {
  margin-bottom: 4em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .calc-window-seven__payment-info {
    margin-bottom: 0;
  }
}

.calc-window-seven__payment-link {
  color: inherit;
}

/*******************************************************
***************ВРЕМЕННО ЗАКОМЕНТИРОВАЛ******************
***********************LEV******************************

.btn {
    transition: 0.35s ease-in-out;
}

.modal-text {
    margin-bottom: 0.9em;
}

.modal-title {
    text-align: center;
    margin-bottom: 1em;
}

.modal-btn {
    text-transform: uppercase;
    color: #c9c9c9;
    text-decoration: none;
    border: 1px solid #c9c9c9;
    width: 7.25em;
    text-align: center;
    padding: 0.673em 0 0.64em;
    border-radius: 0.5em;
    display: inline-block;
    margin: 0 1em;
    transition: all 0.3s;

    &:hover {
        border: none;
        color: #fff;
        background-color: $orange;
    }
}

.close-modal {
    position: absolute;
    width: 9px;
    height: 9px;
    top: -11px;
    right: 0px;
    display: block;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 9px;
        border-radius: 2px;
        background-color: #000;
        cursor: pointer;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.overlay {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;

    &.open {
        opacity: 1;
        pointer-events: inherit;
    }

    .modal {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.75);
        background: white;
        padding: 25px 11px;
        opacity: 0;
        pointer-events: none;
        transition: 0.35s ease-in-out;
        max-height: 100vh;
        overflow-y: auto;

        &.open {
            opacity: 1;
            pointer-events: inherit;

            .content {
                transform: translate(0, -0px);
                opacity: 1;
            }
        }

        .content {
            transform: translate(0, -10px);
            opacity: 0;
            transition: 0.35s ease-in-out;
        }

        .title {
            margin-top: 0;
        }
    }
}
******************************************
******************************************/
.range-slider {
  margin: 0 0 7px 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 186px;
  height: 3px;
  border-radius: 5px;
  background: #d0d0d0;
  outline: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .range-slider__range {
    margin-right: 1em;
  }
}

@media (min-width: 1200px) {
  .range-slider__range {
    margin-right: 0;
  }
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff9f1c;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #ff9f1c;
}

.range-slider__range::-moz-range-thumb {
  width: 7px;
  height: 7px;
  border: 0;
  border-radius: 50%;
  background: #ff9f1c;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #ff9f1c;
}

.range-slider__range:active::-moz-range-thumb {
  background: #ff9f1c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 41px;
  line-height: 14px;
  text-align: center;
  border-radius: 3px;
  padding: 0 10px;
  margin-left: 12px;
  border: 1px solid #d0d0d0;
  font-size: 0.6em;
}

@media (min-width: 768px) {
  .range-slider__value {
    margin: 0;
    width: 77px;
    line-height: 24px;
    font-size: 1em;
  }
}

::-moz-range-track {
  background-image: #d0d0d0;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
/*# sourceMappingURL=calc-window.css.map */